<novo-icon data-automation-id="basic-icon-candidate">candidate</novo-icon>
<novo-icon data-automation-id="basic-icon-job">job</novo-icon>
<novo-icon data-automation-id="basic-icon-company">company</novo-icon>
<novo-icon data-automation-id="basic-icon-lead">lead</novo-icon>
<novo-icon data-automation-id="basic-icon-opportunity">opportunity</novo-icon>
<br />
<i class="bhi-candidate" data-automation-id="basic-icon-class-candidate"></i>
<i class="bhi-person" data-automation-id="basic-icon-class-person"></i>
<i class="bhi-job" data-automation-id="basic-icon-class-job"></i>
<i class="bhi-company" data-automation-id="basic-icon-class-company"></i>
<i class="bhi-lead" data-automation-id="basic-icon-class-lead"></i>
<i class="bhi-opportunity" data-automation-id="basic-icon-class-opportunity"></i>