@import "../../../styles/global/variables.scss";
@import "../../common/typography/text.mixins";

.novo-autocomplete-options {
  list-style: none;
  background-color: $white;
  cursor: default;
  list-style: none;
  padding-inline-start: 0px !important;
  box-shadow: 0 -1px 3px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
