@import "../../../../styles/global/variables.scss";
@import "../text.mixins.scss";

:host {
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  transition: 0.2s ease-out;
  text-transform: uppercase;
  word-break: word-break;
  overflow-wrap: break-word;
  color: $dark;

  &.text-block {
    display: block;
    line-height: 1.2em;
  }

  &::ng-deep {
    novo-icon {
      vertical-align: top;
      font-size: 1em;
    }
  }

  @include text-sizing(1em, 1.1em, 1.2em);
  @include text-colors();
  @include text-margins();
}
