novo-tip-well {
    display: inline-block;
    margin: 1em 0 1em;
    > div {
        display: inline-block;
        border-radius: .25em;
        background-color: $off-white;
        color: $dark;
        padding: 1em;
        text-align: right;

        > div {
            display: flex;
            > i {
                flex-shrink: 0;
                text-align: center;
                margin-top: .3em;
                margin-right: 10px;
                color: #aaaaaa;
            }
            > p {
                width: 100%;
                max-width: 33em;
                text-align: left;
            }
        }
    }
}
