novo-tip-well {
    width: 100%;
    min-height: 3em;
    margin: 1em 0 1em;
    > div {
        border-radius: .25em;
        background-color: $off-white;
        color: $dark;
        padding: 1em;
        text-align: right;

        > div {
            display: flex;
            > i {
                flex: 1;
                text-align: center;
                margin-top: .5em;
            }
            > p {
                flex: 12;
                text-align: left;
            }
        }
    }
}
