<button theme="secondary" icon="collapse" [menu]="menu">Actions</button>

<!-- Menu Template -->
<novo-menu #menu>
  <ng-template menuItem (execute)="clickMe($event)">Preview</ng-template>
  <ng-template menuItem (execute)="clickMe($event)">Edit</ng-template>
  <ng-template menuItem [divider]="true"></ng-template>
  <ng-template menuItem (execute)="clickMe($event)">Delete</ng-template>
</novo-menu>

<button theme="icon" icon="more" [menu]="icons"></button>

<!-- Menu Template -->
<novo-menu #icons>
  <ng-template menuItem (execute)="clickMe($event)">
    <novo-icon>preview</novo-icon>
    <span>Preview</span>
  </ng-template>
  <ng-template menuItem (execute)="clickMe($event)">
    <novo-icon>edit</novo-icon>
    <span>Edit</span>
  </ng-template>
  <ng-template menuItem [divider]="true"></ng-template>
  <ng-template menuItem class="red" (execute)="clickMe($event)">
    <novo-icon>delete-o</novo-icon>
    <span>Delete</span>
  </ng-template>
</novo-menu>