<novo-button theme="secondary" icon="collapse" [menu]="menu">Actions</novo-button>

<!-- Menu Template -->
<novo-menu #menu>
  <novo-option id="mi-preview" *menuItem (click)="clickMe($event)">Preview</novo-option>
  <novo-option id="mi-edit" *menuItem (click)="clickMe($event)">Edit</novo-option>
  <novo-option id="mi-disabled" *menuItem (click)="clickMe($event)" disabled>Disabled</novo-option>
  <novo-divider *menuItem></novo-divider>
  <novo-option id="mi-delete" *menuItem (click)="clickMe($event)">
    <span>Delete</span>
    <novo-icon novoSuffix>delete-o</novo-icon>
  </novo-option>
</novo-menu>


<novo-button theme="icon" icon="more" [menu]="icons"></novo-button>

<!-- Menu Template -->
<novo-menu #icons>
  <novo-option *menuItem (click)="clickMe($event)">
    <novo-icon>preview</novo-icon>
    <span>Preview</span>
  </novo-option>
  <novo-option *menuItem (click)="clickMe($event)">
    <novo-icon>edit</novo-icon>
    <span>Edit</span>
  </novo-option>
  <novo-divider *menuItem></novo-divider>
  <novo-option *menuItem class="red" (click)="clickMe($event)">
    <novo-icon>delete-o</novo-icon>
    <span>Delete</span>
  </novo-option>
</novo-menu>