<div>
    <novo-tiles [options]="views" [(ngModel)]="view"></novo-tiles>
</div>
<div [ngSwitch]="view">
    <novo-calendar-month
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    (dayClicked)="dayClicked($event)">
    </novo-calendar-month>

    <novo-calendar-week
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    (eventClicked)="dayClicked($event)">
    </novo-calendar-week>

    <novo-calendar-day
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    (eventClicked)="dayClicked($event)">
    </novo-calendar-day>
</div>
