header[theme] {
    &>section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        i.header-icon {
            padding: 12px;
        }
        .header-titles {
            display: flex;
            flex-direction: column;
            padding: 0px 8px;
            h1 {
                font-size: 1.7em;
                margin: 0;
                padding: 0;
                display: inline-block;
                font-weight: 500;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding-right: 20px;
            }
            header-spacer {
                display: inline-block;
                height: 1.8em;
                width: 2px;
                margin: 0 0.6em;
            }
        }
        >section {
            flex: 2 2 250px;
            min-width: 100px;
        }
        utils {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }
    @each $basic,
    $color in $all-colors {
        &[theme='#{$basic}'] {
            background: $color;
            color: #fff;
            &>section.primary {
                background: $color;
            }
            header-spacer {
                background: darken($color, 10%);
            }
        }
    }
    &[theme='light'],
    &[theme='off-white'],
    &[theme='white'] {
        color: $dark;
    }
    &>main {
        padding: 4px 16px 4px 32px;
    }
    &>novo-nav {
        padding-left: 16px;
        &.block {
            padding-left: 0;
        }
    }
    &.condensed {
        font-size: 1.2em;
        button[theme][theme="icon"] {
            width: 25px !important;
            height: 30px !important;
            padding: 5px;
        }
    }
}
