@mixin dark-variables {
  --background-body: #{$color-midnight}; //#202b38;
  --background-main: #{$color-darkness}; //#161f27;
  --background-bright: #{$color-moonlight}; //#1a242f
  --background-dark: #{$color-onyx}; //e2e2e2
  --background-muted: #{$color-neutral};
  --selection: #{$color-ocean}; // #1c76c5;
  --text-selection: #{$color-white};
  --text-main: #{$color-light};
  --text-muted: #{$color-stone};
  --text-disabled: #a9b1ba;
  --links: #{$color-sky-blue}; // #41adff;
  --focus: #0096bfab;
  --border: #{$color-onyx};
  --code: #ffbe85;
  --animation-duration: 0.1s;
  --button-background: #{$dark};
  --button-text: #{$light};
  --button-hover: #324759;
  --scrollbar-thumb: var(--button-hover);
  --scrollbar-thumb-hover: var(--button-hover);
  --form-placeholder: #a9a9a9;
  --form-text: #fff;
  --variable: #d941e2;
  --highlight: #efdb43;
}

.theme-dark {
  @include dark-variables();

  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}
