<header [theme]="theme" condensed>
  <novo-action icon="convert" tooltip="Change Theme" (click)="changeTheme()"></novo-action>
  <novo-action icon="refresh" tooltip="Show Popup" (click)="catchEv('refresh', $event)"></novo-action>
  <novo-action icon="times" tooltip="Show Popup" (click)="catchEv('close', $event)"></novo-action>

  <novo-icon color="white" [name]="icon">{{icon}}</novo-icon>
  <novo-title>
    <span class="id">123456</span>
    <novo-divider vertical></novo-divider>
    <span class="name">Steve Jobs</span>
  </novo-title>
  <section class="links">
    <button theme="icon" color="white" [icon]="'google'"></button>
    <button theme="icon" color="white" [icon]="'linkedin-f'"></button>
    <button theme="icon" color="white" [icon]="'location'"></button>
  </section>
</header>
<novo-nav theme="white" direction="horizontal">
  <novo-tab>
    <span>Overview</span>
  </novo-tab>
  <novo-tab>
    <span>Activity</span>
  </novo-tab>
  <novo-tab>
    <span>Email</span>
  </novo-tab>
</novo-nav>