$small-themed-icon-size: 1.6em;
$medium-themed-icon-size: 2em;
$large-themed-icon-size: 2.4em;
$small-icon-size: 1em;
$medium-icon-size: 1.4em;
$large-icon-size: 1.8em;
$icon-border-radius: 0.3em;
novo-icon {
  display: inline-block;
  i {
    display: flex;
    justify-content: center;
    align-items: center;
    * {
      display: none;
    }
  }
  @each $basic, $color in $all-colors {
    &[theme='#{$basic}'] {
      i {
        color: $white;
        background: $color;
        border-radius: $icon-border-radius;
      }
      &[size='small'] {
        i {
          font-size: 1em;
          width: $small-themed-icon-size;
          height: $small-themed-icon-size;
        }
      }
      &[size='medium'] {
        i {
          font-size: 1.2em;
          width: $medium-themed-icon-size;
          height: $medium-themed-icon-size;
        }
      }
      &[size='large'] {
        i {
          font-size: 1.4em;
          width: $large-themed-icon-size;
          height: $large-themed-icon-size;
        }
      }
    }
  }
  @each $basic, $color in $all-colors {
    &[color='#{$basic}'] {
      i {
        color: $color;
        &:before {
          color: $color;
        }
      }
    }
  }
  &[size='small'] {
    i {
      width: $small-icon-size;
      height: $small-icon-size;
    }
  }
  &[size='medium'] {
    i {
      width: $medium-icon-size;
      height: $medium-icon-size;
    }
  }
  &[size='large'] {
    i {
      width: $large-icon-size;
      height: $large-icon-size;
    }
  }
  &[raised='true'] {
    i {
      // background-color: rgba(0, 0, 0, .25);
      box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
    }
  }
}
