// Colors
// --------------------------------------------------
$black: #000000;
$white: #ffffff;
$grey: #999999;
$off-white: #f4f4f4;
$dark: #3D464D;
$light: #D9DADC;
$navy: #0D2D42;
$pulse: #3BAFDA;

// Analytics Colors
$aqua: #3BAFDA;
$ocean: #4A89DC;
$mint: #37BC9B;
$grass: #8CC152;
$sunflower: #F6B042;
$bittersweet: #EB6845;
$grapefruit: #DA4453;
$carnation: #D770AD;
$lavender: #967ADC;

// Entity Colors
$company: #3399DD;
$candidate: #44BB77;
$navigation: #2F384F;
$lead: #AA6699;
$contact: #FFAA44;
$opportunity: #662255;
$job: #BB5566;
$submission: #747884;
$sendout: #747884;
$placement: #0B344F;
$note: #747884;

// Color Applications
$positive: $ocean;
$success: $grass;
$negative: $grapefruit;
$warning: $sunflower;
$background: $off-white;
$background-dark: #E2E2E2;
$neutral: #747884;
$empty: #CCCDCC;

/*
===================
    Color Maps
===================
*/

// Analytics Color Map
$analytics-colors: (
    aqua: $aqua,
    ocean: $ocean,
    mint: $mint,
    grass: $grass,
    sunflower: $sunflower,
    bittersweet: $bittersweet,
    grapefruit: $grapefruit,
    carnation: $carnation,
    lavender: $lavender
);

// Entity Color Map
$entity-colors: (
    company: $company,
    candidate: $candidate,
    navigation: $navigation,
    lead: $lead,
    contact: $contact,
    opportunity: $opportunity,
    job: $job,
    submission: $submission,
    sendout: $sendout,
    placement: $placement,
    note: $note,
    task: $neutral,
    distributionList: $neutral
);

// Generic Color Map
$colors: (
    positive: $ocean,
    success: $grass,
    negative: $grapefruit,
    warning: $sunflower,
    background: $off-white,
    black: $black,
    white: $white,
    grey: $grey,
    off-white: $off-white,
    dark: $dark,
    light: $light,
    pulse: $pulse,
    neutral: $neutral
);

// Loading Dot Color Map
$dot-colors: (
    ocean: $ocean,
    lavender: $lavender,
    grapefruit: $grapefruit,
    sunflower: $sunflower,
    mint: $mint
);

// Typography
// -------------------------
$base-font-size: 14px;
$base-font-family: "Roboto", sans-serif;
$base-font-color: $dark;
$base-line-height: 24px;
$alt-font-family: Georgia, "Times New Roman", Times, serif;

// Whiteframes
// -------------------------
$whiteframe-shadow-z1: 0px 2px 5px 0 rgba(0, 0, 0, 0.26) !default;
$whiteframe-zindex-z1: 1 !default;
$whiteframe-shadow-z2: 0px 8px 17px rgba(0, 0, 0, 0.2) !default;
$whiteframe-zindex-z2: 2 !default;
$whiteframe-shadow-z3: 0px 17px 50px rgba(0, 0, 0, 0.19) !default;
$whiteframe-zindex-z3: 3 !default;
$whiteframe-shadow-z4: 0px 16px 28px 0 rgba(0, 0, 0, 0.22) !default;
$whiteframe-zindex-z4: 4 !default;
$whiteframe-shadow-z5: 0px 27px 24px 0 rgba(0, 0, 0, 0.2) !default;
$whiteframe-zindex-z5: 5 !default;

// Z-indexes
// -------------------------

// Function to call z-indexes.
// Usage: z-index: z('modal');

@function z($layer) {
    $z-layers: (
        "goku": 9001,
        "modal": 500,
        "tooltip": 100,
        "toast": 90,
        "dialogue": 80,
        "bottom-sheet": 70,
        "sidenav": 60,
        "backdrop": 50,
        "fab": 20,
        "default": 1,
        "below": -1,
        "bottomless-pit": -9000
    );

    @if not map-has-key($z-layers, $layer) {
        @warn "No layer found for `#{$layer}` in $z-layers map. Property omitted.";
    }

    @return map-get($z-layers, $layer);
}

// Easing Curves
// -------------------------
// Usage: html-tag { @include ease('all', 'swift-ease-in-out'); }

$easing-curves: (
    "swift-ease-out":(
        "duration": 400ms,
        "curve": "cubic-bezier(0.25, 0.8, 0.25, 1)"
    ),
    "swift-ease-in": (
        "duration": 300ms,
        "curve": "cubic-bezier(0.55, 0, 0.55, 0.2)"
    ),
    "swift-ease-in-out": (
        "duration": 500ms,
        "curve": "cubic-bezier(0.35, 0, 0.25, 1)"
    )
);

@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }

    @return $map;
}

@mixin ease($target, $curve-name) {
    $duration: map-deep-get($easing-curves, $curve-name, "duration");
    $curve: map-deep-get($easing-curves, $curve-name, "curve");
    transition: #{$target $duration $curve};
}

// Animations
// -------------------------
@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    75% {
        transform: rotateZ(200deg);
    }
    100% {
        transform: rotateZ(180deg);
    }
}

@keyframes half-rotate {
    0% {
        transform: rotateZ(45deg);
    }
    75% {
        transform: rotateZ(100deg);
    }
    100% {
        transform: rotateZ(90deg);
    }
}

@keyframes rotateBack {
    0% {
        transform: rotateZ(90deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    75% {
        transform: translateX(0px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
