<div [formGroup]="parentForm" class="condition-group-container">
  <novo-stack [formArrayName]="controlName" gap="md">
    <ng-container
      *ngFor="let andGroup of root.controls; let andIndex = index; let isFirst = first;let isLast = last;">
      <ng-container [formGroupName]="andIndex">
        <novo-flex class="condition-row" align="end" gap="sm">
          <novo-dropdown *ngIf="!isFirst && qbs.allowedGroupings.length > 1; else labeledGroup">
            <button theme="dialogue" icon="collapse" size="sm">{{qbs.getConjunctionLabel(controlName)}}</button>
            <novo-optgroup>
              <novo-option *ngFor="let c of qbs.allowedGroupings" (click)="updateControlName(c)">
                {{qbs.getConjunctionLabel(c)}}</novo-option>
            </novo-optgroup>
          </novo-dropdown>
          <ng-template #labeledGroup>
            <novo-label *ngIf="!isFirst" color="ash" size="xs" uppercase padding="sm">
              {{qbs.getConjunctionLabel(controlName)}}</novo-label>
          </ng-template>
          <novo-condition-builder [groupIndex]="groupIndex" [andIndex]="andIndex" [isFirst]="isFirst"></novo-condition-builder>
          <novo-button theme="icon" icon="delete-o" color="negative" (click)="removeCondition(andIndex)"
            [disabled]="cantRemoveRow(isFirst)">
          </novo-button>
        </novo-flex>
      </ng-container>
    </ng-container>
    <button theme="dialogue" data-automation-id="add-advanced-search-condition" icon="add-thin" side="left" size="sm" uppercase padding="sm" (click)="addCondition()">
      {{ labels.addCondition }}</button>
  </novo-stack>
  <!-- <button class="and-or-button" theme="secondary" size="sm" (click)="addRootCondition()">{{ addCriteriaLabel }}</button> -->
</div>