header {
    &.novo-header {
        & > section.primary {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 15px 25px;

            h1 {
                font-size: 1.5em;
                margin: 0;
                display: inline-block;
                font-weight: 400;
                max-width: 70%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            utils {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
        }
        @each $analytics, $color in $analytics-colors {
            &[theme="#{$analytics}"] {
                background: $color;
                color: #fff;
            }
        }
        @each $entity, $color in $entity-colors {
            &[theme="#{$entity}"] {
                background: $color;
                color: #fff;
            }
        }
        @each $basic, $color in $colors {
            &[theme="#{$basic}"] {
                background: $color;
                color: #fff;
            }
        }
        &[theme="white"],
        &[theme="off-white"],
        &[theme="light"] {
            color: $dark;
        }
    }
}
