@import "../../../../styles/variables.scss";
@import "../text.mixins.scss";

:host {
  display: block;
  font-size: var(--font-size-title);
  font-weight: 500;
  line-height: 1.175em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  // color: $dark;
  color: inherit;

  @include base-text-rules();
  @include text-sizing($font-size-lg, $font-size-2xl); // @include text-sizing(1.5rem, 1.8rem, 2.1rem);
  @include text-colors();
  @include text-margins();

  &::ng-deep {
    novo-icon {
      vertical-align: top;
      font-size: 1em;
    }
  }
}
