@import "../../../../styles/variables.scss";
@import "../text.mixins.scss";

:host {
  display: block;
  @include novo-title-text();

  &::ng-deep {
    novo-icon {
      vertical-align: top;
      font-size: 1em;
    }
  }
}
