// Hyperlinks
// --------------------------------------------------
a {
  color: var(--links);
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: color 200ms ease-in-out;
  &:visited {
    color: $font-color-link;
  }
  &:active,
  &:hover {
    color: darken($font-color-link, 10%);
  }
}

[data-theme='bh2026'] a {
  font-weight: unset;
}
