@import "~novo-design-tokens/scss";

html {
  scrollbar-color: var(--scrollbar-thumb) var(--background-body);
  scrollbar-width: none;
}

body {
  font-family: $font-family-body;
  line-height: 1.4;
  word-wrap: break-word;
  color: var(--text-main);
  background: var(--background-body);
  text-rendering: optimizeLegibility;
}

button,
input,
textarea {
  transition: background-color var(--animation-duration) linear, border-color var(--animation-duration) linear,
    color var(--animation-duration) linear, box-shadow var(--animation-duration) linear, transform var(--animation-duration) ease;
}
