// HTML Root
// --------------------------------------------------
html {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $base-font-color;
}

// Headers
// --------------------------------------------------
h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0.45rem 0 0.35rem;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  padding: 0.75rem 0 0.3rem;
}

h3 {
  font-size: 1.75rem;
  font-weight: 300;
  margin: 0;
  padding: 0.6rem 0 0.4rem;
}

h4 {
  font-size: 1.375rem;
  font-weight: 400;
  margin: 0;
  padding: 0.75rem 0 0.5rem;
}

h5 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
  padding: 0.75rem 0 0.25rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.45);
}

h6 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0;
  padding: 0.75rem 0 0.25rem;
}

// Body And Paragraph
// --------------------------------------------------
p {
  font-size: 1.2rem;
  line-height: 1.2;
  margin: 0;
  padding: 0.25rem 0 0.55rem;
  // max-width: 33rem;  // @bkimball removed this on 9/7/2018
}

// Special Classes
// --------------------------------------------------
.caption {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.55;
  letter-spacing: 0.1px;
}

h1.novo-section-header,
h2.novo-section-header,
h3.novo-section-header,
h4.novo-section-header,
h5.novo-section-header,
h6.novo-section-header {
  background: $off-white;
  box-sizing: content-box;
  font-weight: 400;
  display: flex;
  width: 100%;
  padding: 1rem 0.5rem 1rem 1.5rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  > i {
    display: flex;
    margin-right: 10px;
    &.bhi-section {
      // Special case for icons that are not vertically centered
      margin-top: -0.2rem;
    }
  }
}

// Iconography
// --------------------------------------------------
$icon-height: 1.7rem; // 24px Base background size
$icon-width: 1.7rem; // 24px Base background size
$base-icon-size: 1.4rem; //18px Base font-size
i {
  font-size: $base-icon-size;
  display: inline-block;
  &[theme] {
    &[theme="contained"] {
      font-size: 0.8rem;
      border-radius: 0.55rem;
      height: $icon-height;
      width: $icon-width;
      text-align: center;
      &:before {
        vertical-align: baseline;
        line-height: 1.8;
      }
      @each $entity, $color in $entity-colors {
        &.#{$entity} {
          color: $white;
          background: $color;
        }
      }
      @each $key, $color in $analytics-colors {
        &.#{$key} {
          color: $white;
          background: $color;
        }
      }
      &.large {
        font-size: 1.2rem;
      }
    }
    &[theme="entity"] {
      @each $entity, $color in $entity-colors {
        &.#{$entity} {
          color: $color;
          background: transparent;
        }
      }
    }
  }
}

// Nested icons
figcaption,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  > i {
    margin: 0 0.4rem 0 0;
    padding: 0;
    &:before {
      vertical-align: middle !important;
    }
    &[theme] {
      &[theme="contained"] {
        font-size: 0.8rem;
        vertical-align: 0.1rem;
        &:before {
          vertical-align: baseline;
          line-height: $icon-width;
          display: block;
        }
      }
    }
  }
}

// Hyperlinks
// --------------------------------------------------
a {
  color: $positive;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: color 200ms ease-in-out;
  &:visited {
    color: $positive;
  }
  &:active,
  &:hover {
    color: darken($positive, 10%);
  }
}

// Code
// --------------------------------------------------
code {
  font-size: 0.8rem;
  background: #f8f8f8;
  border: 1px solid #e9eaea;
  color: #4c545a;
  padding: 2px 4px;
}
