<novo-field class="example-chip-list" data-automation-id="chips-with-autocomplete-field">
  <novo-label>Favorite Fruits</novo-label>
  <novo-chip-list #chipList aria-label="Fruit selection" [formControl]="fieldCtrl" data-automation-id="chips-with-autocomplete-list">
    <novo-chip
      *ngFor="let fruit of chipList.value; index as i"
      [value]="fruit"
      (removed)="remove(fruit)"
      [attr.data-automation-id]="'chips-with-autocomplete-chip-' + i">
      {{fruit}}
      <novo-icon novoChipRemove>close</novo-icon>
    </novo-chip>
    <input
      #chipInput
      novoChipInput
      placeholder="New fruit..."
      autocomplete="off"
      [formControl]="searchCtrl"
      [novoChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (novoChipInputTokenEnd)="add($event)"
      data-automation-id="chips-with-autocomplete-input" />
  </novo-chip-list>
  <novo-autocomplete makeFirstItemActive (optionSelected)="selected($event)" multiple data-automation-id="chips-with-autocomplete">
    <novo-option *ngFor="let fruit of filteredFruits | async; index as i" [value]="fruit" [attr.data-automation-id]="'chips-with-autocomplete-option-' + i">
      {{fruit}}
    </novo-option>
  </novo-autocomplete>
</novo-field>

<div data-automation-id="chips-with-autocomplete-field-value">Chip List Value: {{fieldCtrl.value}}</div>
<div data-automation-id="chips-with-autocomplete-search-value">Search Input Control Value: {{searchCtrl.value}}</div>