<novo-field class="example-chip-list">
  <novo-label>Favorite Fruits</novo-label>
  <novo-chip-list #chipList aria-label="Fruit selection" [formControl]="fieldCtrl">
    @for (fruit of chipList.value; track fruit) {
      <novo-chip
        [value]="fruit"
        (removed)="remove(fruit)">
        {{fruit}}
        <novo-icon novoChipRemove>close</novo-icon>
      </novo-chip>
    }
    <input
      #chipInput
      novoChipInput
      placeholder="New fruit..."
      autocomplete="off"
      [formControl]="searchCtrl"
      [novoChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (novoChipInputTokenEnd)="add($event)" />
  </novo-chip-list>
  <novo-autocomplete makeFirstItemActive (optionSelected)="selected($event)" multiple>
    @for (fruit of filteredFruits | async; track fruit) {
      <novo-option [value]="fruit">{{fruit}}</novo-option>
    }
  </novo-autocomplete>
</novo-field>

<div>Chip List Value: {{fieldCtrl.value}}</div>
<div>Search Input Control Value: {{searchCtrl.value}}</div>
