@import "../../styles/variables.scss";

@include theme-colors() using ($name, $color, $contrast, $tint, $shade, $pale) {
  // Wonky deprecation: For 2026, stringently avoid using * selectors to apply font/color changes - prefer inherit functionality
  // This setup made it very hard to provide overrides.
  :host-context([theme="#{$name}"]).novo-item-content {
    color: rgba(#fff, 0.65);
  }
}

:host-context(.novo-list.avatar) {
  margin-left: 2.7em;
}

:host {
  display: flex;
  margin-left: 0.2em;
  
  &.novo-item-content {
    color: rgba(#434343, 0.85);
    ::ng-deep i {
      @include theme-colors() using ($name, $color, $contrast, $tint, $shade, $pale) {
        &.#{$name} {
          color: getCssVarname($name);
        }
      }
    }
  }
  &.vertical-list {
    flex-direction: column;
  }
  &.horizontal-list {
    flex-direction: row;
  }
}
