<form class="example-form">
  <novo-field class="example-full-width" data-automation-id="autocomplete-usage-field">
    <novo-label>Number</novo-label>
    <input type="text"
      novoInput
      [formControl]="myControl"
      placeholder="Pick one"
      autocomplete="off"
      data-automation-id="autocomplete-usage-input" />
    <novo-autocomplete #auto data-automation-id="autocomplete-usage">
      <novo-option *ngFor="let option of filteredOptions | async; index as i" [value]="option" [attr.data-automation-id]="'autocomplete-usage-option-' + i">
        {{option}}
      </novo-option>
    </novo-autocomplete>
  </novo-field>
</form>