$time-select-height: 45px;

novo-date-time-picker {
    display: block;
    width: 250px;
    min-width: 250px;
    overflow: hidden;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15), 0 2px 7px rgba(0, 0, 0, .1);
    z-index: 999;

    .date-time-container {
        position: relative;

        .view-container {
            position: relative;
        }

        .time-picker {
            position: absolute;
            height: 100%;
            background: #fff;
            transform: translateX(100%);
            transition: transform 200ms ease-in-out;
            z-index: 2;
            top: 0;
        }

        .date-time-tabs {
            border-bottom: 1px solid #e0e0e0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            height: 45px;

            & > span {
                text-align: center;
                flex: 1;
                cursor: pointer;
                transition: opacity 200ms ease-in-out;
                opacity: 0.6;

                &:hover {
                    opacity: 1 !important;
                }

                .meridian {
                    text-transform: uppercase;
                }
            }

            .indicator {
                position: absolute;
                width: 50%;
                height: 2px;
                bottom: 0;
                left: 0;
                background: $positive;
                transition: transform 200ms ease-in-out;
            }
        }
    }
    // Calendar Styles
    input[type=calendar] {
        padding: 6px;
        font-size: 14px;
        line-height: 14px;
        color: #333;
        width: 140px;
        display: inline-block;
        border: 2px solid #ddd;
        border-radius: 4px;
    }

    .calendar.popup {
        display: none;
        position: absolute;
        z-index: 999;
    }

    .calendar.popup.open {
        display: block;
    }

    .calendar {
        border-radius: 4px;
        width: 100%;
        text-align: center;
        background: #fff;
        color: #3A3A3A;
        -webkit-user-select: none;
        box-shadow: none;
        z-index: 1;
        position: relative;

        .calendar-top {
            display: flex;
            flex-flow: column;
            background: $positive;
            color: #fff;
            font-size: 14px;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;

            h1 {
                font-weight: 600;
                font-size: 4.2em;
                color: #fff;
                margin: 0;
                padding: 0;
            }

            h2 {
                font-weight: 300;
                opacity: 1;
                margin: 10px auto;
                padding: 0;
            }

            h3 {
                font-weight: 400;
                opacity: 0.4;
                margin: 15px auto;
                padding: 0;
            }

            h4 {
                background: rgba(0, 0, 0, .15);
                font-size: 1em;
                font-weight: 300;
                padding: 10px;
            }
        }

        .calendar-range {
            display: flex;
            flex-flow: row;

            span {
                text-align: center;
                margin: auto;
                text-transform: uppercase;
                line-height: 2.5em;
                width: 50%;
                border-bottom: 2px solid transparent;
                color: $grey;
                transition: all 300ms ease-in-out;
            }

            .active {
                color: $positive;
                border-bottom: 2px solid $positive;
            }

            & + .calendar-header {
                border-top: 1px solid #F0F0F0;
            }
        }

        .calendar-header {
            width: 100%;
            border-collapse: collapse;
            padding: 14px 0;
            -webkit-user-select: none;
            cursor: default;
            border-bottom: 1px solid #F0F0F0;

            .previous {
                width: 30px;
                height: 15px;
                display: inline-block;
                cursor: pointer;

                &:after {
                    content: '';
                    border-bottom: 4px solid transparent;
                    border-top: 4px solid transparent;
                    border-right: 4px solid #aaa;
                    display: inline-block;
                    height: 0;
                    vertical-align: middle;
                    width: 0;
                }

                &:hover:after {
                    border-right: 4px solid $positive;
                    cursor: pointer;
                }
            }

            .heading {
                width: calc(100% - 70px);
                display: inline-block;
                vertical-align: middle;
                color: $positive;
                font-weight: 600;

                .month {
                    border-radius: 2px;
                    padding: 3px 8px;

                    &:hover {
                        background: $positive;
                        color: #fff;
                        cursor: pointer;
                    }
                }

                .year {
                    border-radius: 2px;
                    padding: 3px 8px;

                    &:hover {
                        background: $positive;
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }

            .next {
                width: 30px;
                height: 15px;
                display: inline-block;
                cursor: pointer;

                &:before {
                    content: '';
                    border-bottom: 4px solid transparent;
                    border-top: 4px solid transparent;
                    border-left: 4px solid #aaa;
                    display: inline-block;
                    height: 0;
                    vertical-align: middle;
                    width: 0;
                }

                &:hover:before {
                    opacity: 1;
                    border-left: 4px solid $positive;
                    cursor: pointer;
                }
            }
        }

        .calendar-content {
            background: #fff;
            width: 100%;
            height: 230px;
            overflow-y: scroll;
            position: static;
            top: 0;
            left: 0;
            -webkit-padding-start: 0;
            -webkit-transform-origin: 209px 26px;
            -webkit-transform: scale(1);

            thead {
                background: #fff;

                th {
                    width: 30px;
                    padding: 10px 0;
                }
            }

            tbody {
                font-size: 0.9em;
            }

            .month,
            .year {
                text-align: center;
                padding: 4px 15px;
                color: #666666;
                overflow-x: hidden;
                text-overflow: ellipsis;
                margin: 5px;
                font-weight: normal;
                border-radius: 3px;

                &.selected {
                    background-color: $positive;
                    color: #fff;
                }

                &:hover {
                    cursor: pointer;
                    background-color: $positive;
                    color: #fff;
                }
            }

            .day {
                height: 30px;
                width: 30px;
                line-height: 27px;
                margin: 1px;
                border: none;
                background-color: transparent;
                border-radius: 50%;
                box-shadow: inset 0 0 0 2px transparent;
                transition: box-shadow 140ms ease-in-out;
                position: relative;

                &:focus {
                    outline: none;
                }

                &:disabled {
                    color: #D7D9E4;
                    cursor: not-allowed !important;
                    box-shadow: none !important;
                }
            }

            td {
                &.notinmonth {
                    //color: #D7D9E4;
                }

                &:hover {
                    .day {
                        cursor: pointer;
                        box-shadow: inset 0 0 0 2px $positive;
                    }
                }

                &.filler button {
                    background: $positive;
                    color: #fff;
                    height: 30px;
                    width: 100%;
                    border-radius: 0;
                }

                &.filler + .selected button,
                &.startfill + .selected button,
                &.startfill button {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    width: 100%;

                    .day {
                        box-shadow: 0;
                    }
                }

                &.startfill button {
                    border-radius: 50%;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    box-shadow: none !important;
                }

                &.selected {
                    .day {
                        background: $positive;
                        color: #fff;
                    }
                }

                &.today {
                    .day:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-15px);
                        border-radius: 100%;
                        width: 100%;
                        height: 100%;
                        max-width: 30px;
                        margin: 0 auto;
                        box-shadow: inset 0 0 0 2px $light;
                    }

                    &.filler,
                    &.selected {
                        .day:after {
                            box-shadow: inset 0 0 0 2px #9DBEFF;
                        }
                    }
                }
            }
        }

        .calendar-footer {
            width: 100%;
            padding: 15px 10px;
            text-align: left;

            .today {
                cursor: pointer;
                color: $positive;
            }
        }
    }
    // Time Styles
    .digital {
        height: $time-select-height;
        padding: 6.5px 15px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        border-bottom: 1px solid #f4f4f4;

        & > i {
            color: #aaa;
            font-size: 1.2em;
            transition: color 140ms ease-in-out;
        }

        &:hover {
            & > i {
                color: $positive;
            }
        }
    }

    .digital--inner {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .digital--clock {
        color: $dark;
        font-size: 1.4em;
        font-weight: 400;
        margin-right: 7px;
    }

    .control-block {
        display: inline-block;
    }

    .meridian-control-block {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 14px 0;
        justify-content: center;
        border-bottom: 1px solid #F0F0F0;
    }

    .digital--period {
        display: block;
        color: $positive;
        cursor: pointer;
        font-size: 1em;
        opacity: 0.6;
        text-transform: uppercase;
        font-weight: 400;
        margin: 0 20px;

        &.active {
            opacity: 1;
            font-weight: 600;
        }
    }
    /* ANALOG CLOCK
    ----------------------------- */
    .analog {
        height: 250px;
        width: 250px;
        top: 0;
        margin: 0 auto;
        background: #fff;
        z-index: 2;
        position: relative;
    }

    .analog--inner {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        position: absolute;
        transition: transform 125ms linear;
    }

    .analog--face {
        top: 5px;
        right: 5px;
        left: 5px;
        bottom: 5px;
        position: absolute;
        border-radius: 50%;
    }

    .analog--hand--hours {
        width: 240px;
        height: 240px;
        display: block;
        position: absolute;
        top: 0;
        border-radius: 50%;
        transform: rotate(0deg);
        transition: transform 100ms linear;
        z-index: 1;

        &:before {
            content: ' ';
            width: 2px;
            top: 0;
            bottom: 0;
            left: 30%;
            margin: 30%;
            z-index: -1;
            display: block;
            position: absolute;
            transform: rotate(90deg);
        }

        .analog--ball {
            height: 42px;
            width: 42px;
            display: block;
            right: -2px;
            top: 50%;
            margin-top: -21px;
            border-radius: 50%;
            position: absolute;
            border: 3px solid $positive;
            background: $positive;
        }

        &.hour-12 {
            transform: rotate(-90deg);
        }

        &.hour-1 {
            transform: rotate(-60deg);
        }

        &.hour-2 {
            transform: rotate(-30deg);
        }

        &.hour-3 {
            transform: rotate(0);
        }

        &.hour-4 {
            transform: rotate(30deg);
        }

        &.hour-5 {
            transform: rotate(60deg);
        }

        &.hour-6 {
            transform: rotate(90deg);
        }

        &.hour-7 {
            transform: rotate(120deg);
        }

        &.hour-8 {
            transform: rotate(150deg);
        }

        &.hour-9 {
            transform: rotate(180deg);
        }

        &.hour-10 {
            transform: rotate(210deg);
        }

        &.hour-11 {
            transform: rotate(240deg);
        }
    }

    .analog--hand--minutes {
        width: 200px;
        height: 200px;
        margin: 20px;
        display: block;
        position: absolute;
        top: 0;
        border-radius: 50%;
        transform: rotate(0deg);
        transition: transform 100ms linear;
        z-index: 1;

        &:before {
            left: 23%;
            margin: 33%;
            content: ' ';
            width: 2px;
            top: 0;
            bottom: 0;
            z-index: -1;
            display: block;
            position: absolute;
            transform: rotate(90deg);
        }

        .analog--ball {
            display: block;
            top: 50%;
            border-radius: 50%;
            position: absolute;
            height: 32px;
            width: 32px;
            right: 21px;
            margin-top: -16px;
            border: 2px solid lighten($positive, 10%);
            background: lighten($positive, 10%);
            transition: all 160ms ease-in-out;

            &.between {
                height: 1px;
                border-radius: 2em;
                margin-top: 0;
            }
        }

        &.min-00 {
            transform: rotate(-90deg);
        }
        @for $i from 1 through 9 {
            $deg: ($i * (30/5) - 90);

            &.min-0#{$i} {
                transform: rotate(#{$deg}deg);
            }
        }
        @for $i from 10 through 59 {
            $deg: ($i * (30/5) - 90);

            &.min-#{$i} {
                transform: rotate(#{$deg}deg);
            }
        }
    }

    .analog--center {
        height: 155px;
        width: 155px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        margin-top: -2px;
        margin-left: -2px;
        display: block;
        position: absolute;
        background-color: $background;
    }

    .analog--hour,
    .analog--minute {
        font-size: 1.6em;
        color: #666666;
        left: 50%;
        top: 50%;
        z-index: 3;
        text-align: center;
        width: 40px;
        padding: 8px 0;
        border-radius: 50%;
        cursor: pointer;
        margin-left: -20px;
        margin-top: -20px;
        position: absolute;

        &.active {
            color: #fff;
        }
    }

    .analog--minute {
        font-size: 1.0em;
        margin-left: -20px;
        margin-top: -16px;
    }

    .analog--hours,
    .analog--minutes {
        width: 250px;
        height: 100%;
        float: left;
        position: relative;
    }

    .analog--minutes {
        position: absolute;
    }
    $d: 4.5em;
    @for $i from 1 through 12 {
        $deg: ($i * 30 - 90);

        .analog--hour:nth-child(#{$i}) {
            transform: rotate(#{$deg}deg) translate($d) rotate(#{$deg*-1}deg);
        }

        .analog--minute:nth-child(#{$i}) {
            transform: rotate(#{$deg}deg) translate($d) rotate(#{$deg*-1}deg);
        }
    }

    &.military {
        $md: 8em;
        @for $i from 1 through 24 {
            $hour: $i - 1;
            $deg: ($i * 15 - 105);

            .analog--hour:nth-child(#{$i}) {
                transform: rotate(#{$deg}deg) translate($md) rotate(#{$deg*-1}deg);
            }

            .analog--hand--hours {
                top: -10px;
                left: -10px;

                &.hour-#{$hour} {
                    transform: rotate(#{$deg}deg);
                }
            }
        }

        .analog--face {
            top: 15px;
            right: 15px;
            left: 15px;
            bottom: 15px;
        }

        .analog--hour {
            font-size: 0.9em;
            margin-left: -20px;
            margin-top: -16px;
        }

        .analog--hand--minutes {
            margin: 10px;
        }

        .analog--hand--hours {
            .analog--ball {
                height: 32px;
                width: 32px;
                right: 2px;
                margin-top: -17px;
            }
        }
    }

    .time-footer {
        width: 100%;
        padding: 0 10px;
        text-align: left;

        .now {
            cursor: pointer;
            color: $positive;
        }
    }
    @keyframes select {
        from {
            opacity: 0.8;
            transform: scale(1);
        }

        to {
            opacity: 0;
            transform: scale(1.6);
        }
    }
}
