:host {
  div.card-container {
    min-height: 5em;
    div.info-card {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 1em;
      padding: 1em;
      background: $sand;
      height: 5em;
      border-radius: .25em;
    }
  }
}
