@import '../../styles/global/variables';
$off-white-border: 1px solid $off-white;

:host {
  h1 {
    color: $slate;
    margin: auto;
    font-size: 1.1em;
    padding: 1em;
    border-bottom: $off-white-border;
    //if it has submission
    .active {
      color: $ocean;
    }
  }

  .mini-check-all-container {
    border-bottom: $off-white-border;
    display: flex;
    align-items: baseline;
    novo-checkbox {
      flex-basis: 30%;
      padding: 1.5em 1.5em 1.5em 2em;
      border-right: $off-white-border;
    }
    .check-all-header {
      flex-basis: 70%;
      padding: 1em;
    }
  }

  box-shadow: 0 2px 3px rgba($black, 0.1);
  justify-content: flex-start;
  min-width: 15%;
  display: inline-block;
  vertical-align: top;
  background: $white;
  margin: 1em;
  border-radius: .5em;
  padding-bottom: 2em;

  #info-card-checkbox {
    padding: 1em 1em 1em 0;
  }

  #info-card-menu {
    padding-right: 1.5em;
  }

  #info-card-status-dot {
    color: $grass;
    padding-right: .5em;
    padding-left: .5em;
  }

  div.card-container {
    min-height: 5em;

    div.info-card {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 1em;
      padding: 1em;
      background: $sand;
      height: 5em;
      border-radius: .25em;
      box-shadow: 0 1px 2px rgba(0,0,0,0.15);
      transition: all 0.2s ease-in-out;
      position: relative;
      &:hover {
        cursor: grab;
        box-shadow: -2px 2px 2px 0px rgba($black,0.3);
        transform: translate(1px, -1px);
      }
      &:active {
        cursor: grabbing;
        transform: translate(0px, 0px);
        box-shadow: 0 1px 2px rgba(0,0,0,0.15);
      }
    }

    div.info-card::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: .25em;
      box-shadow: -2px 2px 2px 0px rgba($black,0.5);
      transition: opacity 0.3s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }
}
