novo-value {
  display: flex;
  flex-direction: row;
  max-width: 500px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;

  .value-outer {
    display: flex;
    flex-direction: column;
    label {
      color: #9e9e9e;
      font-size: 0.9em;
      flex: 1;
      font-weight: 500;
      transition: 200ms ease-out;
      text-transform: uppercase;
      overflow-wrap: break-word;
    }
  }
  @each $entity, $color in $entity-colors {
    i.#{$entity} {
      color: $color;
    }
  }
  .actions {
    i {
      cursor: default;
      color: #9e9e9e;
      margin-left: 15px;
      margin-top: 7px;
    }
    &.clickable {
      cursor: pointer;
      color: $ocean;
    }
  }
  novo-entity-list {
    display: block;
    .entity {
      padding-top: 6px;
      padding-bottom: 6px;
      font-size: 1.15em;
    }
    @each $entity, $color in $entity-colors {
      i.#{$entity} {
        color: $color;
      }
    }
    i {
      font-size: 1.1em;
      margin-right: 6px;
    }
  }
}
