<novo-table [rows]="selectAll.rows" [columns]="selectAll.columns" [config]="selectAll.config" (onTableChange)="selectAll.onTableChange($event)" #table>
    <novo-table-actions>
        <button theme="secondary" (click)="singleAction()">Click Me!</button>
        <novo-dropdown side="right" *ngIf="table.selected.length">
            <button theme="primary" icon="collapse" inverse>{{table.selected.length}} Selected</button>
            <list>
                <item (click)="selectedAction('action 1')">Action 1</item>
                <item (click)="selectedAction('action 2')">Action 2</item>
                <item (click)="selectedAction('action 3')">Action 3</item>
            </list>
        </novo-dropdown>
    </novo-table-actions>
</novo-table>
