form-demo {
    .example.form-demo {
        padding: 20px;
    }

    .dynamic-demo-footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 45px;
        border-top: 1px solid #f0f0f0;
        padding-top: 20px;

        & > button {
            margin-left: 10px;
        }
    }

    .text-input {
        novo-form {
            margin: 25px 0;
        }
    }

    .final-value {
        color: #afafaf;
        padding-bottom: 45px;
    }
}
