:host {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  // gap: 1.2rem;

  &::ng-deep {
    novo-icon {
      font-size: xx-large;
      i {
        margin: 0;
      }
    }
  }
  button {
    display: inline-block;
  }
}
