:host {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .novo-non-ideal-state-icon {
    font-size: xx-large;
  }

  button {
    display: inline-block;
  }
}
