@import "../../styles/variables.scss";
@import "../../common/typography/text.mixins";

:host {
  &.novo-field-appearance-outline {
    &.novo-field-layout-vertical {
      .novo-field-label {
        background: white;
        width: max-content;
        padding: 0.5rem;
      }
    }

    .novo-field-input {
      border: 1px solid var(--color-border) !important;
      border-radius: var(--border-radius);
      padding: var(--spacing-xs) var(--spacing-md);
    }
    &:not(.novo-focused):not(.novo-field-disabled):hover {
      .novo-field-input {
        border: 1px solid var(--color-border) !important;
      }
    }
    &.novo-focused {
      .novo-field-input {
        border: 1px solid var(--color-selection) !important;
      }
    }
    &.novo-field-invalid {
      .novo-field-input {
        border: 1px solid var(--color-error) !important;
      }
    }
    &.novo-field-disabled {
      .novo-field-input {
        color: var(--color-disabled);
        background-color: var(--color-disabled-overlay);
        border: 1px solid var(--color-disabled) !important;
      }
    }
  }
}
