@import "../../styles/variables.scss";
@import "../../common/typography/text.mixins";

:host {
  display: grid;
  position: relative;
  // margin: 0 0.5em;

  &.novo-field-layout-horizontal {
    grid-gap: 0rem 1rem;
    grid-template-columns: 150px minmax(min-content, max-content);
    grid-template-areas:
      "label input"
      ". messages";
  }

  &.novo-field-layout-vertical {
    grid-template-columns: minmax(min-content, 100%);
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    grid-template-areas:
      "label"
      "input"
      "messages";
    width: max-content;
  }

  .novo-field-label {
    grid-area: label;
    display: flex;
    align-items: flex-end;
    gap: var(--spacing-xs);
  }

  .novo-field-input {
    grid-area: input;
    display: grid;
    align-items: flex-end;
    grid-template-columns: minmax(auto, max-content) 1fr minmax(auto, max-content);
    flex: 1 1 100%;
    min-height: 2.9rem;
  }

  .novo-field-prefix {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .novo-field-infix {
    display: flex;
    align-items: center;
    select,
    &::ng-deep .novo-input-element {
      width: 100%;
    }
  }

  .novo-field-suffix {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .novo-field-messages {
    grid-area: messages;
    display: grid;
  }

  .novo-field-hint-wrapper {
    display: flex;
    flex-direction: column;
  }

  &::ng-deep {
    .novo-input-element {
      @include novo-body-text();
      border: none;
      background-image: none;
      background-color: transparent;
      box-shadow: none;
      padding: 0.4rem 0.2rem 0rem;
      border-bottom: none !important;

      &:focus {
        outline: none;
      }

      // Field Type Overrides
      .novo-date-range-format {
        min-width: 22rem;
      }

      &.novo-field-type-color {
        .novo-field-input {
          .novo-input-element {
            padding: 0;
          }
        }
      }
    }

    .novo-radio-group {
      padding: 0.5rem 0;
    }
  }

  .novo-field-required-marker {
    @include novo-label-text();
    color: var(--color-error);
  }
}
