@import "../../styles/variables.scss";
@import "../../common/typography/text.mixins";

:host {
  &.novo-field-appearance-standard {
    &.novo-field-appearance-underlined {
      .novo-field-input {
        border-bottom: 1px solid var(--color-border) !important;
      }
      &:not(.novo-focused):not(.novo-field-disabled):hover {
        .novo-field-input {
          border-bottom: 1px solid var(--color-border) !important;
        }
      }
      &.novo-focused {
        .novo-field-input {
          border-bottom: 1px solid var(--color-selection) !important;
        }
      }
      &.novo-field-invalid {
        .novo-field-input {
          border-bottom: 1px solid var(--color-error) !important;
        }
      }
      &.novo-field-disabled {
        .novo-field-input {
          color: var(--color-disabled);
          background-color: var(--color-disabled-overlay);
          border-bottom: 1px dashed var(--color-disabled) !important;
        }
      }
    }
  }
}
