@import "../../styles/variables.scss";
@import "../../common/typography/text.mixins";

:host {
  &.novo-field-appearance-fill {
    &.novo-field-layout-horizontal {
      .novo-field-input {
        background: var(--color-background-secondary);
      }
    }

    &.novo-field-layout-vertical {
      background: var(--color-background-secondary);
      .novo-field-label {
        padding-top: 0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
      }
      .novo-field-input {
        padding: 0 0.5em;
      }
    }

    &.novo-field-appearance-underlined {
      .novo-field-input {
        border-bottom: 1px solid var(--color-border) !important;
      }
      &:not(.novo-focused):hover {
        .novo-field-input {
          border-bottom: 1px solid var(--color-border) !important;
        }
      }
      &.novo-focused {
        .novo-field-label {
          color: var(--color-selection) !important;
        }
        .novo-field-input {
          border-bottom: 1px solid var(--color-selection) !important;
        }
      }
      &.novo-field-invalid {
        .novo-field-input {
          border-bottom: 1px solid var(--color-error) !important;
        }
      }
    }
  }
}
