<form [formGroup]="innerForm">
  <novo-stack [formArrayName]="controlName" class="criteria-builder-inner">
    <ng-container
      *ngFor="let andGroup of root.controls; let andIndex = index; let isFirst = first;let isLastAnd = last;">
      <novo-label *ngIf="!isFirst" color="ash" size="xs" uppercase padding="sm">{{ qbs.getConjunctionLabel('and') }}
      </novo-label>
      <novo-condition-group [hideFirstOperator]="hideFirstOperator" [canBeEmpty]="canBeEmpty" [groupIndex]="andIndex" [formGroupName]="andIndex"></novo-condition-group>
    </ng-container>
  </novo-stack>
</form>
<novo-condition-templates [addressConfig]="addressConfig"/>

<!--
  {
    $and: [{
      $or: [{
        entity: 'JobOrder'
        field: 'categories',
        operator: 'doesNotContain',
        value: 'Healthcare'
      }]
    }]
  }
 -->
