<section>
  <div class="example-label">Default</div>
  <div class="example-button-row">
    <button theme="primary" icon="next" data-automation-id="primary-next-button">Next</button>
    <button theme="primary" [color]="negativeColor" icon="times" data-automation-id="primary-cancel-button">Cancel</button>
    <button theme="primary" color="success" icon="check" data-automation-id="primary-save-button">Save</button>
    <button theme="primary" color="warning" icon="caution-o" data-automation-id="primary-caution-button">Caution</button>
    <button theme="primary" color="pulse" icon="send" disabled data-automation-id="primary-submit-button">Submit</button>
  </div>
</section>

<novo-divider></novo-divider>

<section>
  <div class="example-label">Small</div>
  <div class="example-button-row">
    <button theme="primary" icon="next" size="small" data-automation-id="primary-small-next-button">Next</button>
    <button theme="primary" [color]="negativeColor" icon="x" size="small" data-automation-id="primary-small-cancel-button">Cancel</button>
    <button theme="primary" color="success" icon="check" size="small" data-automation-id="primary-small-save-button">Save</button>
    <button theme="primary" color="warning" icon="caution-o" size="small" data-automation-id="primary-small-caution-button">Caution</button>
    <button theme="primary" color="pulse" icon="send" size="small" disabled data-automation-id="primary-small-submit-button">Submit</button>
  </div>
</section>

<novo-divider></novo-divider>

<section>
  <div class="example-label">Large</div>
  <div class="example-button-row">
    <button theme="primary" icon="next" size="large" data-automation-id="primary-large-next-button">Next</button>
    <button theme="primary" [color]="negativeColor" icon="times" size="large" data-automation-id="primary-large-cancel-button">Cancel</button>
    <button theme="primary" color="success" icon="check" size="large" data-automation-id="primary-large-save-button">Save</button>
    <button theme="primary" color="warning" icon="caution-o" size="large" data-automation-id="primary-large-caution-button">Caution</button>
    <button theme="primary" color="pulse" icon="send" size="large" disabled data-automation-id="primary-large-submit-button">Submit</button>
  </div>
</section>