<section>
  <div class="example-label">Default</div>
  <div class="example-button-row">
    <button theme="primary" icon="next">Next</button>
    <button theme="primary" [color]="negativeColor" icon="times">Cancel</button>
    <button theme="primary" color="success" icon="check">Save</button>
    <button theme="primary" color="warning" icon="caution-o">Caution</button>
    <button theme="primary" color="pulse" icon="send" disabled>Submit</button>
  </div>
</section>

<novo-divider></novo-divider>

<section>
  <div class="example-label">Small</div>
  <div class="example-button-row">
    <button theme="primary" icon="next" size="small">Next</button>
    <button theme="primary" [color]="negativeColor" icon="x" size="small">Cancel</button>
    <button theme="primary" color="success" icon="check" size="small">Save</button>
    <button theme="primary" color="warning" icon="caution-o" size="small">Caution</button>
    <button theme="primary" color="pulse" icon="send" size="small" disabled>Submit</button>
  </div>
</section>

<novo-divider></novo-divider>

<section>
  <div class="example-label">Large</div>
  <div class="example-button-row">
    <button theme="primary" icon="next" size="large">Next</button>
    <button theme="primary" [color]="negativeColor" icon="times" size="large">Cancel</button>
    <button theme="primary" color="success" icon="check" size="large">Save</button>
    <button theme="primary" color="warning" icon="caution-o" size="large">Caution</button>
    <button theme="primary" color="pulse" icon="send" size="large" disabled>Submit</button>
  </div>
</section>