distribution-list-picker-results {
  display: block;
  color: black;
  width: 100%;
  max-width: none;
  z-index: 99;
  background: $white;
  &.active {
    border: 1px solid $positive;
  }
  novo-list {
    max-height: 100%;
    min-height: 100%;
    background: $white;
    max-height: 330px;
    overflow-y: auto;
    overflow-x: hidden;
    novo-list-item {
      display: block;
      transition: background-color 250ms;
      border-bottom: 1px solid $background-dark;
      cursor: pointer;
      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
      item-title h6 {
        font-weight: 500;
        padding: 0.6em 0 0em;
        span {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          min-width: 100px;
          width: 80%;
          display: block;
        }
      }
      & > div {
        width: 100%;
        margin-left: 15px;
      }
      &.active {
        background-color: lighten($positive, 35%);
      }
      &:hover {
        background-color: lighten($positive, 35%);
      }
      item-content {
        flex-flow: row nowrap;
        justify-content: space-between;
        & > * {
          flex: 0 0 60%;
          white-space: nowrap;
        }
        p {
          margin-right: 0.5em;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          min-width: 100px;
          .label {
            font-weight: bold;
          }
        }
      }
    }
    novo-loading {
      justify-content: center;
    }
  }
  .picker-null,
  .picker-error,
  .picker-loading,
  .picker-no-recents {
    text-align: center;
    padding: 1em 0 4em;
    > i {
      font-size: 3em;
      margin: 0.5em;
      color: rgba(0, 0, 0, 0.3);
    }
    > h4,
    > p {
      margin: 0;
      max-width: none;
      padding: 0;
    }
    > h4 {
      font-weight: 500;
    }
    > p {
    }
  }
  section {
    box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.25);
    z-index: 9;
    position: absolute;
    width: 100%;
    background-color: white;
    color: black;
  }
}
