<span popover="Popover is to left of element" popoverTitle="Left PopOver" popoverPlacement="left" [popoverOnHover]="true">LEFT</span>
<span popover="Popover is to right of element" popoverTitle="Right PopOver" popoverPlacement="right" [popoverOnHover]="true">RIGHT</span>
<span popover="Popover is above the element" popoverTitle="Top PopOver" popoverPlacement="top" [popoverOnHover]="true">TOP</span>
<span popover="Popover is below the element" popoverTitle="Bottom PopOver" popoverPlacement="bottom" [popoverOnHover]="true">BOTTOM</span>
