.novo-data-table-saved-search {
    background: $white;
    max-height: 415px;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 10;
    border: 1px solid $ocean;
    &.active {
        display: block;
    }
    &.no-results {
        border: none;
    }
    .dropdown {
        position: relative;
    }
    .list-wrap {
        max-height: 300px;
        margin: 0;
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 20px;
        background: $white;
    }
    novo-list {
        novo-list-item.disabled,
        entity-picker-result.disabled {
            opacity: 0.5;
            pointer-events: none;
        }
        item-content {
            > p {
                font-size: 0.9em;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                padding-right: 1em;
                padding-left: 0.7em;
            }
        }
    }
    .create-as-new {
        position: absolute;
        bottom: -4px;
        width: 100%;
        text-align: center;
        border-top: 1px solid $submission;
        cursor: pointer;
        background-color: $off-white;
        padding: 7px;
        font-size: 10px;
        div {
            color: $positive;
            i {
                margin-left: 3px;
            }
            span {
                color: $black;
            }
        }
    }
    .no-match {
        width: 100%;
        text-align: center;
        padding: 5px;
        color: $grey;
    }

    novo-loading {
        justify-content: center;
    }
}
