toast-demo {
    .example {
        padding: 20px;
    }

    //radio-input {
    //    flex-wrap: wrap;
    //
    //    > div {
    //        margin-top: 5px;
    //        margin-bottom: 5px;
    //    }
    //}

    // @TODO @asibilia - reimplement novo-forms

    .fake-card {
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
        background: #fff;

        .content {
            padding: 20px;
        }
    }

    form {
        > * {
            display: block;
        }

        label {
            padding: 10px 0;
        }
    }
}
