{
    "extends": "bullhorn/angular2",
    "rules": {
        "global-require": 0,
        "no-console": 1
    },
    "globals": {
        "addProviders": false,
        "inject": false,
        "CKEDITOR": false,
        "VERSION": false,
        "ENV": false
    }
}
