{
    "extends": "bullhorn/angular2",
    "rules": {
        "global-require": 0
    },
    "globals": {
        "CKEDITOR": false,
        "VERSION": false,
        "ENV": false,
        "HMR": false,
        "beforeEachProviders": false
    }
}
