# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules/
npm-debug.log

# WebStorm
.idea/

# Atom
.jsbeautifyrc

# ignore build and dist for now
bundles/
dist/
coverage/
lib/
