.idea
logs

# typings
typings

# testing
karma.conf.js
test.bundle.js
coverage

# dev stuff
config
.github
.editorconfig
.npmignore
.travis.yml
spec-bundle.js
tsconfig.json
tsconfig.publish.json
tslint.json
typedoc.json
yarn.lock

# demo build
doc
demo
dist

# typescript sources
*.ts
*.js.map
!/bundles/*.js.map
!*.d.ts
!*.metadata.json
make.js
/components/**/*.ts
!/components/**/*.d.ts

factories
