{
    "useTabs": false,
    "tabWidth": 2,
    "singleQuote": true,
    "trailingComma": "all",
    "semi": true,
    "printWidth": 200,
    "arrowParens": "always",
    "jsxBracketSameLine": false
}
