{
  "extends": ["stylelint-config-standard", "stylelint-config-recommended-scss"],
  "rules": {
    "font-family-name-quotes": "always-where-recommended",
    "function-url-quotes": [
      "always",
      {
        "except": ["empty"]
      }
    ],
    "selector-attribute-quotes": "always",
    "import-notation": "string",
    "no-empty-source": null,
    "selector-class-pattern": "[a-z-]+",
    "selector-id-pattern": "[a-z-]+",
    "selector-max-id": 0,
    "media-feature-name-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "selector-type-no-unknown": [
      true,
      {
        "ignore": ["custom-elements", "default-namespace"]
      }
    ],
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": ["ng-deep"]
      }
    ],
    "unit-allowed-list": ["px", "%", "em", "rem", "vw", "vh", "vmin", "vmax", "ch", "deg", "s", "ms", "fr"],

    "selector-no-qualifying-type": null,
    "selector-max-compound-selectors": null,
    "selector-max-specificity": null,
    "no-descending-specificity": null,
    "max-nesting-depth": null,
    "declaration-no-important": null,
    "selector-max-universal": null,
    "property-no-vendor-prefix": null,
    "at-rule-no-vendor-prefix": null,
    "value-no-vendor-prefix": null,
    "scss/no-global-function-names": null,
    "scss/load-partial-extension": null,
    "scss/at-extend-no-missing-placeholder": null,
    "keyframes-name-pattern": null,
    "function-name-case": null
  }
}
