language: node_js

node_js:
  - "5"
  - "4"

cache:
  directories:
    - node_modules

addons:
  firefox: "latest"
  code_climate:
    repo_token: $CODECLIMATE_REPO_TOKEN

before_install:
  - npm install -g npm@latest
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - curl -Lo chrome.zip https://download-chromium.appspot.com/dl/Linux_x64 && unzip chrome.zip

before_script:
  - npm start &
  - sleep 3

script:
  - npm test
  - npm run e2e

after_success:
  - npm install codeclimate-test-reporter -g
  - codeclimate-test-reporter < coverage/lcov.info

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/f32378437048df440f25
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
