novo-picker {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 5px;
  transition: all 200ms ease-in-out;
  position: relative;
  &.selected,
  &.selected:hover {
    & + i {
      color: $positive;
    }
  }
  input {
    font-size: 1em;
    background: transparent !important;
    border: none;
    border-bottom: 1px solid lighten($dark, 45%);
    border-radius: 0;
    outline: none;
    height: 2rem;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 300ms;
    color: #26282b;
    &:hover {
      border-bottom: 1px solid lighten($dark, 15%);
    }
    &:focus {
      border-bottom: 1px solid $positive;
    }
    &:invalid {
      border-bottom: 1px solid #da4453;
    }
    &.entity-picker {
      padding-left: 2em;
    }
    &.entity-selected {
      padding-left: 2.5em;
      background: $off-white !important;
    }
    &:disabled {
      border-bottom: 1px dashed lighten($dark, 45%) !important;
    }
  }
  i.bhi-more {
    position: absolute;
    left: 0;
    top: 2px;
    background: $off-white;
    font-size: 1em;
    border-radius: 3px;
    padding: 3px;
  }
  i.entity-icon {
    position: absolute;
    left: 5px;
    top: 3px;
    font-size: 1em;
    border-radius: 3px;
    padding: 3px;
    color: $white;
    @each $entity, $color in $entity-colors {
      &.#{$entity} {
        background: $color;
      }
    }
  }
  i.bhi-search,
  i.bhi-times {
    position: absolute;
    right: 0;
    color: $dark;
    &.entity-selected {
      right: 5px;
    }
  }
  i.bhi-search {
    top: 6px;
    font-size: 1.1em;
  }
  i.bhi-times {
    top: 6px;
    cursor: pointer;
    font-size: 1em;
  }
}

.picker-results,
.quick-note-results,
entity-chip-results,
picker-results,
quick-note-results {
  display: block;
  cursor: pointer;
}

.picker-results,
.quick-note-results,
picker-error,
picker-loader,
picker-null-recent-results,
picker-null-results,
picker-results,
quick-note-results {
  background-color: $white;
  cursor: default;
  line-height: 26px;
  width: 100%;
  novo-list,
  ul {
    background-color: $white;
    max-height: 200px;
    overflow: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border: 1px solid $positive;
    transform: translateY(0%);
    transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
    display: block;
    novo-list-item,
    li {
      cursor: pointer;
      padding: 5px 16px;
      font-size: 0.9em;
      span {
        display: inline-block;
        min-width: 100px;
        margin: 2px 0;
      }
      h6 {
        padding-top: 0;
        font-weight: 400;
        color: lighten($dark, 35%);
        strong {
          font-weight: 400;
          color: $dark;
        }
      }
      &.active,
      &:focus,
      &:hover {
        background-color: lighten($positive, 35%);
      }
      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
      item-content {
        display: block;
      }
    }
    novo-loading {
      justify-content: center;
    }
  }
  ul {
    li {
      padding: 10px 16px;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }
  &.active {
    z-index: 1000;
  }
  &:focus {
    outline: none;
  }
}

novo-list-item.disabled,
entity-picker-result.disabled {
  opacity: 0.5;
  pointer-events: none;
}

entity-picker-result.active {
  > novo-list-item {
    background-color: lighten($positive, 35%);
  }
}

entity-picker-results {
  background: $white;
  width: 100%;
  novo-list {
    background: $white;
    item-content {
      > p {
        min-width: 15em;
        font-size: 0.9em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 1em;
      }
    }
    novo-loading {
      justify-content: center;
    }
  }
}

picker-error,
picker-loader,
picker-null-recent-results,
picker-null-results,
.picker-error,
.picker-loader,
.picker-null-recent-results,
.picker-null-results {
  background-color: $white;
  text-align: center;
  color: darken($light, 15%);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid $positive;
  transform: translateY(0%);
  transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
}

p.picker-error,
p.picker-loader,
p.picker-null-recent-results,
p.picker-null-results {
  max-width: inherit;
  padding: 5px;
}

picker-loader,
.picker-loader {
  background-color: $white;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid $positive;
  transform: translateY(0%);
  transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
}

novo-picker {
  padding-bottom: 0;
  &.ng-touched.ng-invalid:not(.ng-pristine) {
    > input,
    > input:hover,
    > input:focus {
      border-bottom-color: transparent !important;
    }
  }
}

entity-picker-results {
  novo-list {
    max-height: 49vh;
    overflow: auto;
  }
}

entity-picker-results,
picker-results {
  color: black;
  min-width: 100%;
  max-width: 100%;
  z-index: 10;
  top: 100%;
  novo-list {
    border: 1px solid #4a89dc;
    novo-list-item {
      cursor: pointer;
      flex: 0 0;
      transition: background-color 250ms;
      & > div {
        width: 100%;
      }
      &.active {
        background-color: lighten($positive, 35%);
      }
      &:hover {
        background-color: lighten($positive, 39%);
      }
      item-content {
        flex-flow: row wrap;
        & > * {
          flex: 0 0 33%;
          white-space: nowrap;
        }
      }
    }
  }
  .error-results,
  .no-recents,
  .null-results {
    text-align: center;
    padding: 1em 0 4em;
    > i {
      font-size: 3em;
      margin: 0.5em;
      color: rgba(0, 0, 0, 0.3);
    }
    > h4,
    > p {
      margin: 0;
      max-width: none;
      padding: 0;
    }
    > h4 {
      font-weight: 500;
    }
  }
  section {
    box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.25);
    z-index: 9;
    position: absolute;
    width: 100%;
    background-color: white;
    color: black;
  }
}

entity-picker-results {
  min-width: 250px;
}

// Shared specialty picker styles
workers-comp-codes-picker-results,
distribution-list-picker-results {
  display: block;
  color: black;
  width: 100%;
  max-width: none;
  z-index: 99;
  background: $white;
  padding: 1px;
  &.active {
    border: 1px solid $positive;
  }
  novo-list {
    min-height: 100%;
    background: $white;
    max-height: 330px;
    overflow-y: auto;
    overflow-x: hidden;
    novo-list-item {
      display: block;
      transition: background-color 250ms;
      border-bottom: 1px solid $background-dark;
      cursor: pointer;
      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
      item-title h6 {
        font-weight: 500;
        padding: 0.6em 0 0.5em;
        span {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          min-width: 100px;
          width: 80%;
          display: block;
        }
      }
      & > div {
        width: 100%;
        margin-left: 15px;
      }
      &.active {
        background-color: lighten($positive, 35%);
      }
      &:hover {
        background-color: lighten($positive, 35%);
      }
      item-content {
        flex-flow: row nowrap;
        justify-content: space-between;
        & > * {
          flex: 0 0 60%;
          white-space: nowrap;
        }
        p {
          margin-right: 0.5em;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          flex: 1;
          .label {
            font-weight: bold;
          }
        }
      }
    }
    novo-loading {
      justify-content: center;
    }
  }
  .picker-null,
  .picker-error,
  .picker-loading,
  .picker-no-recents {
    text-align: center;
    padding: 1em 0 4em;
    > i {
      font-size: 3em;
      margin: 0.5em;
      color: rgba(0, 0, 0, 0.3);
    }
    > h4,
    > p {
      margin: 0;
      max-width: none;
      padding: 0;
    }
    > h4 {
      font-weight: 500;
    }
    > p {
    }
  }
  section {
    box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.25);
    z-index: 9;
    position: absolute;
    width: 100%;
    background-color: white;
    color: black;
  }
}
