<!--Check out the FormDemo.js for more information!-->
<novo-form [form]="fieldInteractionForm" layout="vertical">
    <div class="novo-form-row">
        <novo-control [form]="fieldInteractionForm" [control]="salesTaxControl"></novo-control>
    </div>
    <div class="novo-form-row">
        <novo-control [form]="fieldInteractionForm" [control]="itemValueControl"></novo-control>
    </div>
    <div class="novo-form-row">
        <novo-control [form]="fieldInteractionForm" [control]="totalValueControl"></novo-control>
    </div>
    <br>
    <hr>
    <br>
    <div class="novo-form-row">
        <novo-control [form]="fieldInteractionForm" [control]="hasCommentsControl"></novo-control>
    </div>
    <div class="novo-form-row">
        <novo-control [form]="fieldInteractionForm" [control]="commentsControl"></novo-control>
    </div>
</novo-form>
<div class="final-value">Value: {{fieldInteractionForm.value | json}}</div>
