<novo-form [form]="groupForm" #groupFormRef>
    <novo-control-group [initialValue]="initialValue" remove="true" add="true" label="Horizontal" key="horizontal" [form]="groupForm" [controls]="controls"></novo-control-group>
    <novo-control-group [initialValue]="initialValue" remove="true" add="true" icon="idea" label="Vertical" key="vertical" vertical="true" [form]="groupForm" [controls]="controls"></novo-control-group>
</novo-form>
<div class="final-value">Value: {{ groupForm.value | json }}</div>
