<!--Check out the FormDemo.js for more information!-->
<novo-form [form]="textForm">
    <div class="novo-form-row">
        <novo-control [form]="textForm" [control]="textControl"></novo-control>
    </div>
    <div class="novo-form-row">
        <novo-control [form]="textForm" [control]="emailControl"></novo-control>
    </div>
    <div class="novo-form-row">
        <novo-control [form]="textForm" [control]="numberControl"></novo-control>
    </div>
    <div class="novo-form-row">
        <novo-control [form]="textForm" [control]="currencyControl"></novo-control>
    </div>
    <div class="novo-form-row">
        <novo-control [form]="textForm" [control]="floatControl"></novo-control>
    </div>
    <div class="novo-form-row">
        <novo-control [form]="textForm" [control]="percentageControl"></novo-control>
    </div>
    <div class="novo-form-row">
        <novo-control [form]="textForm" [control]="quickNoteControl"></novo-control>
    </div>
</novo-form>
<div class="final-value">Value: {{textForm.value | json}}</div>
