novo-control-group {
    .novo-section-header {
        box-sizing: border-box;
        margin: 0;
        align-items: center;
        justify-content: space-between;
        button {
            padding: 3px 15px;
        }
        >span {
            display: flex;
            align-items: center;
        }
        label.novo-control-group-description {
            font-size: 0.8em;
            font-weight: 500;
            padding-right: 10px;
        }
        i.bhi-section {
            margin-top: -10px;
        }
        i.bhi-next {
            cursor: pointer;
            transform: rotate(0deg);
            transition: all 300ms ease-out;
            &.toggled {
                transform: rotate(90deg);
            }
        }
        .clickable {
            cursor: pointer;
        }
    }
    .novo-control-group-controls {
        display: flex;
        flex-wrap: nowrap;
        padding: 1em;
        flex-direction: column;
        &.hidden {
            display: none !important;
        }
        novo-control {
            novo-select {
                min-width: 100%;
                max-width: 100%;
            }
        }
        &.horizontal {
            novo-control {
                margin: 0.5em 0;
                padding: 0 0.5em 0.5em 0;
                .novo-control-outer-container {
                    max-width: 100% !important;
                }
                &:first-of-type {
                    padding-left: 0;
                }
                &:last-of-type {
                    padding-right: 0;
                }
            }
        }
        &.vertical {
            .novo-control-group-control {
                flex-direction: column;
            }
            .novo-control-group-row {
                display: flex;
                align-items: center;
                border-bottom: 1px solid darken(#EAEAEA, 10%);
                margin-bottom: 1em;
                padding-bottom: 1em;
                &:last-of-type {
                    border-bottom: none;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }
        >.novo-control-group-labels {
            display: flex;
            padding: 0 0 1em;
            >.novo-control-group-control-label {
                flex: 1;
                >span {
                    color: #9e9e9e;
                    font-size: 0.9em;
                    font-weight: 500;
                    text-transform: uppercase;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &.last {
                    min-width: 40px;
                    max-width: 40px;
                }
            }
        }
        >.novo-control-group-row {
            .novo-control-group-control {
                display: flex;
            }
            div.novo-control-container {
                flex: 1;
                .novo-control-inner-container {
                    margin-right: 1em;
                }
                &.is-label {
                    display: flex;
                    align-items: center;
                }
                &.first {
                    > span i {
                        margin: 0;
                    }
                    min-width: 40px;
                    max-width: 40px;
                    margin-left: 0;
                    display: flex;
                    align-items: center;
                }
                &.last {
                    min-width: 40px;
                    max-width: 40px;
                    margin-right: 0;
                    display: flex;
                    align-items: center;
                }
            }
            button[theme="icon"] {
                padding: 3px;
                height: 30px;
                width: 30px;
                min-height: 30px;
                min-width: 30px;
                margin-left: 10px;
                i.bhi-delete-o {
                    color: $negative;
                    font-size: 1.2em;
                }
            }
        }
    }
}
