<div class="calendar-header">
  <novo-button theme="icon" icon="previous" size="small" (click)="prevMonth($event)"
    data-automation-id="calendar-previous" tabindex="0"></novo-button>
  @for (month of months; track month; let i = $index) {
    <span class="heading" [class.secondary]="i > 0">
      <span class="month" (click)="openView($event, 'months')"
        data-automation-id="header-month" tabindex="0">{{ month.label }}</span>
      <span class="year" (click)="openView($event, 'years')"
        data-automation-id="header-year" tabindex="0">{{ month.date?.getFullYear() }}</span>
    </span>
  }
  <novo-button theme="icon" icon="next" size="small" (click)="nextMonth($event)" data-automation-id="calendar-next" tabindex="0">
  </novo-button>
</div>
<section class="calendar-content">
  @switch (activeView) {
    @case ('days') {
      @for (month of months; track month; let i = $index) {
        @if (layout==='vertical' && i > 0) {
          <div class="calendar-header">
            <span class="previous" (click)="prevMonth($event)" data-automation-id="calendar-previous" tabindex="0"></span>
            <span class="heading">
              <span class="month" (click)="openView($event, 'months')"
                data-automation-id="header-month" tabindex="0">{{ month.label }}</span>
              <span class="year" (click)="openView($event, 'years')"
                data-automation-id="header-year" tabindex="0">{{ month.date?.getFullYear() }}</span>
            </span>
            <span class="next" (click)="nextMonth($event)" data-automation-id="calendar-next"></span>
          </div>
        }
        <novo-month-view
          class="month-view"
          [activeDate]="month.date"
          [selected]="selected"
          [preview]="preview"
          [overlays]="overlays"
          [isRange]="_isRange()"
          [hideOverflowDays]="months.length > 1"
          [weekStartsOn]="weekStartsOn"
          [disabledDateMessage]="disabledDateMessage"
          [minDate]="minDate"
          [maxDate]="maxDate"
          (select)="dateSelected($event)"
          (hover)="updatePreview($event)"></novo-month-view>
      }
    }
    @case ('months') {
      <novo-month-select
        [activeDate]="activeDate"
        [selected]="selected"
        (select)="monthSelected($event)">
      </novo-month-select>
    }
    @case ('years') {
      <novo-year-select
        [activeDate]="activeDate"
        [selected]="selected"
        (select)="yearSelected($event)">
      </novo-year-select>
    }
  }
</section>
