novo-tiles {
    border-radius: .5em;
    color: $grey;
    margin-left:3px;

    $border-properties: solid 2px lighten($grey, 20%);

    div.tile:nth-of-type(1) {
        border-top-left-radius: .5em;
        border-left: $border-properties;
        border-bottom-left-radius: .5em;
    }

    div.tile:last-child {
        border-top-right-radius: .5em;
        border-right: $border-properties;
        border-bottom-right-radius: .5em;
    }

    > div {
        cursor: pointer;
        display: inline-block;
        padding: 1em;
        text-align: center;
        background-color: $off-white;
        border-top: $border-properties;
        border-bottom: $border-properties;
        position: relative;
        transition: border-color 250ms, background-color 250ms, color 250ms;
        margin-left:-3px;

        &.active{
            display: inline-block;
            z-index: 1;
            padding: 1em calc(1em - 2px);
        }
        &:nth-of-type(1).active{
            padding: 1em calc(1em - 2px) 1em 1em;
        }

        label {
            transition: border-color 250ms, background-color 250ms, color 250ms;
            cursor: pointer;
            span {
                transition: border-color 250ms, background-color 250ms, color 250ms;
                cursor: pointer;
            }
        }

        &.active {
            border: solid 2px $positive!important;
            border-radius: .5em;
            background-color: white;
            label {
                span {
                    color: $positive;
                }
            }
        }
    }
}
