novo-tiles {
    display: inline-block;
    color: $grey;
    $border-width: 2px;
    $border-properties: solid $border-width lighten($grey, 20%);

    & > .tile-container {
        display: inline-block;
        //height: calc(2.5em + 4px);
        text-align: center;
        background-color: #f4f4f4;
        border: $border-properties;
        border-radius: 6px;
        position: relative;
        display: flex;
        cursor: pointer;
        align-items: center;

        &.disabled {
            opacity: .5;
        }

        .tile {
            padding: 10px 15px;
            line-height: 1.5em;
            height: 100%;
            z-index: 1;
            position: relative;
            cursor: pointer;

            &.active {
                color: $positive;
            }

            label {
                cursor: pointer;
                z-index: 1;
                position: relative;
            }
        }
    }

    span.active-indicator {
        position: absolute;
        top: -$border-width;
        left: -$border-width;
        height: calc(100% + #{$border-width*2});
        width: 100%;
        opacity: 0;
        z-index: 0;
        background: white;
        border: 2px solid $positive;
        border-radius: 6px;
        transition: all 140ms ease-in-out;
    }
}
