toast-demo {
    .example {
        padding: 20px;
    }

    .fake-card {
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
        background: #fff;

        .content {
            padding: 20px;
        }
    }

    form {
        > * {
            display: block;
        }

        label {
            padding: 10px 0;
        }
    }
}
