@import "~novo-design-tokens/scss";

:host {
  @each $color in $analyticKeys {
    $name: "color-#{$color}";

    .#{$name} {
      background: var(--#{$name});
      color: var(--#{$name}-contrast, #fff);
    }
  }

  .color-blocks {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--spacing-md);
  }

  .swatch {
    width: 230px;
    font-family: var(--font-family-mono);
    overflow: hidden;
  }

  .colorbox {
    width: 100%;
    height: 100px;
  }

  .colorname {
    padding: var(--spacing-md);
    span {
      display: block;
    }
  }
}
