<novo-toolbar data-automation-id="multi-row-toolbar">
  <novo-toolbar-row color="company" gap="md" data-automation-id="toolbar-row-header">
    <novo-icon>company</novo-icon>
    <novo-title>My App</novo-title>
    <span class="example-spacer"></span>
    <novo-action icon="menu" aria-label="Example icon-button with menu icon" data-automation-id="toolbar-row-header-menu"></novo-action>
  </novo-toolbar-row>

  <novo-toolbar-row data-automation-id="toolbar-row-nav">
    <novo-nav>
      <novo-tab data-automation-id="toolbar-nav-overview-tab">Overview</novo-tab>
      <novo-tab data-automation-id="toolbar-nav-activity-tab">Activity</novo-tab>
      <novo-tab data-automation-id="toolbar-nav-files-tab">Files</novo-tab>
    </novo-nav>
    <span class="example-spacer"></span>
    <novo-divider vertical></novo-divider>
    <novo-button theme="dialogue" data-automation-id="toolbar-row-nav-layout-btn">Layout</novo-button>
  </novo-toolbar-row>
</novo-toolbar>