@import '../../styles/global/variables';
@import '../../styles/global/functions';

@mixin novo-expansion-panel-theme() {
  .novo-expansion-panel {
    background: $white;
    color: $dark;
  }

  .novo-action-row {
    border-top-color: $dark;
  }

  .novo-expansion-panel:not(.novo-expanded) .novo-expansion-panel-header {
    &:not([aria-disabled='true']) {
      &.cdk-keyboard-focused,
      &.cdk-program-focused,
      &:hover {
        background: rgba(black, 0.04);
      }
    }
  }

  .novo-expansion-panel-header-title {
    color: $dark;
  }

  .novo-expansion-panel-header-description,
  .novo-expansion-indicator::after {
    color: $grey;
  }

  .novo-expansion-panel-header[aria-disabled='true'] {
    color: $grey;
    pointer-events: none;

    .novo-expansion-panel-header-title,
    .novo-expansion-panel-header-description {
      color: inherit;
    }
  }

  .novo-expansion-panel.novo-expanded {
    @each $basic, $color in $all-colors {
      &[theme='#{$basic}'] {
        border-top: 3px solid $color;
      }
    }
  }
}
