@import "../../styles/variables.scss";

:host {
  display: inline-block;
  input {
    appearance: none !important;
    height: 0 !important;
    border: none !important;
    position: absolute;
  }
  & > .tile-container {
    background: var(--background-bright);
    display: flex;
    border: solid thin var(--color-slate);
    // TODO: semantic role TBD - could be border-radius or border-radius-small
    border-radius: 3px;
    .tile {
      margin: 2px;
      gap: .5rem;
      &:not(:last-child) {
        margin-right: 3px;
      }
      &.defaultColor.active {
          background: darkenLive('--color-ocean', 20);
      }
      &.disabled {
        cursor: not-allowed;
        opacity: 0.4;
      }
      ::ng-deep span {
        text-transform: none;
        label {
          cursor: inherit;
        }
      }
    }
    &.disabled {
      border-color: brightenLive('--color-grey', 20);
      opacity: 0.4;
      pointer-events: auto;
      cursor: not-allowed;
      .tile {
        pointer-events: none;
        opacity: 1;
      }
    }
  }
}
