<header [theme]="theme">
  <novo-icon size="2xl">{{icon}}</novo-icon>
  <novo-title size="2xl">Header</novo-title>
  <section class="header-content">
    <novo-search [theme]="theme"></novo-search>
  </section>

  <novo-action icon="convert" tooltip="Change Theme" (click)="changeTheme()"></novo-action>
  <novo-action icon="refresh" tooltip="Show Popup" (click)="catchEv('refresh', $event)"></novo-action>
  <novo-action icon="times" tooltip="Show Popup" (click)="catchEv('close', $event)"></novo-action>

</header>
<br />
<novo-checkbox label="Always Open?" [(ngModel)]="isChecked"></novo-checkbox>