<demo-section [name]="name" [src]="src">

  <h3>Contents</h3>

  <ul class="demo-nav">
    <li>
      <a routerLink="." fragment="usage">Usage</a>
    </li>
    <li>
      <a routerLink="." fragment="examples">Examples</a>
      <ul>
        <li>
          <a routerLink="." fragment="card-standard">Standard</a>
        </li>
        <!-- <li>
          <a routerLink="." fragment="list-advanced">Advanced</a>
        </li>
        <li>
          <a routerLink="." fragment="list-entity">Entity List</a>
        </li> -->
      </ul>
    </li>
  </ul>

  <h3 routerLink="." fragment="usage" id="usage">Usage</h3>
  <div class="usage-doc" [innerHtml]="usageDoc"></div>

  <h3 routerLink="." fragment="examples" id="examples">Examples</h3>

  <demo-box class="list-demo" [ts]="demos.standard.ts" [html]="demos.standard.html" name="card-standard" label="Card: Standard">
    <demo-card-standard></demo-card-standard>
  </demo-box>
  <!-- <demo-box class="list-demo" [ts]="demos.advanced.ts" [html]="demos.advanced.html" name="list-advanced" label="List: Advanced">
    <demo-list-advanced></demo-list-advanced>
  </demo-box>
  <demo-box class="list-demo" [ts]="demos.entity.ts" [html]="demos.entity.html" name="list-entity" label="List: Entity">
    <demo-list-entity></demo-list-entity>
  </demo-box> -->

</demo-section>
