@import "~novo-design-tokens/scss";

:root {
  --background-body: #{$color-white};
  --background-main: #{$color-silver}; //efefef
  --background-bright: #{$color-bright}; //f7f7f7
  --background-muted: #{$color-sand}; //f7f7f7
  --selection: #{$color-ocean}; //#9e9e9e;
  --text-main: #{$color-dark}; //#363636;
  --text-bright: #{$color-black};
  --text-muted: #{$color-slate}; //#70777f;
  --links: #{$color-ocean};
  --focus: #{$color-ocean};
  --border: #{$color-light}; //#dbdbdb;
  --code: #000;
  --animation-duration: 0.1s;
  --button-hover: #aaa;
  --scrollbar-thumb: #{$color-dark};
  --scrollbar-thumb-hover: #{$color-dark};
  --form-placeholder: #949494;
  --form-text: #000;
  --variable: #39a33c;
  --highlight: #ff0;
}
