@if (source && source.length) {
  @for (item of source; track item) {
    <novo-breadcrumb-item [showMenu]="item.showMenu" [isSearch]="item.isSearch"
      [menuList]="item.menuList" [customMenuTemplate]="item.customMenuTemplate">
      @if (!item.noNavigation && (!item.linkType || item.linkType === 'hrefLink')) {
        <a rel="noopener" [href]="item.link" [target]="item.target ? item.target : '_self'">{{ item.title }}</a>
      }
      @if (!item.noNavigation && item.linkType === 'routerLink') {
        <a rel="noopener" [target]="item.target" [href]="item.link" (click)="navigateTo($event, item)">{{ item.title }}</a>
      }
      @if (item.noNavigation) {
        <span>{{ item.title }}</span>
      }
    </novo-breadcrumb-item>
  }
}
@else {
  <ng-content></ng-content>
}
