<novo-form>
    <form-title>Checkboxes</form-title>
    <form-field>
        <!-- <form-label>Availability</form-label> -->
        <form-input name="isAvailable" label="Is Available?" type="checkbox" [(value)]="isAvailable"></form-input>
    </form-field>
    <form-field>
        <form-label>Availability</form-label>
        <form-input name="shifts" type="checkbox" [options]="shifts" [(value)]="availability"></form-input>
    </form-field>
</novo-form>
<div>I am available on {{availability}}.</div>
