<novo-form>
    <form-title>Default Radio Buttons</form-title>
    <form-field>
        <form-label>Ready to Work?</form-label>
        <form-input name="isReady" type="radio" [options]="yesNo" [(value)]="amIReady"></form-input>
    </form-field>
</novo-form>
<div class="final-value">Am I Ready? {{amIReady}}.</div>
<novo-form layout="vertical">
    <form-title>Vertical Radio Buttons</form-title>
    <form-field>
        <form-label>Ready to Work?</form-label>
        <form-input name="isReady" type="radio" [options]="yesNo" [(value)]="amIReady"></form-input>
    </form-field>
</novo-form>
<div class="final-value">Am I Ready? {{amIReady}}.</div>
