<novo-data-table [dataTableService]="remoteService"
                 [columns]="sharedColumns"
                 [hideGlobalSearch]="!globalSearchEnabled"
                 [displayedColumns]="sharedDisplayColumns"
                 [paginationOptions]="widePaginationOptions">
  <!-- Custom Cell -- passed with template property on Column -->
  <ng-template novoTemplate="custom"
               let-row
               let-col="col">
    <b>CUSTOM</b> {{ row.name }}
    <b>CUSTOM</b>
  </ng-template>
</novo-data-table>
