novo-picker {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 5px;
    transition: all 200ms ease-in-out;
    position: relative;

    &.selected,
    &.selected:hover {
        & + i {
            color: $positive;
        }
    }

    input {
        padding-top: 10px;
        border: none;
        background: transparent;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    i.bhi-search,
    i.bhi-times {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.2em;
    }

    i.bhi-times {
        cursor: pointer;
        font-size: 1em;
    }

    div.picker-results-container {
        position: absolute;
        top: 100%;
        width: 100%;
        margin-top: 0.5em;

        entity-picker-results,
        picker-results.active {
            margin-bottom: 100px;
        }
    }
}

.picker-results,
.quick-note-results,
entity-chip-results,
picker-results,
quick-note-results {
    display: block;
    position: relative;
    cursor: pointer;
}

.picker-results,
.quick-note-results,
picker-error,
picker-loader,
picker-null-recent-results,
picker-null-results,
picker-results,
quick-note-results {
    background-color: white;
    cursor: default;
    line-height: 26px;
    overflow: hidden;
    max-height: 0;
    position: absolute;
    transform: translateY(0%);
    transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
    width: 100%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border: 1px solid $positive;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            cursor: pointer;
            padding: 10px 16px;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            font-size: 0.9em;

            span {
                display: inline-block;
                min-width: 100px;
                margin: 2px 0;
            }

            h6 {
                padding-top: 0;
                font-weight: 400;
                color: lighten($dark, 35%);

                strong {
                    font-weight: 400;
                    color: $dark;
                }
            }

            &.active,
            &:focus,
            &:hover {
                background: lighten($light, 10%);
                color: darken($light, 45%);
            }
            &.disabled {
                opacity: 0.5;
                pointer-events: none;
            }
        }
    }

    &.active {
        max-height: 200px;
        overflow: auto;
        z-index: 1000;
    }

    &:focus {
        outline: none;
    }
}

entity-picker-results {
    novo-list {
        background: $white;
        novo-list-item.disabled {
            opacity: 0.5;
            pointer-events: none;
        }
        item-content{
            > p {
                min-width: 15em;
                font-size: .9em;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                padding-right: 1em;
            }
        }
    }
}

picker-error,
picker-loader,
picker-null-recent-results,
picker-null-results {
    text-align: center;
    color: darken($light, 15%);
}

picker-loader {
    display: flex;
    align-items: center;
    flex-direction: column;
}
