@import '../../../platform/styles/global/variables';
div.content-header {
  padding: 0 $large;
  a {
    float: right;
    i {
      font-size: 0.8em;
    }
  }
}

div.content-box {
  padding: 0 $large;
}
