<form [formGroup]="queryForm" (ngSubmit)="onSubmit()">
  <novo-condition-builder
    #builder
    [config]="config"
    [editTypeFn]="editTypeFn">
  </novo-condition-builder>
  <novo-button (click)="sampleSubmitClick()" style="float: right;">Submit</novo-button>
  <!--<novo-button (click)="sampleSubmitClick2()" style="position: relative; top: 1.5em; left: 5.5em; float: right;">Submit2</novo-button>-->
</form>

<novo-field mb="lg">
  <novo-label>Choose single field to auto-select for criteria</novo-label>
  <novo-select placeholder="Single field" [ngModel]="config.staticFieldSelection" (ngModelChange)="updateConfig({ staticFieldSelection: $event })">
    <novo-option value="">Show All Fields</novo-option>
    <novo-option *ngFor="let field of mockMetaFields" [value]="field.name">{{ field.label || field.name }}</novo-option>
  </novo-select>
</novo-field>

<pre><code>{{queryForm.value | json}}</code></pre>