// @import "../../styles/variables.scss";
// @import "../common/typography/text.mixins.scss";
@import "~novo-design-tokens/scss";

$novo-menu-side-padding: 16px !default;
$clear-button-width: 20px;
$multiple-check-width: 33px;
$novo-option-height: 3em;
$novo-select-search-clear-x: 4px;
$novo-select-search-spinner-x: 16px;
$novo-select-search-toggle-all-checkbox-x: 16px;

.novo-select-search-hidden {
  visibility: hidden;
}
.novo-select-search-inner {
  position: absolute;
  top: 0;
  width: 100%;
  min-width: 190px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  z-index: 100;
  font-size: inherit;
  box-shadow: none;
  border-radius: 0;
  /* Prevent iOS scroll issue */
  -webkit-transform: translate3d(0, 0, 0);

  &.novo-select-search-inner-multiple {
    width: 100%;
    &.novo-select-search-inner-toggle-all {
      display: flex;
      align-items: center;
    }
  }

  .novo-input-element {
    flex-basis: auto;
    border: none;
    &:focus {
      outline: none;
      border-radius: 0 !important;
    }
    &:-ms-input-placeholder {
      // fix IE11 not able to focus programmatically with css style -ms-user-select: none
      -ms-user-select: text;
    }
  }
}

::ng-deep .novo-select-search-panel {
  /* allow absolute positioning relative to outer options container */
  transform: none !important;
  overflow-x: hidden;
}

.novo-select-search-input {
  padding: $spacing-md;
  padding-left: $clear-button-width * 2;
  padding-right: $clear-button-width + $novo-select-search-clear-x;
  box-sizing: border-box;
  width: 100%;

  :host-context([dir="rtl"]) & {
    padding-right: $novo-menu-side-padding;
    padding-left: $clear-button-width + $novo-select-search-clear-x;
  }
}
.novo-select-search-no-entries-found {
  padding: $novo-menu-side-padding;
}

.novo-select-search-icon-prefix {
  position: absolute;
  left: $clear-button-width - $novo-select-search-clear-x;
  top: 7px;
}

.novo-select-search-clear {
  position: absolute;
  right: $novo-select-search-clear-x;
  top: 5px;

  :host-context([dir="rtl"]) & {
    right: auto;
    left: $novo-select-search-clear-x;
  }
}

.novo-select-search-spinner {
  position: absolute;
  right: $novo-select-search-spinner-x;
  top: calc(50% - 8px);

  :host-context([dir="rtl"]) & {
    right: auto;
    left: $novo-select-search-spinner-x;
  }
}

/** override styling when inside a novo-option */
:host.novo-select-search-inside-novo-option {
  .novo-select-search-input {
    padding-top: 0px;
    padding-bottom: 0px;
    height: $novo-option-height;
    line-height: $novo-option-height;
  }
  .novo-select-search-clear {
    top: 6px;
  }
  .novo-select-search-icon-prefix {
    left: $clear-button-width - $novo-select-search-clear-x;
    top: 7px;
  }
}

::ng-deep .novo-option[aria-disabled="true"].contains-novo-select-search {
  /* let move novo-select-search at the top of the dropdown. As option is disabled, there will be no-ripple hence safe. */
  position: static;
  padding: 0;

  .novo-icon {
    margin-right: 0px;
    margin-left: 0px;
  }
  .novo-option-pseudo-checkbox {
    display: none;
  }
  &.novo-select-search-no-entries-found {
    height: 2 * $novo-option-height;
  }
}

.novo-select-search-toggle-all-checkbox {
  padding-left: $novo-select-search-toggle-all-checkbox-x;
  padding-bottom: 2px;

  :host-context([dir="rtl"]) & {
    padding-left: 0px;
    padding-right: $novo-select-search-toggle-all-checkbox-x;
  }
}
