<novo-field class="example-chip-list">
  <novo-label>Favorite Fruits</novo-label>
  <novo-chip-list #chipList aria-label="Fruit selection" [formControl]="fieldCtrl">
    <novo-chip
      *ngFor="let fruit of chipList.value"
      [value]="fruit"
      (removed)="remove(fruit)">
      {{fruit}}
      <novo-icon novoChipRemove>close</novo-icon>
    </novo-chip>
    <input
      #chipInput
      novoChipInput
      placeholder="New fruit..."
      autocomplete="off"
      [formControl]="searchCtrl"
      [novoChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (novoChipInputTokenEnd)="add($event)" />
  </novo-chip-list>
  <novo-autocomplete (optionSelected)="selected($event)" multiple>
    <novo-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
      {{fruit}}
    </novo-option>
  </novo-autocomplete>
</novo-field>

<div>Chip List Value: {{fieldCtrl.value}}</div>
<div>Search Input Control Value: {{searchCtrl.value}}</div>