<novo-accordion
  [displayMode]="isFlat ? 'flat' : 'default'"
  [multi]="isMulti">
  <novo-expansion-panel>
    <novo-expansion-panel-header>
      This is the expansion 1 title
    </novo-expansion-panel-header>
    <p>This the expansion 1 content</p>
  </novo-expansion-panel>

  <novo-expansion-panel>
    <novo-expansion-panel-header>
      This is the expansion 2 title
    </novo-expansion-panel-header>
    <p>This the expansion 2 content</p>
  </novo-expansion-panel>
</novo-accordion>
<div>
  <br/>
  <span>Flat Expansion</span>
  <novo-switch theme="grapefruit" [(ngModel)]="isFlat"></novo-switch>
  <span>Multiple Expansion</span>
  <novo-switch theme="grapefruit" [(ngModel)]="isMulti"></novo-switch>
</div>
