<novo-icon color="candidate" data-automation-id="themed-icon-color-candidate">candidate</novo-icon>
<novo-icon color="job" data-automation-id="themed-icon-color-job">job</novo-icon>
<novo-icon color="company" data-automation-id="themed-icon-color-company">company</novo-icon>
<novo-icon color="submission" data-automation-id="themed-icon-color-submission">star-o</novo-icon>
<novo-icon color="placement" data-automation-id="themed-icon-color-placement">star</novo-icon>
<br />
<novo-icon theme="candidate" data-automation-id="themed-icon-theme-candidate">candidate</novo-icon>
<novo-icon theme="job" data-automation-id="themed-icon-theme-job">job</novo-icon>
<novo-icon theme="company" data-automation-id="themed-icon-theme-company">company</novo-icon>
<novo-icon theme="submission" data-automation-id="themed-icon-theme-submission">star-o</novo-icon>
<novo-icon theme="placement" data-automation-id="themed-icon-theme-placement">star</novo-icon>