<novo-id-condition-def name="ID"/>
<novo-date-condition-def name="DATE" [config]="dateConfig"/>
<novo-date-time-condition-def name="TIMESTAMP" [config]="dateConfig"/>
<novo-string-condition-def name="STRING"/>
<novo-number-condition-def name="FLOAT"/>
<novo-number-condition-def name="INTEGER"/>
<novo-number-condition-def name="BIGDECIMAL"/>
<novo-number-condition-def name="DOUBLE"/>
<novo-address-condition-def name="ADDRESS" [config]="addressConfig"/>
<novo-boolean-condition-def name="BOOLEAN"/>
<novo-picker-condition-def name="SELECT"/>
<novo-string-condition-def name="DEFAULT"/>
