@import "../../../../styles/variables.scss";
@import "../text.mixins.scss";

.novo-text {
  display: inline;
  font-size: var(--font-size-text);
  font-weight: normal;
  line-height: 1.375em;
  color: inherit;

  &.text-block {
    display: block;
    line-height: 1.375em;
    min-width: 55ch;
    max-width: 75ch;
  }

  &::ng-deep {
    novo-icon {
      vertical-align: top;
      font-size: inherit;
    }
  }

  @include base-text-rules();
  @include text-sizing($font-size-sm, $font-size-lg); // @include text-sizing(1rem, 1.2rem, 1.4rem);
  @include text-colors();
  @include text-weights();
  @include text-margins();
  @include text-lengths();
}
