@import "../../../../styles/variables.scss";
@import "../text.mixins.scss";

.novo-text {
  display: inline;
  @include novo-body-text();

  &.text-block {
    display: block;
    line-height: 1.375em;
    min-width: 55ch;
    max-width: 75ch;
  }

  &::ng-deep {
    novo-icon {
      vertical-align: top;
      font-size: inherit;
    }
  }
}
