@import "~novo-design-tokens/scss";

:host {
  --button-color-text: var(--color-link);
  // Dialoge Themed Button
  &.novo-button-text {
    @include color-variants(
      button,
      (
        color-text: default,
        color-hover: overlay,
        color-active: overlay,
      )
    );
  }
}
