<div class="resizable">
  <novo-progress data-automation-id="progress-bar-flash">
    <novo-progress-bar flash="true"></novo-progress-bar>
  </novo-progress>
</div>

<br />

<novo-progress data-automation-id="progress-bar-indeterminate">
  <novo-progress-bar indeterminate="true"></novo-progress-bar>
</novo-progress>

<br />

<novo-progress striped="true" data-automation-id="progress-bar-striped">
  <novo-progress-bar value="40"></novo-progress-bar>
</novo-progress>

<br />

<novo-progress total="300" data-automation-id="progress-bar-multi-color">
  <novo-progress-bar value="120" color="success" [tooltip]="largeTooltip" tooltipSize="large"></novo-progress-bar>
  <novo-progress-bar value="40" color="negative"></novo-progress-bar>
</novo-progress>