<h4>Basic Field Usage</h4>

<novo-field>
  <novo-label>Favorite food</novo-label>
  <input novoInput placeholder="Ex. Pizza" value="Sushi" />
</novo-field>

<novo-field>
  <novo-label>Leave a comment</novo-label>
  <textarea novoInput placeholder="Ex. It makes me feel..."></textarea>
</novo-field>

<novo-field>
  <novo-label>Set an Alarm</novo-label>
  <input novoInput [(ngModel)]="time" timeFormat="iso8601" [picker]="timepicker" />
  <novo-picker-toggle novoSuffix icon="clock">
    <novo-time-picker #timepicker></novo-time-picker>
  </novo-picker-toggle>
  <novo-hint>value is: {{time}}</novo-hint>
</novo-field>

<novo-field>
  <novo-label>Date of Birth</novo-label>
  <input novoInput dateFormat="iso8601" [picker]="datepicker" [(ngModel)]="date" />
  <novo-picker-toggle novoSuffix icon="calendar">
    <novo-date-picker #datepicker></novo-date-picker>
  </novo-picker-toggle>
  <novo-hint>value is: {{date}}</novo-hint>

</novo-field>

<novo-field>
  <novo-label>Need a Vacation?</novo-label>
  <input novoInput dateRangeFormat="iso8601" [picker]="daterangepicker" [(ngModel)]="daterange" />
  <novo-picker-toggle novoSuffix icon="calendar">
    <novo-date-picker #daterangepicker mode="range" numberOfMonths="2"></novo-date-picker>
  </novo-picker-toggle>
  <novo-hint>value is: {{daterange}}</novo-hint>

</novo-field>



<novo-fieldset-header icon="calendar" title="Add Day Of Week"></novo-fieldset-header>

<novo-field>
  <novo-label>Date of Birth</novo-label>
  <novo-text novoPrefix mr="sm">{{date2 | date : 'EEE' }}</novo-text>
  <input novoInput dateFormat="iso8601" [picker]="datepicker2" [(ngModel)]="date2" disabled readonly />
  <novo-picker-toggle novoSuffix icon="calendar">
    <novo-date-picker #datepicker2></novo-date-picker>
  </novo-picker-toggle>
  <novo-hint>value is: {{date2}}</novo-hint>
</novo-field>

<novo-fieldset-header icon="section" title="Section Header"></novo-fieldset-header>

<novo-field>
  <novo-label>
    <novo-flex justify="space-between">
      <span>Effective On</span>
      <novo-chip size="sm" accent="success">current</novo-chip>
    </novo-flex>
  </novo-label>
  <novo-select value="08/01/2021">
    <novo-option value="08/01/2021">
      <novo-text>08/01/2021</novo-text>
      <novo-chip accent="success">current</novo-chip>
    </novo-option>
    <novo-option value="09/01/2021">
      <novo-text>09/01/2021</novo-text>
    </novo-option>
  </novo-select>
  <novo-icon novoPrefix>previous</novo-icon>
  <novo-icon novoSuffix>next</novo-icon>
</novo-field>