novo-confirm-modal {
    .truncateSubheader {
        section h2.subheader-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 500px;
        }
    }
    .hide-close {
        .modal-close {
            display: none;
        }
    }
    novo-modal {
        min-width: 500px;

        header utils {
            text-align: right;
            display: block;
            padding-top: 1rem;
            padding-right: 1rem;
        }

        section {
            align-items: center;
            padding-top: 0;

            .caution {
                width: 4.5rem;
                height: 4.5rem;
                margin: 2rem auto;
                margin-bottom: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    color: $positive;
                    font-size: 4rem;
                }
            }

            .caution-border {
                border: 2px solid $positive;
                border-radius: 50%;

                i {
                    font-size: 2.3rem;
                }
            }

            .caution.caution-border.alert {
                border-color: $grapefruit;

                i {
                    color: $grapefruit;
                }
            }

            h1 {
                padding-top: 0;
            }

            h4 {
                padding-bottom: 0.5rem;
            }

            h1,
            h4 {
                color: $dark;
                text-align: center;
            }

            .action-confirmation-modal-form {
                padding: 1rem;
            }

            .info-box {
                padding-top: 2rem;
            }
        }
    }
}
