select-demo {
    .example.select-demo {
        padding: 20px 30px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        flex-grow: 0;
        align-items: center;
        flex-wrap: wrap;
        transition: background 460ms ease-in-out;
        & > * {
            flex-shrink: 0;
            flex-grow: 0;
            margin-right: 15px;
        }
        &.icons,
        &.header {
            background: $aqua;
        }
        &.blue {
            background: $ocean;
        }
        &.green {
            background: $grass;
        }
        &.yellow {
            background: $sunflower;
        }
        &.orange {
            background: $bittersweet;
        }
        &.red {
            background: $grapefruit;
        }
        &.purple {
            background: $lavender;
        }
        .inverse-color {
            background: $navigation;
            padding: 10px;
        }
    }
}
