$table-bg-accent: #f4f4f4;
$novo-row-horizontal-padding: 20px;
.novo-table {
    display: block;
    min-height: 300px;
    >.novo-row:nth-of-type(odd) {
        background-color: $table-bg-accent;
        td {
            background-color: $table-bg-accent;
        }
    }
}

.novo-row,
.novo-header-row {
    display: flex;
    align-items: center;
}

.novo-header-row {
    border-top: 1px solid #F0F0F0;
}

.novo-cell,
.novo-header-cell {
    flex: 1;
    min-width: 200px;
    padding: 10px;
    novo-dropdown {
        display: inline-block;
    }
    button.active {
        color: $positive;
    }
    &.clickable {
        cursor: pointer;
        color: $company;
    }
}

.novo-header-cell {
    border-left: 1px solid #F0F0F0;
    +novo-empty-header-cell {
        border-left: none;
    }
    >label {
        display: inline-block;
        padding-right: 5px;
        cursor: pointer;
    }
}

novo-empty-header-cell {
    min-width: 40px;
}

.novo-button-cell {
    padding: 0 5px;
}

.novo-checkbox-header-cell,
.novo-checkbox-cell {
    max-width: 40px;
    margin-top: -4px;
    padding: 0 10px;
}

novo-activity-table {
    header {
        padding: 5px 0;
        display: flex;
        align-items: center;
        >novo-search {
            padding-right: 10px;
            >input {
                padding: 11.5px;
                font-size: 1.1em;
            }
            &.active>button[theme="fab"] {
                height: 41px;
            }
        }
    }
    button[theme][theme="icon"] {
        height: 30px;
        width: 30px;
        padding: 5px;
    }
    .novo-activity-table-loading-mask {
        position: absolute;
        display: flex;
        padding-top: 10%;
        justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.07);
        z-index: 10;
    }
}

simple-table-pagination {
    display: flex;
    align-items: center;
    >.simple-table-pagination-size {
        padding-right: 10px;
    }
    >.simple-table-rangle-label {
        padding-right: 10px;
    }
    >button:first {
        padding-right: 5px;
    }
}
