@import 'styles/global/variables';

.tabbed-group-picker-button {
  .tabbed-group-picker-button-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 100px;
    width: 100%;
  }
}

.novo-category-dropdown-search {
  width: 100%;
  padding: 0.5em;
  border-bottom: .1em solid #ccc;
  position: relative;
  input {
    font-size: 1em;
    background: transparent;
    border: none;
    border-radius: 0;
    outline: none;
    height: 2rem;
    width: 95%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 300ms;
    color: #26282b;
    margin-left: 1em;
    &::-webkit-input-placeholder {
      color: #aaaaaa;
    }
  }
  i.bhi-search,
  i.bhi-times {
    position: absolute;
    bottom: 1em;
    right: .5em;
    color: #aaaaaa;
    font-size: 1em;
    margin-right: 1em;
  }
  i.bhi-times {
    cursor: pointer;
    font-size: 1em;
  }
}

.tabbed-group-picker-column-container {
  display: flex;
  flex-direction: row;

  .tabbed-group-picker-column {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.left {
      border-right: 1px solid $light;
      justify-content: space-between;

      novo-nav {
        overflow: auto;

        > novo-tab {
          min-height: 3em;

          > .novo-tab-link {
            max-width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
    }

    &.right {
      display: block;
      width: 23em;
      height: 27em;
      overflow: auto;

      .quick-select {
        font-weight: 500;

        .quick-select-label {
          padding: 0.7em 1.9em 0 1.9em;
          background: rgba(0, 0, 0, 0.05);
          text-transform: uppercase;
          font-size: 0.8em;
        }

        novo-list {
          novo-list-item {
            background: rgba(0, 0, 0, 0.05);
            padding-bottom: 0.5em;
            height: 2.3em;
            min-height: 2.3em;

            &:last-of-type {
              padding-bottom: 1em;
              height: 3.1em;
              min-height: 3.1em;
            }
          }
        }
      }

      .novo-category-dropdown-empty-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $grey;
        width: 100%;
        height: 100%;

        i {
          padding-bottom: 0.2em;

          &.bhi-users {
            font-size: 3em;
          }
          &.bhi-user {
            font-size: 2em;
            margin-bottom: 0.5em;
          }
        }
        .empty-item-main-message {
          font-weight: 500;
          color: $dark;
        }
        .empty-item-sub-message {
          font-size: 0.9em;
        }
      }

      novo-list-item {
        padding: 0.75em 1.75em;
        height: 3.1em;
        min-height: 3.1em;
        cursor: pointer;
        font-size: 0.9em;
        border-bottom: none;
        align-items: center;

        &:focus,
        &:hover {
          background: lighten($light, 10%);
          color: darken($light, 55%);

          .novo-category-dropdown-hover {
            display: block;
          }
        }

        novo-checkbox .check-box-group label span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
