<novo-dropdown (toggled)="onDropdownToggle($event)" multiple>
  <novo-button
    class="tabbed-group-picker-button"
    [theme]="buttonConfig.theme"
    [side]="buttonConfig.side"
    [icon]="buttonConfig.icon"
    [loading]="loading">
    <div class="tabbed-group-picker-button-label">{{ buttonConfig.label }}</div>
  </novo-button>
  <div class="tabbed-group-picker-search" data-automation-id="tabbed-group-picker-search">
    <input type="text" [placeholder]="labelService.search" [value]="filterText | async" (input)="onFilter($event)" />
    <i class="bhi-search" *ngIf="!(filterText | async)"></i>
    <i class="bhi-times" *ngIf="(filterText | async)" (click)="onClearFilter($event)"></i>
  </div>
  <div class="tabbed-group-picker-column-container">
    <div class="tabbed-group-picker-column left">
      <novo-nav theme="white" direction="vertical">
        <novo-tab *ngFor="let tab of displayTabs" [attr.data-automation-id]="tab.typeName"
          (activeChange)="changeTab(tab)">
          <span>{{ tab.typeLabel }} ({{ tab.data.length }})</span><i class="bhi-next"></i>
        </novo-tab>
      </novo-nav>
      <novo-button *ngIf="showClearAll" class="clear-all-button" theme="dialogue" icon="times" side="right"
        color="grapefruit" (click)="deselectEverything($event)">{{ labelService.clear }}</novo-button>
    </div>
    <div class="tabbed-group-picker-column right">
      <div class="quick-select" *ngIf="quickSelectConfig && !(filterText | async)">
        <!-- <div class="quick-select-label">{{ quickSelectConfig.label }}</div> -->
        <novo-optgroup class="quick-select-list" [label]="quickSelectConfig.label">
          <novo-option
            class="quick-select-item"
            *ngFor="let quickSelect of quickSelectConfig.items"
            [attr.data-automation-id]="quickSelect.label"
            [selected]="quickSelect.selected"
            (click)="quickSelect.selected = !quickSelect.selected; onItemToggled(quickSelect)"
            novoInert>
            {{quickSelect.label}}
            <!-- <novo-checkbox
              [label]="quickSelect.label"
              [name]="'selected'"
              [(ngModel)]="quickSelect.selected"
              (ngModelChange)="onItemToggled(quickSelect)"></novo-checkbox> -->
          </novo-option>
        </novo-optgroup>
      </div>
      <novo-optgroup *ngIf="displayTab.data.length">
        <cdk-virtual-scroll-viewport
          [itemSize]="virtualScrollItemSize"
          [maxBufferPx]="maxBufferPx"
          [minBufferPx]="minBufferPx"
          #tabbedGroupPickerVirtualScrollViewport>
          <novo-option
            *cdkVirtualFor="let item of displayTab.data"
            [attr.data-automation-id]="item[displayTab.labelField]"
            [selected]="item.selected"
            (click)="item.selected = !item.selected; onItemToggled(item)"
            novoInert>
            {{item[displayTab.labelField]}}

            <!-- <novo-checkbox
              [label]="item[displayTab.labelField]"
              [name]="'selected'"
              [indeterminate]="item.indeterminate"
              [(ngModel)]="item.selected"
              (ngModelChange)="onItemToggled(item)">
            </novo-checkbox> -->
          </novo-option>
        </cdk-virtual-scroll-viewport>
      </novo-optgroup>
      <div class="tabbed-group-picker-empty-item" *ngIf="!displayTab.data.length && (filterText | async)">
        <i class="{{ displayTab.icon || 'bhi-search' }}"></i>
        <div class="empty-item-main-message">{{ labelService.tabbedGroupPickerEmpty }}</div>
        <div class="empty-item-sub-message">{{ labelService.tabbedGroupClearSuggestion(displayTab.typeLabel) }}
        </div>
      </div>
    </div>
  </div>
</novo-dropdown>