<novo-dropdown (toggled)="onDropdownToggle($event)" multiple #dropdown>
  <novo-chip-list *ngIf="useChips()" dropdownTrigger>
    <novo-chip *ngFor="let chip of displayedChips()" [value]="chip" [size]="chipSize()">
      <novo-icon *ngIf="chip.icon?.entityColor" class="txc-{{ chip.icon.entityColor }}" novoChipAvatar>circle</novo-icon>
      <novo-icon *ngIf="!chip.icon?.entityColor && chip.icon">{{ chip.icon }}</novo-icon>
      <novo-text ellipsis tooltipOnOverflow>{{ chip.label || chip.name || chip.title || chip.value }}</novo-text>
    </novo-chip>
    <div *ngIf="selectedChips().length" class="hidden-chips-toggle" (click)="showAllChipsToggle($event)">
      <novo-label *ngIf="hiddenChips().length && !showAllChips()" color="positive">+ {{ hiddenChips().length }} {{ labelService.more }} </novo-label>
      <novo-label *ngIf="showAllChips()" color="positive"><novo-icon>sort-asc</novo-icon> {{ labelService.showLess }}</novo-label>
    </div>
    <input novoChipInput [placeholder]="chipsInputPlaceholder()" autocomplete="off" />
    <novo-icon *ngIf="chipInputIcon() && !showAllChips()" size="sm" paddingRight=".5rem" color="neutral">{{ chipInputIcon() }}</novo-icon>
  </novo-chip-list>
  <novo-button *ngIf="!useChips()"
    class="tabbed-group-picker-button"
    [theme]="buttonConfig.theme"
    [side]="buttonConfig.side"
    [size]="buttonConfig.size"
    [icon]="buttonConfig.icon"
    [loading]="loading">
    <ng-content></ng-content>
    <div class="tabbed-group-picker-button-label">{{ buttonConfig.label }}</div>
  </novo-button>
  <div class="tabbed-group-picker-search" data-automation-id="tabbed-group-picker-search" (keydown)="dropdown._handleKeydown($event)">
    <input #inputElement type="text" [placeholder]="labelService.search" [value]="filterText | async" (input)="onFilter($event)" />
    <i class="bhi-search" *ngIf="!(filterText | async)"></i>
    <i class="bhi-times" *ngIf="(filterText | async)" (click)="onClearFilter($event)" (keydown.space)="onClearFilter($event)"></i>
  </div>
  <div class="tabbed-group-picker-column-container" (keydown)="dropdown._handleKeydown($event)">
    <div class="tabbed-group-picker-column left">
      <novo-nav theme="white" direction="vertical">
        <novo-tab *ngFor="let tab of displayTabs" [attr.data-automation-id]="tab.typeName"
          (activeChange)="changeTab(tab)">
          <span>{{ tab.typeLabel }} ({{ tab.data.length }})</span><i class="bhi-next"></i>
        </novo-tab>
      </novo-nav>
      <novo-button *ngIf="showClearAll && !showFooter" class="clear-all-button" theme="dialogue" icon="times" side="right"
        color="grapefruit" (click)="deselectEverything($event)" (keydown.space)="deselectEverything($event)">{{ labelService.clear }}</novo-button>
    </div>
    <div class="tabbed-group-picker-column right">
      <div class="quick-select" *ngIf="quickSelectConfig && !(filterText | async)">
        <novo-optgroup class="quick-select-list" [label]="quickSelectConfig.label">
          <novo-option
            class="quick-select-item"
            *ngFor="let quickSelect of quickSelectConfig.items"
            [attr.data-automation-id]="quickSelect.label"
            [allowSelection]="selectionEnabled"
            [selected]="quickSelect.selected"
            (click)="activateItem(quickSelect)"
            (keydown.space)="activateItem(quickSelect)"
            novoInert>
            {{quickSelect.label}}
          </novo-option>
        </novo-optgroup>
      </div>
      <novo-optgroup *ngIf="displayTab.data.length">
        <cdk-virtual-scroll-viewport
          [itemSize]="virtualScrollItemSize"
          [maxBufferPx]="maxBufferPx"
          [minBufferPx]="minBufferPx"
          #tabbedGroupPickerVirtualScrollViewport>
          <novo-option
            *cdkVirtualFor="let item of displayTab.data"
            [attr.data-automation-id]="item[displayTab.labelField]"
            [attr.data-automation-value]="item[displayTab.valueField]"
            [allowSelection]="selectionEnabled"
            [selected]="item.selected"
            (click)="activateItem(item, displayTab)"
            (keydown.space)="activateItem(item, displayTab)"
            novoInert>
            {{item[displayTab.labelField]}}
          </novo-option>
        </cdk-virtual-scroll-viewport>
      </novo-optgroup>
      <div class="tabbed-group-picker-empty-item" *ngIf="!displayTab.data.length && (filterText | async)">
        <i class="{{ displayTab.icon || 'bhi-search' }}"></i>
        <div class="empty-item-main-message">{{ labelService.tabbedGroupPickerEmpty }}</div>
        <div class="empty-item-sub-message">{{ labelService.tabbedGroupClearSuggestion(displayTab.typeLabel) }}
        </div>
      </div>
    </div>
  </div>
  <div class="footer" *ngIf="showFooter">
    <div class="save-cancel-button-container">
      <novo-button
        class="clear-all-button"
        *ngIf="showClearAll"
        theme="dialogue"
        icon="times"
        side="right"
        color="grapefruit"
        (click)="deselectEverything($event)">{{ labelService.clear }}</novo-button>
    </div>
    <div class="save-cancel-button-container">
      <novo-button
        class="cancel-button"
        marginRight="1rem"
        theme="dialogue"
        (click)="cancel()">{{ labelService.cancel }}</novo-button>
      <novo-button
        class="save-button"
        theme="primary"
        color="primary"
        (click)="apply()">{{ labelService.apply }}</novo-button>
    </div>
  </div>
</novo-dropdown>