@import "../../../platform/styles/global/variables";
.demo-section {
  background-color: $white;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
  margin-bottom: $large;
  .demo-sample {
    padding: $small;
  }
  .demo-title {
    padding: $small;
    border-bottom: 1px solid $background;
    label {
      font-weight: 500;
    }
    i {
      float: right;
      font-size: 0.9em;
      cursor: pointer;
      transform: rotate(90deg);
      transition: all 300ms ease-out;
      &.code-shown {
        transform: rotate(0deg);
      }
    }
  }
  .code-blocks {
    border-top: 1px dashed $background;
    padding: $small;
    display: none;
    &.active {
      display: block;
    }
    .code-tab-labels {
      display: flex;
      label {
        display: inline-block;
        cursor: pointer;
        padding: $small;
        background: #ECECEC;
        background: $white;
        &.active {
          font-weight: 500;
          background: #ECECEC;
        }
      }
    }
    .code-tab-content {
      display: none;
      &.active {
        display: block;
      }
      pre {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }
}
