@import "../../../platform/styles/global/variables";
.demo-section {
  background-color: $white;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.10);
  margin-bottom: $large;
  .demo-box-content {
    padding: $medium;
  }
  .demo-box-code {
    padding: 0 $medium;
  }
  .demo-box-inner-nav {
    border-bottom: 1px solid $grey;
  }
  pre.prettyprint {
    margin-top: 0;
    margin-bottom: 0;
  }
}
