novo-card-timeline {
    .annotate {
        display: inline-block;
        background: $positive;
        color: white;
        font-size: 11px;
        font-weight: 700;
        width: 31px;
        padding: 3px;
        position: relative;
        top: -26px;

        &.one {
            left: 0;

            &:before {
                left: 0;
            }
        }

        &.smoosh {
            display: block;
            float: right;
            top: -26px;
            position: absolute;
            left: calc(100% - 33px);
        }

        &.first.reverse {
            display: block;
            left: 0;
            float: left;
        }

        &.last:before {
            border-left: 5px solid transparent;
            border-right: 5px solid $positive;
            left: 23px;
        }

        &.last {
            position: absolute;
            left: calc(100% - 31px);
        }

        &.last:before {
            border-left: 5px solid transparent;
            border-right: 5px solid $positive;
            left: 21px;
        }

        &.last.reverse {
            left: calc(100% - 31px);

            &:before {
                border-left: 5px solid $positive;
                border-right: 5px solid transparent;
                left: 0;
            }
        }

        &:before {
            content: ' ';
            width: 0;
            height: 0;
            border-bottom: 5px solid transparent;
            border-right: 5px solid transparent;
            border-left: 5px solid $positive;
            left: 0px;
            position: absolute;
            margin-top: 16px;
        }
    }

    .timeline-container {
        padding-top: 28px;
        margin-bottom: 15px;

        .timeline-background {
            width: 100%;
            height: 4px;
            background: #dddddd;

            .timeline {
                height: 4px;
                background: $positive;
                position: relative;

                .hidden-width {
                    display: none;
                }
            }
        }
    }
}
