:host {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 2em;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
  }
}

:host([size="small"]) {
  width: 20px;
  height: 20px;
}

:host([size="large"]) {
  width: 40px;
  height: 40px;
}
