:host {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 2em;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
  }
  // @each $basic, $color in $all-colors {
  //   &[theme='#{$basic}'] {
  //     color: $white;
  //     background: $color;
  //   }
  // }
  // @each $basic, $color in $all-colors {
  //   &[color='#{$basic}'] {
  //     color: $color;
  //     border: $color;
  //     background: $white;
  //   }
  // }
}

:host([size="small"]) {
  width: 20px;
  height: 20px;
}

:host([size="large"]) {
  width: 40px;
  height: 40px;
}
