<novo-dropdown side="left" containerClass="configure-columns-dropdown">
    <button theme="secondary"
            icon="collapse"><i class="bhi-columns"></i>Columns</button>
    <div class="configure-columns-dropdown-list-options">
        <div class="picker-input-filter">
            <div class="input-container">
                <input [(ngModel)]="term" type="text">
                <i class="bhi-search" *ngIf="term === ''"></i>
                <i class="bhi-times" *ngIf="term !== ''" (click)="clearQuickSearch()"></i>
            </div>
        </div>
        <!--section class="picker-loading" *ngIf="isLoading && !matches?.length">
            <novo-loading theme="line"></novo-loading>
        </section-->
        <list class="results-list" direction="vertical" *ngIf="matches?.length > 0 && !hasError">
            <item keepOpen="true" *ngFor="let column of matches">
                <item-title>
                    <span class="column-name">
                        <novo-checkbox [(ngModel)]="column.enabled"></novo-checkbox>
                        <span>{{ column.label }}</span>
                    </span>
                </item-title>
            </item>
        </list>
    </div>
    <item>
        <div class="configure-columns-footer">
        <button theme="standard"
                (click)="clearQuickSearch()">Cancel</button>
        <button theme="primary"
                icon="check"
                (click)="saveColumns()">Save</button>
        </div>
    </item>

</novo-dropdown>
