@import "../common/typography/text.mixins";

:host {
  display: flex;

  &.novo-radio-group-appearance-horizontal {
    novo-radio:not(:last-child) {
      .novo-radio-button-label {
        margin-right: 1rem;
      }
    }
  }

  &.novo-radio-group-appearance-vertical {
    flex-flow: column;
    gap: 0.2rem;
  }

  > novo-radio {
    margin: 0;
    novo-button {
      pointer-events: none;
      border-radius: 0 !important;
      &.unchecked {
        opacity: 0.6;
      }
      &[theme="icon"] {
        margin-right: 0;
        border: 1px solid $positive;
      }
    }
    &:first-child {
      novo-button {
        border-top-left-radius: 3px !important;
        border-bottom-left-radius: 3px !important;
        &[theme="icon"] {
          border-right-width: 0px !important;
        }
      }
    }
    &:last-child {
      novo-button {
        border-top-right-radius: 3px !important;
        border-bottom-right-radius: 3px !important;
        border-right-width: 1px !important;
        border-right-style: solid !important;
        &[theme="icon"] {
          border-left-width: 0px !important;
        }
      }
    }
  }
}
