@import "../common/typography/text.mixins";

novo-radio-group {
  display: flex;

  &.novo-radio-group-appearance-horizontal {
    novo-radio:not(:last-child) {
      .novo-radio-button-label {
        margin-right: 1rem;
      }
    }
  }

  &.novo-radio-group-appearance-vertical {
    flex-flow: column;
    gap: 0.2rem;
  }

  > novo-radio {
    margin: 0;
    button {
      pointer-events: none;
      border-radius: 0 !important;
      &.unchecked {
        opacity: 0.5;
      }
      &[theme="icon"] {
        margin-right: 0;
        border: 1px solid $positive;
      }
    }
    &:first-child {
      button {
        border-top-left-radius: 3px !important;
        border-bottom-left-radius: 3px !important;
        &[theme="icon"] {
          border-right-width: 0px !important;
        }
      }
    }
    &:last-child {
      button {
        border-top-right-radius: 3px !important;
        border-bottom-right-radius: 3px !important;
        border-right-width: 1px !important;
        border-right-style: solid !important;
        &[theme="icon"] {
          border-left-width: 0px !important;
        }
      }
    }
  }
}

novo-radio {
  margin-right: 10px;
  position: relative;
  &.vertical {
    display: block;
  }
  > input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:focus + label {
      i {
        &:before {
          text-shadow: 0px 0px 20px rgba(74, 137, 220, 0.5);
        }
        &.bhi-radio-empty,
        &.bhi-radio-filled {
          color: $positive;
        }
      }
    }
  }
  > label {
    cursor: pointer;
    .novo-radio-button-label {
      @include novo-text-medium();
      display: inline;
    }
    i {
      margin-right: 5px;
      transition: all 200ms ease-in-out;
      &.bhi-checkbox-empty,
      &.bhi-radio-empty {
        color: #d2d2d2;
      }
      &.bhi-checkbox-filled,
      &.bhi-radio-filled {
        color: $positive;
      }
    }
    &.disabled {
      i {
        opacity: 0.7;
      }
      button[theme].has-icon {
        opacity: 0.7;
      }
    }
  }
  button[theme].has-icon {
    transition: all 100ms ease-in-out;
    color: $positive;
    background: $white;
    opacity: 1;
    &.checked {
      color: $white;
      background: $positive;
    }

    @each $name, $color in $all-colors {
      &.checked[color="#{$name}"] {
        color: $white;
        background: $color;
      }
    }
  }
}
