@import "../common/typography/text.mixins";

novo-dropdown {
  display: inline-block;
  position: relative;

  .novo-dropdown-trigger {
    cursor: pointer;
    -webkit-appearance: none;
  }
  button,
  novo-button {
    position: relative;
    z-index: 0;
    .novo-button-icon {
      font-size: 0.8em !important;
      width: 1em !important;
      height: 1em !important;
      margin: 0 0.5em;
    }
  }
}

.dropdown-container {
  background-color: var(--background-bright, $color-bright);
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 180px;
  margin-top: $spacing-sm;
  margin-bottom: $spacing-sm;
  box-shadow: $shadow-3;
  &.has-height {
    overflow: auto;
  }
  list {
    dropdown-item-header {
      color: #9e9e9e;
      font-size: 0.8em;
      flex: 1;
      font-weight: 500;
      text-transform: uppercase;
      padding: $spacing-sm $spacing-md;
      display: block;
    }
    hr {
      border: none;
      height: 1px;
      background: $light;
    }
  }
}
