@import "../../common/typography/text.mixins.scss";

:host {
  display: block;
  background-color: var(--color-background);
  border-radius: 4px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.09), 0 1px 3px rgba(0, 0, 0, 0.2);
  z-index: z(modal);
  position: relative;
  min-width: 330px;
  max-width: 600px;

  > .novo-button.modal-close {
    position: absolute;
    right: var(--spacing-xl);
    top: var(--spacing-xl);
  }

  > header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;

    h1,
    h2 {
      @include novo-title-text();
    }
  }

  > section {
    padding: var(--spacing-md) var(--spacing-xl);
    max-height: 500px;
    overflow: auto;
  }

  .novo-modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: var(--spacing-md);
    gap: var(--spacing-md);
    button {
      min-width: 10rem;
    }
  }
}
