.status-new {
    background-color: lighten($sunflower, 20%) !important;
}

.status-active {
    background-color: lighten($mint, 20%) !important;
}

.status-archived {
    background-color: lighten($bittersweet, 20%) !important;
}
