<div #container></div>
<ng-template #fileInput>
  <div class="file-input-group" [class.disabled]="disabled" [class.active]="active">
    <input
      #inputElement
      *ngIf="!layoutOptions.customActions"
      type="file"
      [name]="name"
      [attr.id]="name"
      (change)="check($event)"
      [attr.multiple]="multiple"
      tabindex="-1"
      [attr.data-feature-id]="dataFeatureId"
    />
    <input
      #inputElement
      *ngIf="layoutOptions.customActions"
      type="file"
      [name]="name"
      [attr.id]="name"
      (change)="customCheck($event)"
      [attr.multiple]="multiple"
      tabindex="-1"
      [attr.data-feature-id]="dataFeatureId"
    />
    <section [ngSwitch]="layoutOptions.labelStyle">
      <label *ngSwitchCase="'no-box'" [attr.for]="name" class="no-box">
        <div>
          <i class="bhi-dropzone"></i>{{ placeholder || labels.chooseAFile }} {{ labels.or }}
          <strong class="link">{{ labels.clickToBrowse }}</strong>
        </div>
      </label>
      <label *ngSwitchDefault [attr.for]="name" class="boxed">
        <span>{{ placeholder || labels.chooseAFile }}</span>
        <small
          >{{ labels.or }} <strong class="link">{{ labels.clickToBrowse }}</strong></small
        >
      </label>
    </section>
  </div>
</ng-template>
<ng-template #fileOutput>
  <div class="file-output-group" cdkDropList [cdkDropListDisabled]="outputFileDraggingDisabled" (cdkDropListDropped)="dropOutputItem($event)">
    <div class="file-item" cdkDrag *ngFor="let file of files" [class.disabled]="disabled">
      <i *ngIf="layoutOptions.draggable" class="bhi-move"></i>
      <label *ngIf="file.link"
        ><span
          ><a href="{{ file.link }}" target="_blank">{{ file.name | decodeURI }}</a></span
        ><span *ngIf="file.description">||</span><span>{{ file.description }}</span></label
      >
      <label *ngIf="!file.link">{{ file.name | decodeURI }}</label>
      <div class="actions" [attr.data-automation-id]="'file-actions'" *ngIf="file.loaded">
        <div *ngIf="!layoutOptions.customActions">
          <button
            *ngIf="layoutOptions.download"
            type="button"
            theme="icon"
            icon="save"
            (click)="download(file)"
            [attr.data-automation-id]="'file-download'"
            tabindex="-1"
          ></button>
          <button
            *ngIf="!disabled && (layoutOptions.removable || (!layoutOptions.removable && layoutOptions.removableWhenNew && !file.link))"
            type="button"
            theme="icon"
            icon="close"
            (click)="remove(file)"
            [attr.data-automation-id]="'file-remove'"
            tabindex="-1"
          ></button>
        </div>
        <div *ngIf="layoutOptions.customActions">
          <button
            *ngIf="layoutOptions.edit && !disabled"
            type="button"
            theme="icon"
            icon="edit"
            (click)="customEdit(file)"
            [attr.data-automation-id]="'file-edit'"
            tabindex="-1"
          ></button>
          <button
            *ngIf="layoutOptions.download"
            type="button"
            theme="icon"
            icon="save"
            (click)="customSave(file)"
            [attr.data-automation-id]="'file-download'"
            tabindex="-1"
          ></button>
          <button
            *ngIf="!disabled"
            type="button"
            theme="icon"
            icon="close"
            (click)="customDelete(file)"
            [attr.data-automation-id]="'file-remove'"
            tabindex="-1"
          ></button>
        </div>
      </div>
      <novo-loading *ngIf="!file.loaded"></novo-loading>
    </div>
  </div>
</ng-template>