<div #container></div>
<ng-template #fileInput>
  <div class="file-input-group" [class.disabled]="disabled" [class.active]="active">
    @if (!layoutOptions.customActions) {
      <input
        #inputElement
        type="file"
        [name]="name"
        [attr.id]="name"
        (change)="check($event)"
        [attr.multiple]="multiple"
        tabindex="-1"
        [attr.data-feature-id]="dataFeatureId"
        />
    }
    @else {
      <input
        #inputElement
        type="file"
        [name]="name"
        [attr.id]="name"
        (change)="customCheck($event)"
        [attr.multiple]="multiple"
        tabindex="-1"
        [attr.data-feature-id]="dataFeatureId"
        />
    }
    <section>
      @switch (layoutOptions.labelStyle) {
        @case ('no-box') {
          <label [attr.for]="name" class="no-box">
            <div>
              <i class="bhi-dropzone"></i>{{ placeholder || labels.chooseAFile }} {{ labels.or }}
              <strong class="link">{{ labels.clickToBrowse }}</strong>
            </div>
          </label>
        }
        @default {
          <label [attr.for]="name" class="boxed">
            <span>{{ placeholder || labels.chooseAFile }}</span>
            <small
              >{{ labels.or }} <strong class="link">{{ labels.clickToBrowse }}</strong></small
              >
            </label>
          }
        }
      </section>
    </div>
  </ng-template>
  <ng-template #fileOutput>
    <div class="file-output-group" cdkDropList [cdkDropListDisabled]="outputFileDraggingDisabled" (cdkDropListDropped)="dropOutputItem($event)">
      @for (file of files; track file) {
        <div class="file-item" cdkDrag [class.disabled]="disabled">
          @if (layoutOptions.draggable) {
            <i class="bhi-move"></i>
          }
          @if ($any(file).link) {
            <label
              ><span
              ><a href="{{ $any(file).link }}" target="_blank">{{ file.name | decodeURI }}</a></span
              >@if ($any(file).description) {
              <span>||</span>
              }<span>{{ $any(file).description }}</span></label
              >
            }
            @else {
              <label>{{ file.name | decodeURI }}</label>
            }
            @if (file.loaded) {
              <div class="actions" [attr.data-automation-id]="'file-actions'">
                @if (!layoutOptions.customActions) {
                  <div>
                    @if (layoutOptions.download) {
                      <button
                        type="button"
                        theme="icon"
                        icon="save"
                        (click)="download(file)"
                        [attr.data-automation-id]="'file-download'"
                        tabindex="-1"
                      ></button>
                    }
                    @if (!disabled && (layoutOptions.removable || (!layoutOptions.removable && layoutOptions.removableWhenNew && !$any(file).link))) {
                      <button
                        type="button"
                        theme="icon"
                        icon="close"
                        (click)="remove(file)"
                        [attr.data-automation-id]="'file-remove'"
                        tabindex="-1"
                      ></button>
                    }
                  </div>
                }
                @else {
                  <div>
                    @if (layoutOptions.edit && !disabled) {
                      <button
                        type="button"
                        theme="icon"
                        icon="edit"
                        (click)="customEdit(file)"
                        [attr.data-automation-id]="'file-edit'"
                        tabindex="-1"
                      ></button>
                    }
                    @if (layoutOptions.download) {
                      <button
                        type="button"
                        theme="icon"
                        icon="save"
                        (click)="customSave(file)"
                        [attr.data-automation-id]="'file-download'"
                        tabindex="-1"
                      ></button>
                    }
                    @if (!disabled) {
                      <button
                        type="button"
                        theme="icon"
                        icon="close"
                        (click)="customDelete(file)"
                        [attr.data-automation-id]="'file-remove'"
                        tabindex="-1"
                      ></button>
                    }
                  </div>
                }
              </div>
            }
            @else {
              <novo-loading></novo-loading>
            }
          </div>
        }
      </div>
    </ng-template>
