novo-divider,
[novo-divider] {
  display: block;
  border-top-style: solid;
  border-top-width: 1px;
  margin: 0;
}

novo-list {
  background: #fff;
  display: flex;
  &.vertical {
    flex-direction: column;
  }
  &.horizontal {
    flex-direction: row;
  }
  @each $entity, $color in $all-colors {
    &[theme='#{$entity}'] {
      novo-list-item {
        background: $color;
        color: #fff;
        border-bottom: 1px solid rgba(#fff, 0.1);
        i {
          color: #fff;
        }
        item-title h6 {
          color: #fff;
        }
        item-content {
          > * {
            color: rgba(#fff, 0.65);
          }
        }
      }
    }
  }
  @each $basic, $color in $all-colors {
    &[theme='#{$basic}'] {
      novo-list-item {
        background: $color;
        color: #fff;
        border-bottom: 1px solid rgba(#fff, 0.1);
        i {
          color: #fff;
        }
        item-title h6 {
          color: #fff;
        }
        item-content {
          > * {
            color: rgba(#fff, 0.65);
          }
        }
      }
    }
  }
}

novo-list-item {
  background: #fff;
  border: 1px solid transparent;
  border-bottom: 1px solid #f4f4f4;
  padding: 15px;
  display: flex;
  &:last-child {
    border-bottom: 1px solid transparent;
  }
  &:focus {
    outline: none;
    border: 1px solid $positive;
    background: rgba($positive, 0.2);
  }
  &:hover {
    background: rgba($positive, 0.1);
  }
  &[disabled],
  .disabled {
    color: $light;
    cursor: not-allowed; //pointer-events: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $dark;
  }
  p {
    color: $grey;
  }
  item-header {
    display: flex;
    align-items: center;
    item-avatar {
      margin-right: 0.5em;
      font-size: 20px;
      i {
        @each $entity, $color in $all-colors {
          &.#{$entity} {
            background: $color;
          }
        }
      }
    }
    item-title {
      flex: 2 0 0;
      h6 {
        margin: 0;
        color: #434343;
        padding: 0;
      }
    }
    item-header-end {
      flex: 1 0 0;
      text-align: right;
    }
  }
  .list-item {
    flex: 1;
  }
  novo-item-content,
  item-content,
  novo-line,
  [novo-line] {
    display: flex;
  }
  .item-content:empty {
    display: none;
  }
  .item-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 16px;
    i {
      &.positive {
        color: map-get($all-colors, 'grass');
      }
      &.negative {
        color: map-get($all-colors, 'grapefruit');
      }
      @each $entity, $color in $all-colors {
        &.#{$entity} {
          color: $color;
        }
      }
    }
    &.vertical {
      flex-direction: column;
    }
    &.horizontal {
      flex-direction: row;
    }
  }
}
