<p>Click and drag these buttons to place them in a new position. When rearranged, they emit an event to demonstrate the new order.</p>
<div [novoDragDrop]="objects" (novoDragDropFinish)="dragFinished($event)" class="drag-box">
    <div *ngFor="let item of objects"
        class="demo-drag-item">
        <button class="novo-drag-target" [style.backgroundColor]="item.bgColor">{{item.btnText}}</button> <button class="remove-btn" (click)="removeObject(item)">X</button>
        <div>{{item.name}} (Non-draggable area)</div>
    </div>
</div>
<p *ngIf="objectMoved">{{objectMoved.name}} moved.</p>
<p *ngIf="objectMoved">Current object order is: {{objectsAsString}}</p>
<button (click)="addObject()">Add another object to list</button>
<p>These buttons below have no object associated</p>
<div novoDragDrop class="drag-box">
    <div><button>Button 1</button></div>
    <div><button>Button 2</button></div>
    <div><button>Button 3</button></div>
</div>