@import "../../../styles/variables.scss";

:host {
  display: inline-flex;
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  novo-icon {
    position: absolute;
    opacity: 0;
    color: var(--text-muted);
    &:hover {
      color: var(--selection);
    }
    &.sort-hidden {
      pointer-events: none;
    }
  }

  .novo-sort-asc-icon {
    top: 10px;
    color: var(--selection);
  }
  .novo-sort-desc-icon {
    top: -10px;
    color: var(--selection);
  }
}
