novo-tiles {
  display: inline-block;
  position: relative;
  color: $grey;
  $border-width: 1px;
  $border-properties: solid $border-width lighten($grey, 20%);
  input {
    appearance: none !important;
    height: 0 !important;
    border: none !important;
    position: absolute;
  }
  &>.tile-container {
    display: inline-block; //height: calc(2.5em + 4px);
    text-align: center;
    background-color: #f4f4f4;
    border: $border-properties;
    border-radius: 3px;
    position: relative;
    display: flex;
    cursor: pointer;
    align-items: center;
    .tile {
      padding: 10px 15px;
      line-height: 1.5em;
      height: 100%;
      z-index: 1;
      position: relative;
      cursor: pointer;
      &.active {
        color: $positive;
      }
      label {
        cursor: pointer;
        z-index: 1;
        position: relative;
      }
    }
    &.active {
      border-color: $positive;
      box-shadow: 0px 0px 15px 3px rgba(74, 137, 220, 0.25);
    }
  }
  span.active-indicator {
    position: absolute;
    top: -$border-width;
    left: -$border-width;
    height: calc(100% + #{$border-width*2});
    width: 100%;
    opacity: 0;
    z-index: 0;
    background: white;
    border: 1px solid $positive;
    border-radius: 3px;
    transition: all 140ms ease-in-out;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  }
}
