<section>
  <div class="example-label">Default</div>
  <div class="example-button-row">
    <button theme="secondary">Secondary</button>
    <button theme="secondary" disabled>Secondary</button>
  </div>
</section>

<novo-divider></novo-divider>

<section>
  <div class="example-label">Small</div>
  <div class="example-button-row">
    <button theme="secondary" size="small">Secondary</button>
    <button theme="secondary" size="small" disabled>Secondary</button>
  </div>
</section>

<novo-divider></novo-divider>

<section>
  <div class="example-label">Large</div>
  <div class="example-button-row">
    <button theme="secondary" size="large">Secondary</button>
    <button theme="secondary" size="large" disabled>Secondary</button>
  </div>
</section>

<section class="bgc-ocean">
  <div class="example-label tc-white">Inverse</div>
  <div class="example-button-row">
    <button theme="secondary" inverse>Actions</button>
    <button theme="secondary" color="negative" inverse>Issues</button>
    <button theme="secondary" icon="convert" inverse disabled>Convert</button>
  </div>
</section>