@import "../../styles/global/variables.scss";

:host {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 $spacing-md;
  font-size: 1.2rem;
  line-height: 3.2rem;
  border: none;
  background: transparent;
  border-radius: 3px;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
  gap: 0.4rem;
  cursor: pointer;
  user-select: none;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;

  .button-contents {
    line-height: inherit;
    font-size: inherit;
    color: inherit;
  }

  &[size="small"] {
    font-size: 1rem;
    padding: 0 $spacing-sm;
    line-height: 2.4rem;
  }

  &[size="large"] {
    font-size: 1.8rem;
    padding: 0 $spacing-lg;
    line-height: 4rem;
  }

  i {
    font-size: 0.8em;
    line-height: inherit;
    vertical-align: middle;
  }

  &:focus {
    outline: none;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  &[disabled="false"] {
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
  }

  &[loading="true"] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    i.loading {
      display: flex;
      align-items: center;
      justify-content: center;
      animation: rotate 1200ms linear infinite;
      svg {
        width: 100%;
        height: 100%;
        max-width: 15px;
        max-height: 15px;
        .spinner {
          fill: white;
        }
      }
    }
  }
  // Base Icon styles
  &[theme] {
    &[icon] {
      i {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before {
          vertical-align: baseline;
        }
      }
    }
  }

  // Primary theme
  &[theme="primary"] {
    background: $positive;
    color: #fff;
    text-align: left;

    &:hover,
    &:focus {
      background: lighten($positive, 10%);
    }
    &:active {
      background: darken($positive, 5%);
    }

    &[color="white"] {
      background: $white;
      color: $ocean;
      &:hover,
      &:focus {
        background: $background;
      }
      &:active {
        background: darken($background, 5%);
      }
      i {
        background: rgba(0, 0, 0, 0.05);
      }
    }
    @each $analytics, $color in $all-colors {
      &[color="#{$analytics}"] {
        background: $color;
        &:hover,
        &:focus {
          background: lighten($color, 10%);
        }
        &:active {
          background: darken($color, 5%);
        }
      }
    }
  }

  // Secondary Themed Button
  &[theme="secondary"] {
    text-align: left;
    align-items: center;
    background: #fff;
    color: $positive;
    border: 1px solid $positive;
    padding: 0 calc(#{$spacing-md} - 1px);
    line-height: calc(3.2rem - 2px);

    @each $name, $color in $all-colors {
      &[color="#{$name}"] {
        color: $color;
        border: 1px solid $color;
      }
    }

    i.loading {
      margin-left: 0.8rem;
      svg {
        .spinner {
          fill: $positive;
        }
      }
    }
    &:hover,
    &:focus {
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.15);
    }
    &:active {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    }
    &[inverse] {
      background: rgba(0, 0, 0, 0.25);
      color: #fff;
      border: 1px solid #fff;
      &:hover,
      &:focus {
        background: rgba(0, 0, 0, 0.35);
      }
      &:active {
        background: rgba(0, 0, 0, 0.45);
      }
      i.loading {
        svg {
          .spinner {
            fill: $white;
          }
        }
      }
    }
    &[icon] {
      i {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0.8rem;
        &:before {
          vertical-align: baseline;
        }
      }
    }
  }

  // Dialoge Themed Button
  &[theme="dialogue"] {
    background: transparent;
    color: $positive;
    &[icon] {
      align-items: center;
      justify-content: space-between;
      i {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0.8rem;
        &:before {
          vertical-align: baseline;
        }
      }
    }
    &:hover,
    &:focus {
      background: lighten($light, 7%);
    }
    &:active {
      background: lighten($light, 2%);
    }
    &[inverse] {
      &:hover,
      &:focus {
        background: rgba(0, 0, 0, 0.2);
      }
      &:active {
        background: rgba(0, 0, 0, 0.35);
      }
    }
    // Loop Generic Colors (Primary, Success, Negative, Etc.)
    @each $button, $color in $app-colors {
      &[color="#{$button}"] {
        color: $color;
        i {
          color: $color;
          &.loading {
            margin-left: 0.8rem;
            svg {
              .spinner {
                fill: $color;
              }
            }
          }
        }
      }
    } // Loop Analytics Colors
    @each $analytics, $color in $analytics-colors {
      &[color="#{$analytics}"] {
        color: $color;
        i {
          color: $color;
          &.loading {
            margin-left: 0.8rem;
            svg {
              .spinner {
                fill: $color;
              }
            }
          }
        }
      }
    }
  }
  // Standard Themed Icon
  &[theme="standard"] {
    color: $dark;
    background: $light;
    &:hover,
    &:focus {
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.15);
    }
    &:active {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    } // Loop Generic Colors (Primary, Success, Negative, Etc.)
    @each $button, $color in $app-colors {
      &[color="#{$button}"] {
        color: $white;
        background: $color;
      }
    } // Loop Analytics Colors
    @each $analytics, $color in $analytics-colors {
      &[color="#{$analytics}"] {
        color: $white;
        background: $color;
      }
    }
    &[color="background"],
    &[color="gray"],
    &[color="light"],
    &[color="off-white"],
    &[color="white"] {
      color: $dark;
    }
  }
  // Icon Themed Button
  &[theme="icon"] {
    padding: $spacing-sm;
    font-size: 1.6rem;
    &[inverse] {
      color: #fff;
    }
    i {
      margin: 0 !important;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
    &:active {
      background: rgba(0, 0, 0, 0.25);
    }
    @each $name, $color in $all-colors {
      &[color="#{$name}"] {
        color: $color;
      }
    }
    &[size="small"] {
      font-size: 1.2rem;
      padding: $spacing-sm;
    }

    &[size="large"] {
      font-size: 2rem;
      padding: $spacing-md;
    }
  }
  // Fab Themed Button
  &[theme="fab"] {
    &[inverse] {
      color: #fff;
    }
    padding: $spacing-md;
    font-size: 1.2rem;
    line-height: 2.4rem;
    border-radius: 50% !important;
    @each $button, $color in $all-colors {
      &[color="#{$button}"] {
        color: $white;
        background: $color;
      }
    }
    &:hover {
      box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
    &:active {
      box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
    i {
      margin: 0;
      padding: 0;
      &:before {
        display: block;
      }
    }
  }
  // Field Themed Button
  &[theme="field"] {
    background: transparent;
    color: $dark;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $dark;
    margin-bottom: 4px;
    padding: $spacing-xs $spacing-sm;
    font-size: 1.2rem;
    text-align: left;
    &:hover,
    &:focus,
    &:active {
      border-bottom: 1px solid $positive;
    }
  }
  // Select Themed Button
  &[theme="select"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid lighten($dark, 45%);
    border-radius: 0;
    color: $dark;
    height: 2rem;
    min-height: 2rem;
    position: relative;
    text-align: left;
    text-shadow: none;
    width: 100%;
    z-index: 1;
    cursor: pointer;
    text-transform: none;
    font-size: 1rem;

    &.empty {
      color: #a9a9a9;
    }
    &:focus,
    &:hover {
      outline: none;
    }
    &:hover {
      border-bottom: 1px solid lighten($dark, 15%);
      i {
        opacity: 0.75;
      }
    }
    &:focus {
      border-bottom: 1px solid $positive;
      i {
        color: rgba(0, 0, 0, 0.73);
      }
    }
    i {
      font-size: 0.8rem;
      color: $dark;
      opacity: 0.45;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
