@import "~novo-design-tokens/scss";

:host {
  position: relative;
  display: block;
  width: 100%;

  .condition-operator {
    &::ng-deep {
      .novo-select {
        min-width: 13rem;
      }
    }
  }
  .condition-input {
    &::ng-deep {
      .novo-input-element {
        padding: 0.2rem !important;
      }
      novo-field {
        width: fit-content;
      }
      .novo-select-display-value {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      } 
      .novo-field-infix {
        white-space: nowrap;
        overflow: hidden;
      }
      .novo-chip-input {
        width: fit-content !important;
      }
      novo-chips {
        border-bottom: none !important;
        input {
          padding-left: 0 !important;
        }
      }
    }
  }

  .and-or-filter-button {
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #ddd;
    color: #5691f5;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 0.4rem auto;
    // vertical-align: middle;
    align-items: center;
    text-align: center;
    user-select: none;
    outline: none;
    white-space: nowrap;
    text-transform: uppercase;
    overflow: hidden;
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
}
