<form [formGroup]="parentForm">
  <novo-grid gap="1rem" columns="16rem 10rem 1fr">
    <novo-field class="condition-field">
      <novo-select
        placeholder="Choose a field..."
        formControlName="field"
        (onSelect)="onFieldSelect()"
        overlayWidth="auto"
        overlayHeight="auto"
        [style.minWidth.px]="160">
        <div class="field-select-picker">
          <novo-nav theme="white" direction="vertical">
            <novo-tab *ngFor="let entity of config?.fields" (activeChange)="changeFieldOptions(entity)">
              {{ entity.label }}
            </novo-tab>
          </novo-nav>
          <div class="filter-search-results">
            <novo-search alwaysOpen="true" [formControl]="searchTerm"></novo-search>
            <ng-container *ngIf="results$ | async as results; else loading">
              <ng-container *ngIf="results.length; else empty">
                <novo-option *ngFor="let field of results" value="{{ fieldConfig.value }}.{{ field.name }}">
                  {{ field.label }}
                </novo-option>
              </ng-container>
              <!-- EMPTY STATE TEMPLATE -->
              <ng-template #empty>
                <novo-non-ideal-state
                  icon="search"
                  title="No results found."
                  description="Your search didn't find anything. Try searching for something else.">
                </novo-non-ideal-state>
              </ng-template>
            </ng-container>
            <!-- LOADING TEMPLATE -->
            <ng-template #loading>
              <novo-loading></novo-loading>
            </ng-template>
          </div>
        </div>
      </novo-select>
    </novo-field>

    <div class="condition-operator">
      <ng-container queryFilterOperatorOutlet></ng-container>
    </div>

    <div class="condition-value">
      <ng-container queryFilterInputOutlet></ng-container>
    </div>
  </novo-grid>
</form>