@import "~novo-design-tokens/scss";
@import "variables";

:host {
  display: block;
  color: black;
  width: 100%;
  min-width: 250px;
  max-width: none;
  z-index: z(overlay);
  background: var(--color-background);
  box-shadow: var(--shadow-z3);

  .novo-list {
    max-height: 49vh;
    overflow: auto;
    background: var(--color-background);
    .novo-item-content {
      margin-top: var(--spacing-sm);
      margin-left: 1.8rem;
      row-gap: 1rem;
      .novo-text {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 1em;
      }
    }
    novo-loading {
      justify-content: center;
    }
  }
}

entity-picker-results,
picker-results {
  color: black;
  min-width: 100%;
  max-width: 100%;
  z-index: 10;
  top: 100%;
  .novo-list {
    border: 1px solid #4a89dc;
    .novo-list-item {
      cursor: pointer;
      flex: 0 0;
      transition: background-color 250ms;
      & > div {
        width: 100%;
      }
      &.active {
        background-color: var(--color-selection-overlay);
      }
      &:hover {
        background-color: var(--color-selection-overlay);
      }
      .novo-item-content {
        flex-flow: row wrap;
        & > * {
          flex: 0 0 33%;
          white-space: nowrap;
        }
      }
    }
  }
  .error-results,
  .no-recents,
  .null-results {
    text-align: center;
    padding: 1em 0 4em;
    > i {
      font-size: 3em;
      margin: 0.5em;
      color: rgba(0, 0, 0, 0.3);
    }
    > h4,
    > p {
      margin: 0;
      max-width: none;
      padding: 0;
    }
    > h4 {
      font-weight: 500;
    }
  }
  section {
    box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.25);
    z-index: 9;
    position: absolute;
    width: 100%;
    background-color: var(--color-background);
    color: black;
  }
}
