.novo-collapsible-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background: var(--background-bright);

  .novo-collapsible-nav-header {
    flex: 0 0 auto;
  }

  .novo-collapsible-nav-body {
    flex: 1 1 auto;
    overflow: hidden auto;
  }

  .novo-collapsible-nav-footer {
    flex: 0 0 auto;
  }
}
