<header
  *ngIf="(!(empty && !state.userFiltered) && !loading) || forceShowHeader"
  [class.empty]="hideGlobalSearch && !paginationOptions && !templates['customActions']"
  [ngClass]="{ 'pagination-footer': paginationOptions?.onFooter }"
>
  <ng-container *ngTemplateOutlet="templates['customHeader']"></ng-container>
  <novo-search
    alwaysOpen="true"
    (searchChanged)="onSearchChange($event)"
    [(ngModel)]="state.globalSearch"
    *ngIf="!hideGlobalSearch"
    [placeholder]="searchOptions?.placeholder"
    [hint]="searchOptions?.tooltip"
  >
  </novo-search>
  <!-- Updates to novo-data-table-pagination here need to be applied to the footer as well -->
  <novo-data-table-pagination
    *ngIf="paginationOptions && !paginationOptions.onFooter"
    [theme]="paginationOptions.theme"
    [length]="useOverrideTotal ? overrideTotal : dataSource?.currentTotal"
    [page]="paginationOptions.page"
    [pageSize]="paginationOptions.pageSize"
    [pageSizeOptions]="paginationOptions.pageSizeOptions"
    [dataFeatureId]="paginatorDataFeatureId"
    [canSelectAll]="canSelectAll"
    [allMatchingSelected]="allMatchingSelected"
    [loading]="paginationOptions.loading"
    [errorLoading]="paginationOptions.errorLoading"
    [paginationRefreshSubject]="paginationRefreshSubject"
  >
  </novo-data-table-pagination>
  <div class="novo-data-table-actions" *ngIf="templates['customActions']">
    <ng-container *ngTemplateOutlet="templates['customActions']"></ng-container>
  </div>
</header>
<div class="novo-data-table-loading-mask" *ngIf="dataSource?.loading || loading" data-automation-id="novo-data-table-loading">
  <novo-loading></novo-loading>
</div>
<div class="novo-data-table-outside-container" [ngClass]="{ 'novo-data-table-outside-container-fixed': fixedHeader }">
  <div class="novo-data-table-custom-filter" *ngIf="customFilter">
    <ng-container *ngTemplateOutlet="templates['customFilter']"></ng-container>
  </div>
  <div
    #novoDataTableContainer
    cdkScrollable
    class="novo-data-table-container"
    [ngClass]="{ 'novo-data-table-container-fixed': fixedHeader }"
    [class.empty-user-filtered]="dataSource?.currentlyEmpty && state.userFiltered"
    [class.empty]="empty && !dataSource?.loading && !loading && !state.userFiltered && !dataSource.pristine"
  >
    <cdk-table
      *ngIf="columns?.length > 0 && columnsLoaded && dataSource"
      [dataSource]="dataSource"
      [trackBy]="trackByFn"
      novoDataTableSortFilter
      [class.expandable]="expandable"
      [class.empty]="dataSource?.currentlyEmpty && state.userFiltered"
      [hidden]="empty && !state.userFiltered"
    >
      <ng-container cdkColumnDef="selection">
        <novo-data-table-checkbox-header-cell *cdkHeaderCellDef [maxSelected]="maxSelected"></novo-data-table-checkbox-header-cell>
        <novo-data-table-checkbox-cell
          *cdkCellDef="let row; let i = index"
          [row]="row"
          [maxSelected]="maxSelected"
        ></novo-data-table-checkbox-cell>
      </ng-container>
      <ng-container cdkColumnDef="expand">
        <novo-data-table-expand-header-cell *cdkHeaderCellDef></novo-data-table-expand-header-cell>
        <novo-data-table-expand-cell *cdkCellDef="let row; let i = index" [row]="row"></novo-data-table-expand-cell>
      </ng-container>
      <ng-container *ngFor="let column of columns; trackBy: trackColumnsBy" [cdkColumnDef]="column.id">
        <novo-data-table-header-cell
          *cdkHeaderCellDef
          [column]="column"
          [filterTemplate]="templates['column-filter-' + (column.filterable?.customTemplate || column.id)]"
          (toggledFilter)="toggledFilter.next($event)"
          [novo-data-table-cell-config]="column"
          [resized]="resized"
          [defaultSort]="defaultSort"
          [allowMultipleFilters]="allowMultipleFilters"
          [class.empty]="column?.type === 'action' && !column?.label"
          [class.button-header-cell]="column?.type === 'expand' || (column?.type === 'action' && !column?.action?.options)"
          [class.dropdown-header-cell]="column?.type === 'action' && column?.action?.options"
          [class.fixed-header]="fixedHeader"
        ></novo-data-table-header-cell>
        <novo-data-table-cell
          *cdkCellDef="let row"
          [resized]="resized"
          [column]="column"
          [row]="row"
          [template]="columnToTemplate[column.id]"
          [class.empty]="column?.type === 'action' && !column?.label"
          [class.button-cell]="column?.type === 'expand' || (column?.type === 'action' && !column?.action?.options)"
          [class.dropdown-cell]="column?.type === 'action' && column?.action?.options"
        ></novo-data-table-cell>
      </ng-container>
      <novo-data-table-header-row
        *cdkHeaderRowDef="displayedColumns"
        [novoDragDrop]="enableColumnDragging ? displayedColumns : undefined"
        [novoDragDropFilter]="columnDragFilter"
        (novoDragDropFinish)="columnDragged($event)"
        [fixedHeader]="fixedHeader"
        data-automation-id="novo-data-table-header-row"
      ></novo-data-table-header-row>
      <novo-data-table-row
        *cdkRowDef="let row; columns: displayedColumns"
        [ngClass]="{ active: row[rowIdentifier] == activeRowIdentifier }"
        [novoDataTableExpand]="detailRowTemplate"
        [row]="row"
        [id]="name + '-' + row[rowIdentifier]"
        [dataAutomationId]="row[rowIdentifier]"
      ></novo-data-table-row>
    </cdk-table>
    <div class="novo-data-table-alternate-view" *ngIf="templates['alternateView']">
      <ng-container *ngTemplateOutlet="templates['alternateView'];"></ng-container>
    </div>
    <div class="novo-data-table-footer" *ngIf="templates['footer']">
      <ng-container *ngTemplateOutlet="templates['footer']; context: { $implicit: columns, data: dataSource.data }"></ng-container>
    </div>
    <div
      class="novo-data-table-no-results-container"
      [style.left.px]="scrollLeft"
      *ngIf="dataSource?.currentlyEmpty && state.userFiltered && !dataSource?.loading && !loading && !dataSource.pristine"
    >
      <div class="novo-data-table-empty-message">
        <ng-container *ngTemplateOutlet="templates['noResultsMessage'] || templates['defaultNoResultsMessage']"></ng-container>
      </div>
    </div>
    <div
      class="novo-data-table-no-more-results-container"
      [style.left.px]="scrollLeft"
      *ngIf="!empty && dataSource?.currentlyEmpty && !state.userFiltered && !dataSource?.loading && !loading && !dataSource.pristine"
    >
      <div class="novo-data-table-empty-message">
        <ng-container *ngTemplateOutlet="templates['noMoreResultsMessage'] || templates['defaultNoMoreResultsMessage']"></ng-container>
      </div>
    </div>
  </div>
  <div
    class="novo-data-table-empty-container"
    *ngIf="empty && !dataSource?.loading && !loading && !state.userFiltered && !dataSource.pristine"
  >
    <div class="novo-data-table-empty-message">
      <ng-container *ngTemplateOutlet="templates['emptyMessage'] || templates['defaultNoResultsMessage']"></ng-container>
    </div>
  </div>
</div>
<!-- DEFAULT CELL TEMPLATE -->
<ng-template novoTemplate="textCellTemplate" let-row let-col="col">
  <span [style.width.px]="col?.width" [style.min-width.px]="col?.width" [style.max-width.px]="col?.width">{{
    row[col.id] | dataTableInterpolate: col
  }}</span>
</ng-template>
<ng-template novoTemplate="dateCellTemplate" let-row let-col="col">
  <span>{{ row[col.id] | dataTableInterpolate: col | dataTableDateRenderer: col }}</span>
</ng-template>
<ng-template novoTemplate="datetimeCellTemplate" let-row let-col="col">
  <span>{{ row[col.id] | dataTableInterpolate: col | dataTableDateTimeRenderer: col }}</span>
</ng-template>
<ng-template novoTemplate="timeCellTemplate" let-row let-col="col">
  <span>{{ row[col.id] | dataTableInterpolate: col | dataTableTimeRenderer: col }}</span>
</ng-template>
<ng-template novoTemplate="currencyCellTemplate" let-row let-col="col">
  <span>{{ row[col.id] | dataTableInterpolate: col | dataTableCurrencyRenderer: col }}</span>
</ng-template>
<ng-template novoTemplate="bigdecimalCellTemplate" let-row let-col="col">
  <span>{{ row[col.id] | dataTableInterpolate: col | dataTableBigDecimalRenderer: col }}</span>
</ng-template>
<ng-template novoTemplate="numberCellTemplate" let-row let-col="col">
  <span>{{ row[col.id] | dataTableInterpolate: col | dataTableNumberRenderer: col }}</span>
</ng-template>
<ng-template novoTemplate="percentCellTemplate" let-row let-col="col">
  <span>{{ row[col.id] | dataTableInterpolate: col | dataTableNumberRenderer: col:true }}</span>
</ng-template>
<ng-template novoTemplate="linkCellTemplate" let-row let-col="col">
  <a
    [attr.data-feature-id]="col?.attributes?.dataFeatureId"
    (click)="col.handlers?.click({ originalEvent: $event, row: row })"
    [style.width.px]="col?.width"
    [style.min-width.px]="col?.width"
    [style.max-width.px]="col?.width"
    >{{ row[col.id] | dataTableInterpolate: col }}</a
  >
</ng-template>
<ng-template novoTemplate="telCellTemplate" let-row let-col="col">
  <a href="tel:{{ row[col.id] | dataTableInterpolate: col }}" [target]="col?.attributes?.target">{{
    row[col.id] | dataTableInterpolate: col
  }}</a>
</ng-template>
<ng-template novoTemplate="mailtoCellTemplate" let-row let-col="col">
  <a href="mailto:{{ row[col.id] | dataTableInterpolate: col }}" [target]="col?.attributes?.target">{{
    row[col.id] | dataTableInterpolate: col
  }}</a>
</ng-template>
<ng-template novoTemplate="buttonCellTemplate" let-row let-col="col">
  <novo-button
    size="small"
    theme="icon"
    [tooltip]="col?.action?.tooltip"
    tooltipPosition="right"
    [attr.data-feature-id]="col?.attributes?.dataFeatureId"
    [disabled]="isDisabled(col, row)"
    (click)="col.handlers?.click({ originalEvent: $event, row: row })"
  >
    <novo-icon>{{ col?.action?.icon }}</novo-icon>
  </novo-button>
</ng-template>
<ng-template novoTemplate="dropdownCellTemplate" let-row let-col="col">
  <novo-dropdown parentScrollSelector=".novo-data-table-container" containerClass="novo-data-table-dropdown">
    <novo-button type="button" theme="dialogue" [icon]="col.action.icon" inverse>{{ col.label }}</novo-button>
    <novo-optgroup>
      <novo-option
        *ngFor="let option of col?.action?.options"
        (click)="option.handlers.click({ originalEvent: $event?.originalEvent, row: row })"
        [disabled]="isDisabled(option, row)"
      >
        <span [attr.data-automation-id]="option.label">{{ option.label }}</span>
      </novo-option>
    </novo-optgroup>
  </novo-dropdown>
</ng-template>
<ng-template novoTemplate="defaultNoResultsMessage">
  <h4><i class="bhi-search-question"></i> {{ labels.noMatchingRecordsMessage }}</h4>
</ng-template>
<ng-template novoTemplate="defaultNoMoreResultsMessage">
  <h4><i class="bhi-search-question"></i> {{ labels.noMoreRecordsMessage }}</h4>
</ng-template>
<ng-template novoTemplate="defaultEmptyMessage">
  <h4><i class="bhi-search-question"></i> {{ labels.emptyTableMessage }}</h4>
</ng-template>
<ng-template novoTemplate="expandedRow"> You did not provide an "expandedRow" template! </ng-template>
<ng-template #detailRowTemplate let-row>
  <div class="novo-data-table-detail-row" [@expand] style="overflow: hidden">
    <ng-container *ngTemplateOutlet="templates['expandedRow']; context: { $implicit: row }"></ng-container>
  </div>
</ng-template>
<!-- CUSTOM CELLS PASSED IN -->
<footer
  *ngIf="paginationOptions?.onFooter && ((!(empty && !state.userFiltered) && !loading) || forceShowHeader)"
  [class.empty]="!paginationOptions"
>
  <!-- Updates to novo-data-table-pagination here need to be applied to the header as well -->
  <novo-data-table-pagination
    *ngIf="paginationOptions?.onFooter"
    [theme]="paginationOptions.theme"
    [length]="useOverrideTotal ? overrideTotal : dataSource?.currentTotal"
    [page]="paginationOptions.page"
    [pageSize]="paginationOptions.pageSize"
    [pageSizeOptions]="paginationOptions.pageSizeOptions"
    [dataFeatureId]="paginatorDataFeatureId"
    [canSelectAll]="canSelectAll"
    [allMatchingSelected]="allMatchingSelected"
    [loading]="paginationOptions.loading"
    [errorLoading]="paginationOptions.errorLoading"
    [paginationRefreshSubject]="paginationRefreshSubject"
    [showPaginationTotalRecordCount]="true"
  >
  </novo-data-table-pagination>
</footer>
<ng-content></ng-content>