novo-file-input {
    display: flex;
    flex-flow: row wrap;
    
    .file-output-group {
        width: 100%;
        .file-item {
            background-color: $white;
            box-shadow: 0 1px 4px rgba(#000, .15), 0 2px 10px rgba(#000, .09);
            margin-bottom: 15px;
            position: relative;
            //border-radius: 3px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            padding: 4px 12px;
            width: 100%;

            label {
                flex: 1;
            }

            button {
                font-size: 1.4rem;
                width: 42px;
                height: 42px;
                padding: 4px;
                color: $grey;
            }
            button:hover,
            button:focus,
            button.active {
                background: none;
                color: $positive;
            }
        }
    }

    .file-input-group {
        cursor: pointer;
        width: 100%;

        input[type="file"] {
            opacity: 0;
            position: absolute;
            width: 100% !important;
            height: 100% !important;;
            cursor: pointer;
        }

        &:hover {
            label {
                border: 2px dashed $positive;
            }
        }

        &.disabled {
            opacity: 0.3;
            pointer-events: none;
        }

        label {
            color: $grey;
            margin-left: 0;
            transition: all 200ms ease-in-out;
            display: flex;
            flex-flow: column;
            align-items: center;
            position: relative;
            border: 2px dashed $grey;
            padding: 15px;
            cursor: pointer;
            pointer-events: none; /*This for FF*/
            strong {
                color: $positive;
            }
            small {
                margin-top: 7px;
            }
        }
    }
}
