<novo-toolbar>
  <novo-toolbar-row accent="company">
    <novo-title>John Smith</novo-title>
  </novo-toolbar-row>
  <novo-toolbar-row>
    <novo-nav router data-automation-id="tabs-nav-link">
      <novo-tab-link data-automation-id="tabs-nav-link-overview">Overview</novo-tab-link>
      <novo-tab-link data-automation-id="tabs-nav-link-edit">Edit</novo-tab-link>
      <novo-tab-link data-automation-id="tabs-nav-link-activity">Activity</novo-tab-link>
      <novo-tab-link data-automation-id="tabs-nav-link-notes">Notes</novo-tab-link>
    </novo-nav>
  </novo-toolbar-row>
</novo-toolbar>
