.example.quick-note-demo {
  div.data {
    padding: 10px;
  }
  &.custom-results {
    .quick-note-wrapper {
      // Tests the dynamic sizing of the CKEditor
      height: 600px;
    }
  }
  quick-note-results,
  .quick-note-results {
    novo-list {
      width: 100%;
    }
  }
}
