<div style="background: var(--color-navigation); padding: 0 var(--spacing-md);">
  <novo-nav theme="color" data-automation-id="tabs-color-theme">
    <novo-tab data-automation-id="tabs-color-theme-tab-1">Overview</novo-tab>
    <novo-tab data-automation-id="tabs-color-theme-tab-2">Edit</novo-tab>
    <novo-tab data-automation-id="tabs-color-theme-tab-3">Activity</novo-tab>
    <novo-tab disabled data-automation-id="tabs-color-theme-tab-4">Disabled</novo-tab>
  </novo-nav>
</div>

<div style="background: var(--color-ocean); padding: 0 var(--spacing-md); margin-top: var(--spacing-md);">
  <novo-nav theme="neutral" data-automation-id="tabs-neutral-theme">
    <novo-tab data-automation-id="tabs-neutral-theme-tab-1">Overview</novo-tab>
    <novo-tab data-automation-id="tabs-neutral-theme-tab-2">Edit</novo-tab>
    <novo-tab data-automation-id="tabs-neutral-theme-tab-3">Activity</novo-tab>
    <novo-tab disabled data-automation-id="tabs-neutral-theme-tab-4">Disabled</novo-tab>
  </novo-nav>
</div>
