<novo-non-ideal-state icon="file" title="This folder is empty" description="Upload a new file to populate the folder.">
  <button theme="primary" icon="upload">Upload</button>
</novo-non-ideal-state>

<novo-non-ideal-state>
  <novo-icon size="xl" color="grapefruit">file</novo-icon>
  <novo-title>This folder is empty</novo-title>
  <novo-text>Upload a new file to populate the folder.</novo-text>
  <novo-tip-well>
    <novo-text>Sed sodales ligula et fermentum bibendum. Aliquam tincidunt sagittis leo eget auctor. Fusce eu sagittis
      metus, ut viverra magna. Mauris mollis nisl nec libero tincidunt posuere.</novo-text>
  </novo-tip-well>
  <button theme="primary" icon="upload">Upload</button>
</novo-non-ideal-state>