<novo-dropdown>
  <button type="button"
          theme="secondary"
          icon="collapse"
          inverse>Actions</button>
  <list>
    <dropdown-item-header>Section 1</dropdown-item-header>
    <item (action)="clickMe('Hello!')">Test</item>
    <item (action)="clickMe('Another!')">Josh</item>
    <item tooltip="Test tooltip :)"
          tooltipPosition="right"
          [disabled]="true"
          (action)="clickMe()">Poop</item>
    <dropdown-item-header>Section 2</dropdown-item-header>
    <item (action)="clickMe('Hello!')">Germany</item>
    <item (action)="clickMe('Another!')">Algebra</item>
    <item tooltip="Test tooltip :)"
          tooltipPosition="right"
          [disabled]="true"
          (action)="clickMe()">Blah</item>
  </list>
</novo-dropdown>
<novo-dropdown side="right">
  <button type="button"
          theme="icon"
          icon="menu"
          inverse></button>
  <list>
    <item>Action 1</item>
    <item tooltip="Test tooltip :)"
          tooltipPosition="left">Action 2</item>
    <item>Action 3</item>
  </list>
</novo-dropdown>
