@import "./extras/address/Address";
@import "./extras/checkbox/Checkbox";
@import "./extras/file/FileInput";

novo-form, novo-dynamic-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .novo-form-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;

        form {
            width: 100%;

            > div.novo-form-row {
                width: 100%;

                &:first-child {
                    > novo-control {
                        margin-top: 0;
                    }
                }

                novo-control {
                    margin-top: 1rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 100%;
                    min-height: 44px;

                    .ng-touched.ng-invalid:not(.ng-pristine):not(.novo-control-container) {
                        border-bottom: 1px solid $negative !important;

                        &.valid-number {
                            border-bottom: none !important;
                        }
                    }

                    &[hidden] {
                        display: none !important;
                    }

                    .error-message {
                        color: $negative;
                        font-size: 0.8em;
                        padding: 5px 0;
                        flex-basis: 100%;
                        margin-left: 185px;
                        margin-bottom: 5px;
                        height: 2em;

                        &[hidden] {
                            display: block !important;
                            visibility: hidden;
                        }
                    }

                    > div.novo-control-container {
                        flex: 1;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-items: center;
                        width: 100%;

                        > label {
                            color: #9e9e9e;
                            font-size: 0.9em;
                            flex: 1;
                            max-width: 130px;
                            font-weight: 500;
                            transition: 200ms ease-out;
                            margin-right: 35px;
                            text-transform: uppercase;
                        }

                        > div.novo-control-input-container {
                            display: flex;
                            align-items: center;
                            max-width: 450px;
                            flex: 2;

                            > div.novo-control-input {
                                width: 100%;
                                position: relative;

                                &[type="picker"] {
                                    align-self: auto;
                                }

                                &.editor {
                                    margin-bottom: 10px;
                                }

                                novo-quick-note {
                                    margin-bottom: 10px;
                                    textarea {
                                        line-height: inherit;
                                    }

                                    .quick-note-overlay {
                                        padding: 0;
                                    }
                                }

                                input, textarea {
                                    font-size: 1em;
                                    background: transparent !important;
                                    border: none;
                                    border-bottom: 1px solid #EAEAEA;
                                    border-radius: 0;
                                    outline: none;
                                    height: 2rem;
                                    width: 100%;
                                    margin: 0;
                                    padding: 0;
                                    box-shadow: none;
                                    box-sizing: content-box;
                                    transition: all 300ms;
                                    color: #26282B;

                                    &:hover {
                                        border-bottom: 1px solid lighten($dark, 47%);
                                    }

                                    &:focus {
                                        border-bottom: 1px solid $positive;
                                    }
                                }

                                textarea {
                                    overflow-y: hidden !important;
                                    transition: height 0;
                                    background: transparent !important;
                                }

                                > div.novo-control-input-with-label {
                                    display: flex;
                                    align-items: center;

                                    input {
                                        flex: 1;
                                    }

                                    label.input-label {
                                        padding-left: 5px;
                                        color: lighten($dark, 47%);
                                    }
                                }

                                > div.novo-control-input-container {
                                    font-size: 1rem;
                                    flex: 1;
                                    position: relative;

                                    > i.bhi-search, > i.bhi-clock, > i.bhi-calendar, > i.bhi-times {
                                        position: absolute;
                                        right: 0;
                                        top: 0
                                    }

                                    > i.bhi-times {
                                        cursor: pointer;
                                        font-size: 1.1em;
                                    }

                                    > novo-time-picker, > novo-date-picker {
                                        position: absolute;
                                        top: 100%;
                                        left: 0;
                                    }

                                    > div.date-time-container {
                                        position: absolute;
                                        top: 100%;
                                        left: 0;
                                        display: flex;
                                        box-shadow: 0 1px 3px rgba(#000, .1);

                                        novo-date-picker {
                                            border-top-right-radius: 0;
                                            border-bottom-right-radius: 0;
                                            box-shadow: none;
                                            border-right: 1px solid rgba($light, .5);

                                            > .calendar {
                                                box-shadow: none;
                                            }
                                        }

                                        novo-time-picker {
                                            border-top-left-radius: 0;
                                            border-bottom-left-radius: 0;
                                            box-shadow: none;
                                        }
                                    }

                                    > novo-picker {
                                        padding-bottom: 0;

                                        &.ng-touched.ng-invalid:not(.ng-pristine) {
                                            > input, > input:focus, > input:hover {
                                                border-bottom-color: transparent !important;
                                            }
                                        }
                                    }

                                    > chips {
                                        padding: 2px 0;

                                        novo-picker {
                                            padding-bottom: 0;
                                            > input {
                                                border: none;
                                            }
                                        }

                                        &.with-value {
                                            margin-bottom: 0;
                                        }
                                    }

                                    entity-picker-results,
                                    picker-results {
                                        position: absolute;
                                        color: black;
                                        min-width: 100%;
                                        max-width: none;
                                        z-index: 10;
                                        top: 100%;
                                        border: 1px solid #4A89DC;

                                        novo-list {
                                            max-height: 600px;
                                            overflow: auto;

                                            novo-list-item {
                                                cursor: pointer;
                                                flex: 0 0;
                                                transition: background-color 250ms;

                                                & > div {
                                                    width: 100%;
                                                }

                                                &.active {
                                                    background-color: lighten($positive, 35%);
                                                }

                                                &:hover {
                                                    background-color: lighten($positive, 39%);
                                                }

                                                item-content {
                                                    flex-flow: row wrap;

                                                    & > * {
                                                        flex: 0 0 33%;
                                                        white-space: nowrap;
                                                    }
                                                }
                                            }
                                        }

                                        .error-results,
                                        .no-recents,
                                        .null-results {
                                            text-align: center;
                                            padding: 1em 0 4em;

                                            > i {
                                                font-size: 3em;
                                                margin: 0.5em;
                                                color: rgba(0, 0, 0, .3);
                                            }

                                            > h4,
                                            > p {
                                                margin: 0;
                                                max-width: none;
                                                padding: 0;
                                            }

                                            > h4 {
                                                font-weight: 500;
                                            }

                                            > p {
                                            }
                                        }

                                        section {
                                            box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.25);
                                            z-index: 9;
                                            position: absolute;
                                            width: 100%;
                                            background-color: white;
                                            color: black;
                                        }
                                    }
                                }
                            }

                            i.required-indicator {
                                height: 13px;
                                width: 13px;
                                font-size: 13px;
                                margin-right: 10px;

                                &.bhi-circle {
                                    color: $grapefruit;
                                    text-align: center;
                                    font-size: 7px;
                                }

                                &.bhi-check {
                                    color: $grass;
                                }

                                &[hidden] {
                                    display: inherit !important;
                                    visibility: hidden;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &[dark] {
        .novo-form-container {
            form {
                form-field {
                    form-label {
                        label {
                            color: #747E86;
                        }
                    }

                    form-input {
                        address-input,
                        currency-input,
                        date-input,
                        date-time-input,
                        entity-input,
                        float-input,
                        number-input,
                        percent-input,
                        picker-input,
                        text-area,
                        text-input,
                        time-input {
                            input,
                            textarea {
                                color: $light;
                                border-bottom: 1px solid rgba(lighten($dark, 12%), .25);
                                background: transparent !important;

                                &:focus {
                                    border-bottom: 1px solid $ocean;
                                }
                            }
                        }

                        novo-select {
                            > div[type="button"] {
                                color: $light;
                                border-bottom: 1px solid rgba(lighten($dark, 12%), .25);

                                &:focus {
                                    border-bottom: 1px solid $ocean;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    address-input {
        display: flex;
        flex-flow: row wrap;

        input {
        }

        .street-address {
            flex: 3 3 75%;
        }

        .apt {
            flex: 1 1 25%;
        }

        .city {
            flex: 2 2 40%;
        }

        .state {
            flex: 1 1 30%;
        }

        .zip {
            flex: 1 0 20%;
        }

        .country-name {
            flex: 4 4 100%;
        }
    }

    &[layout="vertical"] {
        .novo-form-container {
            form {
                > div.novo-form-row {
                    novo-control {
                        margin-top: 0;

                        .novo-control-container {
                            flex-direction: column;
                            align-items: flex-start;
                            position: relative;

                            > label {
                                margin-bottom: 5px;
                                padding-left: 22px;
                                max-width: 100%;
                            }

                            .novo-control-input-container {
                                display: flex;
                                align-items: center;
                                max-width: 450px;
                                width: 100%;
                            }

                            .error-message {
                                padding-left: 22px;
                                position: relative;
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes iconEnter {
    0% {
        opacity: 0;
        transform: scale(.8);
    }

    90% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
