<div class="novo-control-container" [formGroup]="form">
    <!--Label-->
    <label [attr.for]="control.key" [@heroState]="state">{{control.label}}</label>
    <div class="novo-control-input-container">
        <!--Required Indicator-->
        <i [hidden]="!control.required" class="required-indicator" [ngClass]="{'bhi-circle': !isValid, 'bhi-check': isValid}"></i>
        <!--Form Controls-->
        <div class="novo-control-input {{control.controlType}}" [ngSwitch]="control.controlType" [attr.data-automation-id]="control.key">
            <!--Text-based Inputs-->
            <!--TODO prefix/suffix on the control-->
            <div class="novo-control-input-container novo-control-input-with-label" *ngSwitchCase="'textbox'">
                <input [formControlName]="control.key" [id]="control.key" [type]="control.type" [placeholder]="control.placeholder" (focus)="toggleState()" (blur)="toggleState()">
                <label class="input-label" *ngIf="control.subType === 'currency'">{{control.currencyFormat}}</label>
                <label class="input-label" *ngIf="control.subType === 'percentage'">%</label>
            </div>
            <!--TextArea-->
            <textarea *ngSwitchCase="'text-area'" [name]="control.key" [attr.id]="control.key" [placeholder]="control.placeholder" [formControlName]="control.key" (input)="resizeTextArea($event)"></textarea>
            <!--Editor-->
            <novo-editor *ngSwitchCase="'editor'" [formControlName]="control.key"></novo-editor>
            <!--HTML5 Select-->
            <select [id]="control.key" *ngSwitchCase="'native-select'" [formControlName]="control.key">
                <option *ngIf="control.placeholder" value="" disabled selected hidden>{{control.placeholder}}</option>
                <option *ngFor="let opt of control.options" [value]="opt.key">{{opt.value}}</option>
            </select>
            <!--File-->
            <novo-file-input *ngSwitchCase="'file'" [formControlName]="control.key" [id]="control.key" [name]="control.key" [placeholder]="control.placeholder" [multiple]="control.multiple"></novo-file-input>
            <!--Tiles-->
            <novo-tiles *ngSwitchCase="'tiles'" [options]="control.options" [formControlName]="control.key" (onChange)="modelChange($event)"></novo-tiles>
            <!--Picker-->
            <div class="novo-control-input-container" *ngSwitchCase="'picker'">
                <novo-picker [config]="control.config" [formControlName]="control.key" [placeholder]="control.placeholder" *ngIf="!control.multiple" (select)="toggleState()" (focus)="toggleState()" (blur)="toggleState()"></novo-picker>
                <chips [source]="control.config" [type]="control.config.type" [formControlName]="control.key" [placeholder]="control.placeholder" *ngIf="control.multiple" (changed)="toggleState()" (focus)="toggleState()" (blur)="toggleState()"></chips>
            </div>
            <!--Novo Select-->
            <novo-select *ngSwitchCase="'select'" [options]="control.options" [headerConfig]="control.headerConfig" [placeholder]="control.placeholder" [formControlName]="control.key"></novo-select>
            <!--Radio-->
            <div class="novo-control-input-container" *ngSwitchCase="'radio'">
                <novo-radio [vertical]="vertical" [name]="control.key" [formControlName]="control.key" *ngFor="let option of control.options" [value]="option.key" [label]="option.value"></novo-radio>
            </div>
            <!--Time-->
            <div class="novo-control-input-container" *ngSwitchCase="'time'">
                <input [name]="control.key" type="text" [attr.id]="control.key" [placeholder]="control.placeholder" (click)="toggleActive($event); toggleState()" [value]="formattedValue" readonly/>
                <i (click)="toggleActive($event); toggleState()" class="bhi-clock" *ngIf="!hasValue"></i>
                <i (click)="clearValue(); toggleState()" class="bhi-times" *ngIf="hasValue"></i>
                <novo-time-picker [hidden]="!active" (onSelect)="formatTimeValue($event)" [formControlName]="control.key"></novo-time-picker>
            </div>
            <!--Date-->
            <div class="novo-control-input-container" *ngSwitchCase="'date'">
                <input [name]="control.key" type="text" [attr.id]="control.key" [placeholder]="control.placeholder" (click)="toggleActive($event); toggleState()" [value]="formattedValue" readonly/>
                <i (click)="toggleActive($event); toggleState()" class="bhi-calendar" *ngIf="!hasValue"></i>
                <i (click)="clearValue(); toggleState()" class="bhi-times" *ngIf="hasValue"></i>
                <novo-date-picker inline="true" [hidden]="!active" (onSelect)="formatDateValue($event)" [formControlName]="control.key"></novo-date-picker>
            </div>
            <!--Date and Time-->
            <div class="novo-control-input-container" *ngSwitchCase="'date-time'">
                <input [name]="control.key" type="text" [attr.id]="control.key" [placeholder]="control.placeholder" (click)="toggleActive($event); toggleState()" [value]="formattedValue" readonly/>
                <i (click)="toggleActive($event); toggleState()" class="bhi-calendar" *ngIf="!hasValue"></i>
                <i (click)="clearValue(); toggleState()" class="bhi-times" *ngIf="hasValue"></i>
                <div class="date-time-container">
                    <novo-date-picker inline="true" [hidden]="!active" (onSelect)="formatDateTimeValue($event, 'date')" [formControlName]="control.key"></novo-date-picker>
                    <novo-time-picker [hidden]="!active" (onSelect)="formatDateTimeValue($event, 'time')" [formControlName]="control.key"></novo-time-picker>
                </div>
            </div>
            <!--Address-->
            <novo-address *ngSwitchCase="'address'" [formControlName]="control.key"></novo-address>
            <!--Checkbox-->
            <novo-checkbox *ngSwitchCase="'checkbox'" [formControlName]="control.key" [name]="control.key"></novo-checkbox>
            <!--Checklist-->
            <novo-check-list *ngSwitchCase="'checklist'" [formControlName]="control.key" [name]="control.key" [options]="control.options"></novo-check-list>
            <!--QuickNote-->
            <novo-quick-note *ngSwitchCase="'quick-note'" [formControlName]="control.key" [placeholder]="control.placeholder" [config]="control.config" (change)="modelChange($event)"></novo-quick-note>
        </div>
    </div>
    <!--Error Message-->
    <div class="error-message">
        <span *ngIf="isDirty && errors?.required">{{control.label | uppercase}} is required</span>
        <span *ngIf="isDirty && errors?.invalidEmail">{{control.label | uppercase}} requires a valid email (ex. abc@123.com)</span>
        <span *ngIf="isDirty && errors?.invalidAddress">{{control.label | uppercase}} requires all fields filled out</span>
        <span *ngIf="isDirty && (errors?.integerTooLarge || errors?.doubleTooLarge)">{{control.label | uppercase}} is too large</span>
    </div>
</div>
