<novo-toolbar>
  <novo-toolbar-row accent="orange" gap="md">
    <novo-icon>bull</novo-icon>
    <novo-title>Tab Example</novo-title>
    <span class="example-spacer"></span>
    <novo-action icon="previous" (click)="updateTabIndex(-1)"></novo-action>
    <novo-text>Selected Index: {{selected}}</novo-text>
    <novo-action icon="next" (click)="updateTabIndex(1)"></novo-action>
  </novo-toolbar-row>

  <novo-toolbar-row>
    <novo-nav [outlet]="outlet" direction="horizontal" [(selectedIndex)]="selected">
      <novo-tab>
        <novo-icon>person</novo-icon>
        <novo-label>Tab 1</novo-label>
      </novo-tab>
      <novo-tab>
        <novo-icon>person</novo-icon>
        <novo-label>Tab 2</novo-label>
      </novo-tab>
      <novo-tab disabled>
        <novo-icon>person</novo-icon>
        <novo-label>Tab 3</novo-label>
      </novo-tab>
    </novo-nav>
  </novo-toolbar-row>
</novo-toolbar>


<novo-nav-outlet #outlet>
  <novo-nav-content>
    <h1>Tab 1 Content</h1>
  </novo-nav-content>
  <novo-nav-content>
    <h1>Tab 2 Content</h1>
  </novo-nav-content>
  <novo-nav-content>
    <h1>Tab 3 Content</h1>
  </novo-nav-content>
</novo-nav-outlet>