<button type="button" theme="secondary" icon="collapse" [menu]="menu" data-automation-id="nested-menu-button">Actions</button>

<!-- Menu Template -->
<novo-menu #menu data-automation-id="nested-menu">
  <novo-option *menuItem (click)="clickMe($event)" data-automation-id="nested-menu-preview">Preview</novo-option>
  <novo-option *menuItem (click)="clickMe($event)" data-automation-id="nested-menu-edit">Edit</novo-option>
  <novo-option *menuItem [menu]="subMenu" data-automation-id="nested-menu-choose">Choose...</novo-option>
  <novo-menu #subMenu data-automation-id="nested-submenu">
    <novo-option *menuItem (click)="clickMe($event)" data-automation-id="nested-menu-available">Available</novo-option>
    <novo-option *menuItem (click)="clickMe($event)" data-automation-id="nested-menu-not-available">Not Available</novo-option>
  </novo-menu>
</novo-menu>