select-demo {
  .example.select-demo {
    padding: 20px 30px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: flex-start;
    flex-wrap: wrap;
    transition: background 460ms ease-in-out;

    & > * {
      flex-shrink: 0;
      flex-grow: 0;
      margin-right: 20px;
    }

    label {
      margin-bottom: 10px;
      display: block;
    }

    .caption {
      font-size: 0.9em;
      margin-right: 5px;
    }
  }
}
