<novo-dropdown side="default">
    <button type="button"
            theme="secondary"
            icon="collapse"
            inverse>Default</button>
    <list>
      <item>Five</item>
      <item>Items</item>
      <item>For</item>
      <item>Position</item>
      <item>Test</item>
    </list>
  </novo-dropdown>
  <novo-dropdown side="right">
    <button type="button"
            theme="secondary"
            icon="collapse"
            inverse>Right</button>
    <list>
      <item>Five</item>
      <item>Items</item>
      <item>For</item>
      <item>Position</item>
      <item>Test</item>
    </list>
  </novo-dropdown>
  <novo-dropdown side="above-below">
    <button type="button"
            theme="secondary"
            icon="collapse"
            inverse>Above-below</button>
    <list>
      <item>Five</item>
      <item>Items</item>
      <item>For</item>
      <item>Position</item>
      <item>Test</item>
    </list>
  </novo-dropdown>
  <novo-dropdown side="right-above-below">
    <button type="button"
            theme="secondary"
            icon="collapse"
            inverse>Right-Above-Below</button>
    <list>
      <item>Five</item>
      <item>Items</item>
      <item>For</item>
      <item>Position</item>
      <item>Test</item>
    </list>
  </novo-dropdown>
  <novo-dropdown side="center">
    <button type="button"
            theme="secondary"
            icon="collapse"
            inverse>Center</button>
    <list>
      <item>Five</item>
      <item>Items</item>
      <item>For</item>
      <item>Position</item>
      <item>Test</item>
    </list>
  </novo-dropdown>
  <novo-dropdown side="bottom">
    <button type="button"
            theme="secondary"
            icon="collapse"
            inverse>Bottom</button>
    <list>
      <item>Five</item>
      <item>Items</item>
      <item>For</item>
      <item>Position</item>
      <item>Test</item>
    </list>
  </novo-dropdown>
  <novo-dropdown side="bottom-left">
    <button type="button"
            theme="secondary"
            icon="collapse"
            inverse>Bottom-Left</button>
    <list>
      <item>Five</item>
      <item>Items</item>
      <item>For</item>
      <item>Position</item>
      <item>Test</item>
    </list>
  </novo-dropdown>
  <novo-dropdown side="bottom-right">
    <button type="button"
            theme="secondary"
            icon="collapse"
            inverse>Bottom-Right</button>
    <list>
      <item>Five</item>
      <item>Items</item>
      <item>For</item>
      <item>Position</item>
      <item>Test</item>
    </list>
  </novo-dropdown>
  <novo-dropdown side="top-left">
    <button type="button"
            theme="secondary"
            icon="collapse"
            inverse>Top-Left</button>
    <list>
      <item>Five</item>
      <item>Items</item>
      <item>For</item>
      <item>Position</item>
      <item>Test</item>
    </list>
  </novo-dropdown>
  <novo-dropdown side="top-right">
    <button type="button"
            theme="secondary"
            icon="collapse"
            inverse>Top-Right</button>
    <list>
      <item>Five</item>
      <item>Items</item>
      <item>For</item>
      <item>Position</item>
      <item>Test</item>
    </list>
  </novo-dropdown>
