<novo-dropdown side="default" data-automation-id="position-default">
  <button type="button"
    theme="secondary"
    icon="collapse"
    inverse
    data-automation-id="position-default-button">Default</button>
  <novo-optgroup>
    <novo-option data-automation-id="position-default-option-five">Five</novo-option>
    <novo-option data-automation-id="position-default-option-items">Items</novo-option>
    <novo-option data-automation-id="position-default-option-for">For</novo-option>
    <novo-option data-automation-id="position-default-option-position">Position</novo-option>
    <novo-option data-automation-id="position-default-option-test">Test</novo-option>
  </novo-optgroup>
</novo-dropdown>
<novo-dropdown side="right" data-automation-id="position-right">
  <button type="button"
    theme="secondary"
    icon="collapse"
    inverse
    data-automation-id="position-right-button">Right</button>
  <novo-optgroup>
    <novo-option data-automation-id="position-right-option-five">Five</novo-option>
    <novo-option data-automation-id="position-right-option-items">Items</novo-option>
    <novo-option data-automation-id="position-right-option-for">For</novo-option>
    <novo-option data-automation-id="position-right-option-position">Position</novo-option>
    <novo-option data-automation-id="position-right-option-test">Test</novo-option>
  </novo-optgroup>
</novo-dropdown>
<novo-dropdown side="above-below" data-automation-id="position-above-below">
  <button type="button"
    theme="secondary"
    icon="collapse"
    inverse
    data-automation-id="position-above-below-button">Above-below</button>
  <novo-optgroup>
    <novo-option data-automation-id="position-above-below-option-five">Five</novo-option>
    <novo-option data-automation-id="position-above-below-option-items">Items</novo-option>
    <novo-option data-automation-id="position-above-below-option-for">For</novo-option>
    <novo-option data-automation-id="position-above-below-option-position">Position</novo-option>
    <novo-option data-automation-id="position-above-below-option-test">Test</novo-option>
  </novo-optgroup>
</novo-dropdown>
<novo-dropdown side="right-above-below" data-automation-id="position-right-above-below">
  <button type="button"
    theme="secondary"
    icon="collapse"
    inverse
    data-automation-id="position-right-above-below-button">Right-Above-Below</button>
  <novo-optgroup>
    <novo-option data-automation-id="position-right-above-below-option-five">Five</novo-option>
    <novo-option data-automation-id="position-right-above-below-option-items">Items</novo-option>
    <novo-option data-automation-id="position-right-above-below-option-for">For</novo-option>
    <novo-option data-automation-id="position-right-above-below-option-position">Position</novo-option>
    <novo-option data-automation-id="position-right-above-below-option-test">Test</novo-option>
  </novo-optgroup>
</novo-dropdown>
<novo-dropdown side="center" data-automation-id="position-center">
  <button type="button"
    theme="secondary"
    icon="collapse"
    inverse
    data-automation-id="position-center-button">Center</button>
  <novo-optgroup>
    <novo-option data-automation-id="position-center-option-five">Five</novo-option>
    <novo-option data-automation-id="position-center-option-items">Items</novo-option>
    <novo-option data-automation-id="position-center-option-for">For</novo-option>
    <novo-option data-automation-id="position-center-option-position">Position</novo-option>
    <novo-option data-automation-id="position-center-option-test">Test</novo-option>
  </novo-optgroup>
</novo-dropdown>
<novo-dropdown side="bottom" data-automation-id="position-bottom">
  <button type="button"
    theme="secondary"
    icon="collapse"
    inverse
    data-automation-id="position-bottom-button">Bottom</button>
  <novo-optgroup>
    <novo-option data-automation-id="position-bottom-option-five">Five</novo-option>
    <novo-option data-automation-id="position-bottom-option-items">Items</novo-option>
    <novo-option data-automation-id="position-bottom-option-for">For</novo-option>
    <novo-option data-automation-id="position-bottom-option-position">Position</novo-option>
    <novo-option data-automation-id="position-bottom-option-test">Test</novo-option>
  </novo-optgroup>
</novo-dropdown>
<novo-dropdown side="bottom-left" data-automation-id="position-bottom-left">
  <button type="button"
    theme="secondary"
    icon="collapse"
    inverse
    data-automation-id="position-bottom-left-button">Bottom-Left</button>
  <novo-optgroup>
    <novo-option data-automation-id="position-bottom-left-option-five">Five</novo-option>
    <novo-option data-automation-id="position-bottom-left-option-items">Items</novo-option>
    <novo-option data-automation-id="position-bottom-left-option-for">For</novo-option>
    <novo-option data-automation-id="position-bottom-left-option-position">Position</novo-option>
    <novo-option data-automation-id="position-bottom-left-option-test">Test</novo-option>
  </novo-optgroup>
</novo-dropdown>
<novo-dropdown side="bottom-right" data-automation-id="position-bottom-right">
  <button type="button"
    theme="secondary"
    icon="collapse"
    inverse
    data-automation-id="position-bottom-right-button">Bottom-Right</button>
  <novo-optgroup>
    <novo-option data-automation-id="position-bottom-right-option-five">Five</novo-option>
    <novo-option data-automation-id="position-bottom-right-option-items">Items</novo-option>
    <novo-option data-automation-id="position-bottom-right-option-for">For</novo-option>
    <novo-option data-automation-id="position-bottom-right-option-position">Position</novo-option>
    <novo-option data-automation-id="position-bottom-right-option-test">Test</novo-option>
  </novo-optgroup>
</novo-dropdown>
<novo-dropdown side="top-left" data-automation-id="position-top-left">
  <button type="button"
    theme="secondary"
    icon="collapse"
    inverse
    data-automation-id="position-top-left-button">Top-Left</button>
  <novo-optgroup>
    <novo-option data-automation-id="position-top-left-option-five">Five</novo-option>
    <novo-option data-automation-id="position-top-left-option-items">Items</novo-option>
    <novo-option data-automation-id="position-top-left-option-for">For</novo-option>
    <novo-option data-automation-id="position-top-left-option-position">Position</novo-option>
    <novo-option data-automation-id="position-top-left-option-test">Test</novo-option>
  </novo-optgroup>
</novo-dropdown>
<novo-dropdown side="top-right" data-automation-id="position-top-right">
  <button type="button"
    theme="secondary"
    icon="collapse"
    inverse
    data-automation-id="position-top-right-button">Top-Right</button>
  <novo-optgroup>
    <novo-option data-automation-id="position-top-right-option-five">Five</novo-option>
    <novo-option data-automation-id="position-top-right-option-items">Items</novo-option>
    <novo-option data-automation-id="position-top-right-option-for">For</novo-option>
    <novo-option data-automation-id="position-top-right-option-position">Position</novo-option>
    <novo-option data-automation-id="position-top-right-option-test">Test</novo-option>
  </novo-optgroup>
</novo-dropdown>
