field-interactions-demo {
    .example.field-interaction-demo>novo-form {
        margin-top: 20px;
    }
    .final-value {
        color: #afafaf;
        padding: 10px;
        background: #f4f4f4;
    }
    label {
        font-weight: bold;
        font-style: italic;
    }
    pre.field-config {
        margin-bottom: 0;
    }
}
