/** CSS for this example */
:host {
  display: flex;
  align-items: center;
  white-space: normal;
}

.value {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.value-active {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
  margin-left: 1rem;
}
