@import "../../styles/variables.scss";

novo-search {
  display: grid;
  grid-template-areas: "icon input";
  grid-template-columns: 3.2rem 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  height: 3.2rem;
  background: $white;
  border: 1px solid $light;
  border-radius: 0.2rem;
  max-width: 400px;
  min-width: 100px;
  transition: all 250ms ease-in-out;

  &[size="small"] {
    font-size: 1rem;
    height: 2.4rem;
    grid-template-columns: 2.4rem 1fr;
  }

  &[size="large"] {
    font-size: 1.8rem;
    height: 4rem;
    grid-template-columns: 4rem 1fr;
  }

  > input {
    height: 100%;
    max-width: 400px;
    display: block;
    background: transparent;
    position: relative;
    font-size: 1.4em;
    color: $dark;
    z-index: z(above);
    border: none;
    transition: all 250ms;
    backface-visibility: hidden;

    &:focus,
    &:active {
      outline: none;
    }
  }

  novo-icon {
    color: $dark;
  }

  &.focused {
    border: 1px solid $positive;

    > novo-icon {
      color: $positive !important;
    }

    @include theme-colors() using ($name, $color, $contrast, $tint, $shade, $pale) {
      &[color="#{$name}"] {
        > novo-icon {
          color: $color !important;
        }
      }
    }

    @include theme-backgrounds() using ($name, $color, $contrast, $tint, $shade, $pale) {
      novo-icon,
      input {
        transition: all 250ms;
        color: inherit !important;
        &::placeholder {
          color: var(--form-placeholder);
        }
      }
    }
  }
}
