novo-search {
  display: grid;
  grid-template-areas: 'icon input';
  grid-template-columns: 3.2em 1fr;
  align-items: center;

  > button[theme][theme='fab'] {
    width: 2.8em;
    height: 2.8em;
    min-height: 2.8em;
  }

  > input {
    height: 100%;
    width: 0;
    display: block;
    background: $white;
    position: relative;
    font-size: 1.4em;
    color: $dark;
    z-index: 12;
    opacity: 0;
    border: none;
    &:focus,
    &:active {
      outline: none;
    }
    &::placeholder {
      color: $empty;
    }
  }

  &.active {
    max-width: 400px;
    min-width: 100px;
    z-index: 1000;

    > button[theme='fab'] {
      border-radius: 2px 0 0 2px !important;
      width: 3.2em;
      height: 2.8em;
      box-shadow: none;
    }

    > input {
      opacity: 1;
      width: 100%;
    }
  }

  &.focused,
  &.always-open.focused {
    border: 1px solid $positive;
  }

  &.always-open {
    border: 1px solid $light;
    transition: border-color 250ms ease-in-out, 250ms ease-in-out, opacity 150ms ease-in-out, 250ms width ease-in-out;
    border-radius: 0.2rem;
  }

  &.focused,
  &.always-open {
    > button {
      color: $positive !important;
      background: $white !important;
      box-shadow: none !important;
      &:hover {
        box-shadow: none !important;
      }
    }
    @each $key, $color in $all-colors {
      &[theme='#{$key}'] {
        > button {
          color: $color !important;
        }
      }
    }
  }
}

header {
  novo-search.always-open:not(.focused) {
    button,
    input {
      background-color: rgba($white, 0.25) !important;
      border-color: rgba($white, 0.25) !important;
      color: $white !important;
      &::placeholder {
        color: $white !important;
      }
    }
  }
}
