entity-list {
    display: block;
    padding: 15px;
    .entity {
        padding-top: 4px;
        padding-bottom: 4px;
        @each $entity,
        $color in $entity-colors {
            i.#{$entity} {
                color: $color;
            }
        }
        i {
            font-size: 0.9em;
            margin-right: 4px;
        }
    }
}
