iconography {
  & > header {
    background: #f4f4f4;
  }
  h1,
  h5 {
    color: $aqua;
  }
  .base-sizing {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .sizing-specs {
      display: flex;
      flex-direction: column;
      color: darken($light, 20%);
      margin: 35px 150px 10px 0;
      span {
        line-height: 1.7em;
      }
    }
    .sizing-demo {
    }
  }
  .padding {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    div {
      padding: 15px;
      margin-right: 25px;
      &:first-of-type {
        i {
          margin: 0;
          padding: 0;
        }
      }
      h4 {
        color: $positive;
        .bhi-circle {
          color: $contact;
        }
      }
      h6 {
        color: darken($light, 25%);
      }
    }
  }
  .contained-scaling,
  .contained-padding {
    display: flex;
    justify-content: center;
    align-items: center;
    figure {
      text-align: center;
    }
  }
  .example.standard-icon-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    > div {
      text-align: center;
    }
  }
  .example.contained-icon-row {
    padding: 20px;
    > * {
      margin: 15px 0;
      color: inherit;
    }
  }
}
