<button theme="secondary" *ngIf="!myform.showingAllFields && !(myform.allFieldsRequired || myform.allFieldsNotRequired)" (click)="myform.showAllFields()">Show All Fields</button>
<button theme="secondary" *ngIf="!myform.showingRequiredFields && !(myform.allFieldsRequired || myform.allFieldsNotRequired)" (click)="myform.showOnlyRequired(false)">Show Required Fields</button>
<novo-dynamic-form [autoFocusFirstField]="true" class="dynamic" [fieldsets]="dynamic" [(form)]="dynamicForm" #myform></novo-dynamic-form>
<footer class="dynamic-demo-footer">
    <button (click)="save(myform)" theme="primary" icon="check">Save</button>
    <button (click)="clear()" theme="secondary" icon="check">Clear</button>
</footer>
<div class="final-value">Valid: {{myform.isValid | json}}</div>
<div class="final-value">Values: {{myform.values | json}}</div>
<div class="final-value">Updated Values: {{myform.updatedValues() | json}}</div>
