novo-tip-well {
  &.active {
    display: inline-block;
    margin-bottom: $spacing-md;
  }
  > div {
    display: inline-block;
    border-radius: 0.25rem;
    background-color: var(--background-bright, $off-white);
    color: var(--text-main, $dark);
    padding: $spacing-md;
    text-align: right;
    > div {
      display: flex;
      > i {
        flex-shrink: 0;
        text-align: center;
        margin-top: 0.3rem;
        margin-right: $spacing-md;
        color: #aaaaaa;
      }
      > p {
        @include novo-text-medium();
        width: 100%;
        max-width: 40rem;
        padding: 0;
        text-align: left;
        white-space: pre-line;
      }
    }
  }
}
