novo-tip-well {
  &.active {
    display: inline-block;
    margin-bottom: 1rem;
  }
  > div {
    display: inline-block;
    border-radius: 0.25rem;
    background-color: $off-white;
    color: $dark;
    padding: 1rem;
    text-align: right;
    > div {
      display: flex;
      > i {
        flex-shrink: 0;
        text-align: center;
        margin-top: 0.3rem;
        margin-right: 1rem;
        color: #aaaaaa;
      }
      > p {
        @include novo-text-medium();
        width: 100%;
        max-width: 40rem;
        padding: 0;
        text-align: left;
        white-space: pre-line;
      }
    }
  }
}
