
.figure-example {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-sm);
  gap: 1rem;

  .figure-content {
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    & > pre,
    & > code {
      flex: 1;
      margin: 0;
    }
    & > img {
      padding: 2rem;
      background-color: none !important;
    }
  }

  .figure-caption {
    display: flex;
    flex-flow: column;
    padding: 1rem 0;
    gap: 1rem;
  }

  &.figure-theme-negative {
    .figure-caption {
      border-top: 3px solid var(--color-negative);
      novo-icon {
        color: var(--color-negative);
      }
    }
  }
  &.figure-theme-success {
    .figure-caption {
      border-top: 3px solid var(--color-success);
      novo-icon {
        color: var(--color-success);
      }
    }
  }
  &.figure-theme-positive {
    .figure-caption {
      border-top: 3px solid var(--color-positive);
      novo-icon {
        color: var(--color-positive);
      }
    }
  }
}
