@import "~novo-design-tokens/scss";
@import "variables";

:host {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 0px;
  transition: all 200ms ease-in-out;
  position: relative;
  &.selected,
  &.selected:hover {
    & + i {
      color: var(--color-selection);
    }
  }
  > i.prefix {
    position: absolute;
    left: 0px;
  }
  > i.suffix {
    position: absolute;
    right: 0px;
  }
}

:host {
  input {
    font-size: 1em;
    background: transparent !important;
    border: none;
    border-bottom: var(--border-main);
    border-radius: 0;
    outline: none;
    height: 2rem;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 300ms;
    color: var(--color-text);
  }
  &.ng-touched.ng-invalid:not(.ng-pristine) {
    > input,
    > input:hover,
    > input:focus {
      border-bottom-color: transparent !important;
    }
  }
  &.has-prefix-icon {
    input {
      text-indent: 2rem;
    }
  }
}
