<section>
  <div class="example-label">Default</div>
  <div class="example-button-row">
    <button theme="secondary" data-automation-id="secondary-button">Secondary</button>
    <button theme="secondary" disabled data-automation-id="secondary-disabled-button">Secondary</button>
  </div>
</section>

<novo-divider></novo-divider>

<section>
  <div class="example-label">Small</div>
  <div class="example-button-row">
    <button theme="secondary" size="small" data-automation-id="secondary-small-button">Secondary</button>
    <button theme="secondary" size="small" disabled data-automation-id="secondary-small-disabled-button">Secondary</button>
  </div>
</section>

<novo-divider></novo-divider>

<section>
  <div class="example-label">Large</div>
  <div class="example-button-row">
    <button theme="secondary" size="large" data-automation-id="secondary-large-button">Secondary</button>
    <button theme="secondary" size="large" disabled data-automation-id="secondary-large-disabled-button">Secondary</button>
  </div>
</section>

<section class="bgc-ocean">
  <div class="example-label tc-white">Inverse</div>
  <div class="example-button-row">
    <button theme="secondary" inverse data-automation-id="secondary-inverse-actions-button">Actions</button>
    <button theme="secondary" color="negative" inverse data-automation-id="secondary-inverse-issues-button">Issues</button>
    <button theme="secondary" icon="convert" inverse disabled data-automation-id="secondary-inverse-convert-button">Convert</button>
  </div>
</section>