@import "../../../styles/global/variables.scss";

:host {
  // Icon Themed Button
  &[theme="icon"] {
    padding: $spacing-sm;
    font-size: 1.6rem;
    line-height: 1.6rem;
    &[inverse] {
      color: #fff;
    }
    i {
      margin: 0 !important;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
    &:active {
      background: rgba(0, 0, 0, 0.25);
    }
    @each $name, $color in $all-colors {
      &[color="#{$name}"] {
        color: $color;
      }
    }
    &[size="small"] {
      padding: $spacing-sm;
      font-size: 1.2rem;
      line-height: 1.2rem;
    }

    &[size="large"] {
      font-size: 2rem;
      line-height: 2rem;
      padding: $spacing-md;
    }
  }
}
