@import "../../../styles/variables.scss";

:host {
  // Standard Themed Icon
  &[theme="standard"] {
    @include theme-backgrounds("color", false);
    color: var(--button-text);
    background: var(--button-background);
    &:hover,
    &:focus {
      box-shadow: var(--shadow-2), var(--shadow-1);
    }
    &:active {
      box-shadow: var(--shadow-1);
    }
  }
}

:host-context([data-theme='bh2026']) {
  &[theme="standard"] {
    background: var(--button-background);
    &:hover {
      background: var(--button-hover-background);
      box-shadow: var(--button-shadow-hover);
    }
    &:active {
      background: var(--button-hover-background);
      box-shadow: var(--button-shadow-active);
    }
  }
}
