@import "../../../styles/variables.scss";

:host {
  // Standard Themed Icon
  &[theme="standard"] {
    @include theme-backgrounds("color", false);
    color: var(--button-text);
    background: var(--button-background);
    &:hover,
    &:focus {
      box-shadow: $shadow-2, $shadow-1;
    }
    &:active {
      box-shadow: $shadow-1;
    }
  }
}
