@import "../../../styles/variables.scss";

:host {
  // Secondary Themed Button
  &[theme="secondary"] {
    @include theme-text-colors("color");
    @include theme-borders("color");

    text-align: left;
    align-items: center;
    // TODO: semantic role TBD - should likely be transparent, rather than background?
    background: var(--color-white);
    color: var(--color-positive);
    border: 1px solid var(--color-positive);
    padding: 0 calc(#{var(--spacing-md)} - 1px);

    i.loading {
      margin-left: 0.8rem;
      svg {
        .spinner {
          fill: var(--color-positive);
        }
      }
    }
    &:hover,
    &:focus {
      box-shadow: var(--shadow-2), var(--shadow-1);
      background: $white;
    }
    &:active {
      box-shadow: var(--shadow-1);
    }
    &[inverse] {
      background: rgba(0, 0, 0, 0.25);
      color: var(--color-contrast-positive);
      border: 1px solid var(--color-contrast-positive);
      &:hover,
      &:focus {
        background: rgba(0, 0, 0, 0.35);
      }
      &:active {
        background: rgba(0, 0, 0, 0.45);
      }
      i.loading {
        svg {
          .spinner {
            fill: $white;
          }
        }
      }
    }
  }
}
