@import "../../../styles/variables.scss";

:host {
  // Dialogue Themed Button
  &[theme="dialogue"] {
    @include theme-text-colors("color");
    background: transparent;
    color: var(--color-positive);
    i {
      line-height: 1.2;
    }
    &[color=text] {
      color: inherit;
    }
    &:hover,
    &:focus,
    &:active {
      background: var(--background-faded);
    }
    &[inverse] {
      &:hover,
      &:focus {
        background: rgba(0, 0, 0, 0.2);
      }
      &:active {
        background: rgba(0, 0, 0, 0.35);
      }
    }
  }
}
