@import "../../../styles/global/variables.scss";

:host {
  // Primary theme
  &[theme="primary"] {
    background: $positive;
    color: #fff;
    text-align: left;

    &:hover,
    &:focus {
      background: lighten($positive, 10%);
    }
    &:active {
      background: darken($positive, 5%);
    }

    &[color="white"] {
      background: $white;
      color: $ocean;
      &:hover,
      &:focus {
        background: $background;
      }
      &:active {
        background: darken($background, 5%);
      }
      i {
        background: rgba(0, 0, 0, 0.05);
      }
    }
    @each $analytics, $color in $all-colors {
      &[color="#{$analytics}"] {
        background: $color;
        &:hover,
        &:focus {
          background: lighten($color, 10%);
        }
        &:active {
          background: darken($color, 5%);
        }
      }
    }
  }
}
