@import "../../../styles/variables.scss";

:host {
  // Primary theme
  &[theme="primary"] {
    @include theme-backgrounds-live();
    background: var(--color-positive);
    color: var(--color-contrast-positive);
    text-align: left;

    &:hover,
    &:focus {

      filter: brightness(1.15);
      box-shadow: var(--shadow-2), var(--shadow-1);
    }
    &:active {
      filter: brightness(0.85);
      box-shadow: var(--shadow-1);
    }

    &[color="white"] {
      background: var(--background-main);
      color: var(--color-positive);
      &:hover,
      &:focus {
        background: var(--background-main);
      }
      &:active {
        background: darkenLive('--theme-background-main', 5);
        //background: var(--background-muted);
      }
      i {
        background: rgba(0, 0, 0, 0.05);
      }
    }
    &[size="large"] {
      i {
        margin-left: 3px;
      }
    }
  }
}
