<nav layout="row">
  <a class="brand" routerLink="/" layout="row" layout-align="start center">
    <img src="assets/bh-logo.png" /> Novo Elements
  </a>
  <div class="links" flex="*" layout="row" layout-align="end center">
    <a routerLink="/docs" routerLinkActive="active">Docs</a>
    <a routerLink="/components" routerLinkActive="active">Components</a>
    <a routerLink="/style-guide" routerLinkActive="active">Style Guide</a>
  </div>
</nav>
<main class="demo-pages" #main>
  <router-outlet></router-outlet>
</main>
