@import "../../../styles/variables.scss";

@mixin text-disabled($property) {
  pointer-events: none;
  color: $disabled;
}

@mixin base-text-rules() {
  &.text-nowrap {
    white-space: nowrap;
  }
}

@mixin text-sizing($small, $base, $large) {
  &.text-size-default {
    font-size: $base;
  }
  &.text-size-small {
    font-size: $small;
  }
  &.text-size-large {
    font-size: $large;
  }
}

@mixin text-weights() {
  &.text-weight-thin {
    font-weight: 200;
  }
  &.text-weight-default {
    font-weight: 400;
  }
  &.text-weight-medium {
    font-weight: 500;
  }
  &.text-weight-bold {
    font-weight: 700;
  }
}

@mixin text-lengths() {
  &.text-length-small {
    max-width: 40ch;
  }
  &.text-length-medium {
    max-width: 55ch;
  }
  &.text-length-large {
    max-width: 70ch;
  }
}

@mixin text-colors() {
  @include theme-colors() using ($color, $name) {
    &.text-color-#{$name} {
      color: $color;
    }
  }
}

@mixin text-margins() {
  &.margin-before {
    margin-top: 0.4rem;
  }

  &.margin-after {
    margin-bottom: 0.8rem;
  }
}

@mixin novo-body-text() {
  display: inline;
  font-weight: normal;
  // line-height: 1.5rem;
  color: inherit;
}

@mixin novo-title-text() {
  font-weight: 500;
  line-height: 1.5;
  color: var(--text-main, $dark);
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin novo-label-text() {
  font-weight: 500;
  transition: 0.2s ease-out;
  text-transform: uppercase;
  word-break: word-break;
  overflow-wrap: break-word;
  line-height: 1.375;
  color: $slate;
}

@mixin novo-caption-text() {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.375;
  color: var(--text-muted, $dark);
}

// Body Text
@mixin novo-text-small() {
  @include novo-body-text();
  font-size: 1rem;
}

@mixin novo-text-medium() {
  @include novo-body-text();
  font-size: 1.2rem;
}

@mixin novo-text-large() {
  @include novo-body-text();
  font-size: 1.4rem;
}

// TITLE
@mixin novo-title-small() {
  @include novo-title-text();
  font-size: 1.5rem;
}

@mixin novo-title-medium() {
  @include novo-title-text();
  font-size: 1.8rem;
}

@mixin novo-title-large() {
  @include novo-title-text();
  font-size: 2.1rem;
}

// LABEL
@mixin novo-label-small() {
  @include novo-label-text();
  font-size: 1rem;
}

@mixin novo-label-medium() {
  @include novo-label-text();
  font-size: 1.1rem;
}

@mixin novo-label-large() {
  @include novo-label-text();
  font-size: 1.2rem;
}

// CAPTIONS
@mixin novo-caption-small() {
  @include novo-caption-text();
  font-size: 0.8rem;
}

@mixin novo-caption-medium() {
  @include novo-caption-text();
  font-size: 0.9rem;
}

@mixin novo-caption-large() {
  @include novo-caption-text();
  font-size: 1rem;
}
