@import "../../../styles/variables.scss";

@mixin text-disabled($property) {
  pointer-events: none;
  color: $disabled;
}

@mixin base-text-rules() {
  &.text-nowrap {
    white-space: nowrap;
  }
}

@mixin text-sizing($smaller, $larger) {
  &.text-size-default {
    font-size: inherit;
  }
  &.text-size-xs {
    font-size: $font-size-xs;
  }
  &.text-size-sm {
    font-size: $font-size-sm;
  }
  &.text-size-md {
    font-size: $font-size-md;
  }
  &.text-size-lg {
    font-size: $font-size-lg;
  }
  &.text-size-xl {
    font-size: $font-size-xl;
  }
  &.text-size-2xl {
    font-size: $font-size-2xl;
  }
  &.text-size-3xl {
    font-size: $font-size-3xl;
  }
  &.text-size-smaller {
    font-size: $smaller;
  }
  &.text-size-larger {
    font-size: $larger;
  }
}

@mixin text-weights() {
  &.text-weight-thin {
    font-weight: 200;
  }
  &.text-weight-default {
    font-weight: 400;
  }
  &.text-weight-medium {
    font-weight: 500;
  }
  &.text-weight-bold {
    font-weight: 700;
  }
}

@mixin text-lengths() {
  &.text-length-small {
    max-width: 40ch;
  }
  &.text-length-medium {
    max-width: 55ch;
  }
  &.text-length-large {
    max-width: 70ch;
  }
}

@mixin text-colors() {
  @include theme-colors() using ($color, $name) {
    &.text-color-#{$name} {
      color: $color;
    }
  }
}

@mixin text-margins() {
  &.margin-before {
    margin-top: 0.4rem;
  }

  &.margin-after {
    margin-bottom: 0.8rem;
  }
}

@mixin novo-body-text() {
  display: inline;
  font-weight: normal;
  color: inherit;
  font-size: var(--font-size-text);
}

@mixin novo-title-text() {
  font-weight: 500;
  line-height: 1.5;
  color: var(--text-main, $dark);
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: var(--font-size-title);
}

@mixin novo-label-text() {
  font-weight: 500;
  transition: 0.2s ease-out;
  text-transform: uppercase;
  word-break: word-break;
  overflow-wrap: break-word;
  line-height: 1.375;
  color: $slate;
  font-size: var(--font-size-label);
}

@mixin novo-caption-text() {
  font-size: var(--font-size-caption);
  font-weight: 400;
  line-height: 1.375;
  color: var(--text-muted, $dark);
}
