@import "../../styles/variables.scss";

$novo-divider-width: 1px;
$novo-divider-inset-margin: 80px;

.novo-divider {
  display: block;
  margin: 0;
  border-top: $novo-divider-width solid var(--border);

  &.novo-divider-vertical {
    display: inline;
    border-top: 0;
    border-right: $novo-divider-width solid var(--border);
    margin-left: $spacing-md;
    margin-right: $spacing-md;
  }

  &.novo-divider-inset {
    margin-left: $novo-divider-inset-margin;

    [dir="rtl"] & {
      margin-left: auto;
      margin-right: $novo-divider-inset-margin;
    }
  }
}
