<div class="scrollable-container" cdkScrollable data-automation-id="scrollable-container">
  <div class="scrollable-content">
    <novo-dropdown data-automation-id="scrollable-dropdown">
      <novo-button
        theme="secondary"
        icon="collapse"
        inverse
        data-automation-id="scrollable-dropdown-button">Inside a Scrollable Container</novo-button>
      <novo-optgroup>
        <novo-option (click)="clickMe('This')"
          keepOpen="true"
          data-automation-id="scrollable-this-option">This</novo-option>
        <novo-option (click)="clickMe('Scrolls!')"
          keepOpen="true"
          data-automation-id="scrollable-scrolls-option">Scrolls!</novo-option>
      </novo-optgroup>
    </novo-dropdown>
  </div>
</div>