/** CSS for this example */
:host {
  background: #4a89dc;
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
:host .scrollable-container {
  max-height: 10rem;
  overflow: scroll;
}
:host .scrollable-container .scrollable-content {
  height: 30em;
}
:host novo-dropdown {
  margin: 5rem;
}
