loading-demo {
  div.example {
    &.loading-line-demo {
      flex-direction: row;
    }

    &.loading-spinner-demo {
      flex-direction: column;
    }

    section {
      display: flex;
      flex: 1;
      flex-direction: row;
      align-items: center;
      width: 100%;

      & > div {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px;
      }

      .grayBg {
        background: $light;
      }

      .blueBg {
        background: $ocean;
      }

      .darkBlueBg {
        background: $navigation;
      }
    }
  }
}
