<novo-modal>
    <header title="John Deere" icon="candidate" theme="candidate">
        <utils>
            <util-action icon="times" (click)="close()"></util-action>
        </utils>
    </header>
    <section>
        <novo-form [form]="textForm">
            <div class="novo-form-row">
                <novo-control [form]="textForm" [control]="textControl"></novo-control>
            </div>
            <div class="novo-form-row">
                <novo-control [form]="textForm" [control]="emailControl"></novo-control>
            </div>
            <div class="novo-form-row">
                <novo-control [form]="textForm" [control]="numberControl"></novo-control>
            </div>
        </novo-form>
    </section>
    <button theme="standard" (click)="close()">Cancel</button>
    <button theme="primary" color="success" icon="check" (click)="close()">Save</button>
</novo-modal>
