novo-card-chart-donut {
    aside {
        display: inline-block;
        position: relative;
        text-align: center;
        color: grey;
        margin: 0 1em 2em;

        &:before {
            content: attr(data-name);
            position: absolute;
            width: 100%;
            bottom: -2rem;
        }

        &:after {
            content: attr(data-percent);
            position: absolute;
            width: 100%;
            top: 3.7rem;
            left: 0;
            font-size: 2rem;
            text-align: center;
        }

        svg {
            width: 10rem;
            height: 10rem;

            &:nth-child(2) {
                position: absolute;
                left: 0;
                top: 0;
                transform: rotate(-90deg);

                path {
                    fill: none;
                    stroke-width: 25;
                    stroke-dasharray: 629;
                    stroke: rgba(255, 255, 255, 0.9);
                }
            }
        }
    }
}
