<!-- <div class="example-container">
    <div class="example-loading-shade" *ngIf="dataSource.isLoadingResults">
        <novo-loading *ngIf="dataSource.isLoadingResults"></novo-loading>
    </div>

    <novo-simple-table [dataSource]="dataSource" class="example-table" novoSortFilter novoSelection>
        <ng-container novoColumnDef="selection">
            <novo-checkbox-header-cell *novoHeaderCellDef></novo-checkbox-header-cell>
            <novo-checkbox-cell *novoCellDef="let row; let i = index" [row]="row" [index]="i"></novo-checkbox-cell>
        </ng-container>
        <ng-container *ngFor="let column of columns" [novoColumnDef]="column.id">
            <novo-header-cell *novoHeaderCellDef [novo-header-config]="column.config">{{ column.label }}</novo-header-cell>
            <novo-cell *novoCellDef="let row" [column]="column" [row]="row"></novo-cell>
        </ng-container>
        <novo-header-row *novoHeaderRowDef="displayedColumns"></novo-header-row>
        <novo-row *novoRowDef="let row; columns: displayedColumns;"></novo-row>
    </novo-simple-table>

</div> -->
<novo-activity-table [dataSource]="dataSource" [columns]="columns" [displayedColumns]="displayedColumns">
    <!-- <div novo-activity-table-header>CUSTOM HEADER</div> -->
</novo-activity-table>
