/** No CSS for this example */
.fixedWindowSize {
  height: 450px;
}

novo-data-table {
  height: 100%;
}

.custom-header-buttons {
  display: flex;
  align-items: center;
}

.custom-header-buttons > * {
  margin-right: .2rem;
}

