<h6>Change Dataset</h6>
    <novo-tiles [options]="dataSetOptions" (onChange)="loadDataset($event)" [(ngModel)]="loadedDataSet"></novo-tiles>
    <h6>Change Pagination Style</h6>
    <novo-tiles [options]="paginationTypeOptions" (onChange)="switchPaginationType($event)" [(ngModel)]="loadedPaginationType"></novo-tiles>
    <h6>Toggle Global Search</h6>
    <novo-tiles [options]="globalSearchOptions" (onChange)="toggleGlobalSearch($event)" [(ngModel)]="loadedGlobalSearch"></novo-tiles>
    <h6>Configure Columns</h6>
    <button theme="primary" (click)="configureColumns()">Configure Columns</button>
    <h6>Configure Columns</h6>
    <button theme="primary" (click)="toggleRowDetails(true)">Show Row Details (first table)</button>
    <button theme="primary" (click)="toggleRowDetails(false)">Hide Row Details (first table)</button>


<novo-data-table [rows]="basicRows"
                 [columns]="sharedColumns"
                 [hideGlobalSearch]="!globalSearchEnabled"
                 [displayedColumns]="sharedDisplayColumns"
                 [paginationOptions]="sharedPaginationOptions"
                 name="demo-basic-rows"
                 [refreshSubject]="refreshSubject"
                 (preferencesChanged)="onPreferencesChanged($event)"
                 (resized)="resized($event)"
                 #basic>
  <!-- Custom Actions -->
  <ng-template novoTemplate="customActions">
    <span>Total: {{ basic.dataSource.currentTotal }}</span>
    <novo-data-table-clear-button *ngIf="basic.state.userFiltered"></novo-data-table-clear-button>
    <button theme="secondary"
            (click)="refresh()">Refresh</button>
    <novo-dropdown side="right">
      <button theme="primary"
              icon="collapse"
              inverse>
        <span *ngIf="basic.state.selected.length === 0">Actions</span>
        <span *ngIf="basic.state.selected.length !== 0">{{ basic.state.selected.length }}!</span>
      </button>
      <list>
        <item>Action 1</item>
        <item>Action 2</item>
        <item [disabled]="basic.state.selected.length === 0">Action 3</item>
      </list>
    </novo-dropdown>
  </ng-template>
  <!-- Custom Empty Message -->
  <ng-template novoTemplate="emptyMessage">Yo! No Records!</ng-template>
  <!-- Custom No Results Message -->
  <ng-template novoTemplate="noResultsMessage">Yo! That search is really complex, no data matches that!</ng-template>
  <!-- Custom Cell for ID Column -->
  <ng-template novoTemplate="id"
               let-row
               let-col="col">
    <i class="bhi-bull"></i> {{ row.id }}
  </ng-template>
  <!-- Custom Cell -- passed with template property on Column -->
  <ng-template novoTemplate="custom"
               let-row
               let-col="col">
    <b>CUSTOM</b> {{ row.name }}
    <b>CUSTOM</b>
  </ng-template>
  <!-- Row Details Template -->
  <ng-template novoTemplate="expandedRow"
               let-row>
    Why look at that, you clicked the details!
  </ng-template>
  <!-- Custom Status Filter -->
  <ng-template novoTemplate="column-filter-status">
    <novo-tiles [options]="customStatusColumnOptions" (onChange)="filterList($event)" [(ngModel)]="customStatusColumnValue"></novo-tiles>
  </ng-template>
</novo-data-table>
