<div class="demo-options">

  <novo-field>
    <novo-label>Length</novo-label>
    <input novoInput placeholder="Length" type="number" [(ngModel)]="length">
  </novo-field>

  <novo-field>
    <novo-label>Page Size</novo-label>
    <input novoInput placeholder="Page Size" type="number" [(ngModel)]="pageSize">
  </novo-field>

  <novo-field>
    <novo-label>Page Index</novo-label>
    <input novoInput placeholder="Page Index" type="number" [(ngModel)]="pageIndex">
  </novo-field>

  <novo-field>
    <novo-label>Page Size Options</novo-label>
    <input novoInput [ngModel]="pageSizeOptions" (ngModelChange)="setPageSizeOptions($event)"
      [ngModelOptions]="{updateOn: 'blur'}" placeholder="Ex. 10,25,50">
  </novo-field>

  <div class="demo-toggles">
    <novo-switch [(ngModel)]="disablePageSelection">Allow Selection of specific pages</novo-switch>
    <novo-switch [(ngModel)]="hidePageSelection">Show Upcoming Page Numbers</novo-switch>
    <novo-switch [(ngModel)]="hidePageSize">Hide page size options</novo-switch>
    <novo-switch [(ngModel)]="showFirstAndLast">Show first/last buttons</novo-switch>
    <novo-switch [(ngModel)]="disabled">Disabled</novo-switch>
  </div>
</div>

<novo-pagination #paginator
  class="demo-paginator"
  (onPageChange)="handlePageEvent($event)"
  [page]="pageIndex"
  [totalItems]="length"
  [itemsPerPage]="pageSize"
  [disablePageSelection]="disablePageSelection"
  [hidePageSelection]="hidePageSelection"
  [hidePageSize]="hidePageSize"
  [showFirstAndLast]="showFirstAndLast"
  [pageSizeOptions]="pageSizeOptions"
  [disabled]="disabled"
  aria-label="Select page">
  <!-- [disabled]="disabled -->
  <!-- [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" -->
</novo-pagination>

<div class="demo-data">
  <div> Output event: {{(pageEvent | json) || 'No events dispatched yet'}} </div>
  <div> getNumberOfPages: {{paginator.totalPages}} </div>
</div>