@if (showMenu) {
  <span [ngClass]="{ 'novo-breadcrumb-item-active': isOpen }" #origin
    class="novo-dropdown-no-border novo-dropdown-origin novo-breadcrumb-dropdown-origin">
    <!-- <ng-template [ngTemplateOutlet]="breadcrumbContentTpl"></ng-template> -->
    <novo-dropdown>
      <novo-button theme="icon" icon="collapse" size="small"></novo-button>
      <novo-optgroup class="novo-breadcrumb-dropdown-menu">
        @if (isSearch) {
          <div class="dropdown-search-container">
            <novo-search alwaysOpen="true" (searchFn)="searchEvent($event)" [class]="'search-in-dropdown'"></novo-search>
          </div>
        }
        @for (item of menuListDisplay; track item) {
          <novo-option title="{{ item.name }}">
            @if (!item.linkType || item.linkType === 'hrefLink') {
              <a [href]="item.link" rel="noopener" [target]="item.target ? item.target : '_self'">{{ item.name }}</a>
            }
            @if (item.linkType === 'routerLink') {
              <a rel="noopener" [target]="item.target" [href]="item.link" (click)="navigateTo($event, item)">{{ item.name }}</a>
            }
          </novo-option>
        }
      </novo-optgroup>
    </novo-dropdown>
  </span>
} @else {
  <span class="novo-breadcrumb-item">
    <ng-content></ng-content>
  </span>
}


<ng-template #dropDownMenuTpl>
  <div>test</div>

</ng-template>

<span class="novo-breadcrumb-separator">
  <ng-template
    [ngTemplateOutlet]="breadcrumbComponent.separatorIcon ? breadcrumbComponent.separatorIcon : defaultSeparator"
    [ngTemplateOutletContext]="{
    $implicit: this
  }">
  </ng-template>
</span>

<ng-template #defaultSeparator>
  <span class="novo-breadcrumb-separator">
    /
  </span>
</ng-template>
