@import "../../../styles/global/functions";
@import "../../../styles/global/variables";

:host /deep/ {
    novo-list {
        border: 1px solid #4A89DC;
        novo-list-item {
            cursor: pointer;
            flex: 0 0;
            transition: background-color 250ms;
            &>div {
                width: 100%;
            }
            &.active {
                background-color: lighten($positive, 35%);
            }
            &:hover {
                background-color: lighten($positive, 39%);
            }
            item-content {
                flex-flow: row wrap;
                &>* {
                    flex: 0 0 33%;
                    white-space: nowrap;
                }
            }
        }
    }
}