<p>
  <novo-toolbar>
    <novo-title>My Application</novo-title>
  </novo-toolbar>
</p>

<p>
  <novo-toolbar accent="candidate" gap="md">
    <novo-icon color="candidate">candidate</novo-icon>
    <novo-title>Ferdinand del Toro</novo-title>
  </novo-toolbar>
</p>


<p>
  <novo-toolbar color="company" gap="1rem">
    <novo-icon>company</novo-icon>
    <novo-title>Taurus Industries</novo-title>
    <novo-nav theme="color">
      <novo-tab>Overview</novo-tab>
      <novo-tab>Files</novo-tab>
    </novo-nav>
    <span class="example-spacer"></span>
    <novo-button theme="secondary">Button</novo-button>
    <novo-action icon="share" tooltip="Share"></novo-action>
    <novo-action icon="print" tooltip="Print"></novo-action>
    <novo-action icon="times" tooltip="Close"></novo-action>
  </novo-toolbar>
</p>

<p>
  <novo-toolbar color="navigation">
    <novo-action icon="menu" tooltip="Main Menu"></novo-action>
    <novo-divider vertical></novo-divider>
    <img src="assets/images/bullhorn-logo.svg" width="120" height="32" />
    <novo-divider vertical></novo-divider>
    <novo-action icon="add-thin" tooltip="Fast Add"></novo-action>
    <novo-divider vertical></novo-divider>
    <novo-search></novo-search>

    <span class="example-spacer"></span>
    <novo-divider vertical></novo-divider>
    <novo-action icon="question" tooltip="Support"></novo-action>
    <novo-divider vertical></novo-divider>
    <novo-action icon="configure-o" tooltip="Settings"></novo-action>
    <novo-divider vertical></novo-divider>
    <novo-avatar image="https://robohash.org/bvkimball" color="bittersweet"></novo-avatar>
  </novo-toolbar>
</p>