<p>
  <novo-toolbar data-automation-id="basic-toolbar">
    <novo-title>My Application</novo-title>
  </novo-toolbar>
</p>

<p>
  <novo-toolbar accent="candidate" gap="md" data-automation-id="toolbar-accent">
    <novo-icon color="candidate">candidate</novo-icon>
    <novo-title>Ferdinand del Toro</novo-title>
  </novo-toolbar>
</p>


<p>
  <novo-toolbar color="company" gap="1rem" data-automation-id="toolbar-company">
    <novo-icon>company</novo-icon>
    <novo-title>Taurus Industries</novo-title>
    <novo-nav theme="color">
      <novo-tab data-automation-id="toolbar-company-overview-tab">Overview</novo-tab>
      <novo-tab data-automation-id="toolbar-company-files-tab">Files</novo-tab>
    </novo-nav>
    <span class="example-spacer"></span>
    <novo-button theme="secondary" data-automation-id="toolbar-company-button">Button</novo-button>
    <novo-action icon="share" tooltip="Share" data-automation-id="toolbar-company-share-action"></novo-action>
    <novo-action icon="print" tooltip="Print" data-automation-id="toolbar-company-print-action"></novo-action>
    <novo-action icon="times" tooltip="Close" data-automation-id="toolbar-company-close-action"></novo-action>
  </novo-toolbar>
</p>

<p>
  <novo-toolbar color="navigation" data-automation-id="toolbar-navigation">
    <novo-action icon="menu" tooltip="Main Menu" data-automation-id="toolbar-nav-menu-action"></novo-action>
    <novo-divider vertical></novo-divider>
    <img src="assets/images/bullhorn-logo.svg" width="120" height="32" data-automation-id="toolbar-nav-logo" />
    <novo-divider vertical></novo-divider>
    <novo-action icon="add-thin" tooltip="Fast Add" data-automation-id="toolbar-nav-add-action"></novo-action>
    <novo-divider vertical></novo-divider>
    <novo-search data-automation-id="toolbar-nav-search"></novo-search>

    <span class="example-spacer"></span>
    <novo-divider vertical></novo-divider>
    <novo-action icon="question" tooltip="Support" data-automation-id="toolbar-nav-support-action"></novo-action>
    <novo-divider vertical></novo-divider>
    <novo-action icon="configure-o" tooltip="Settings" data-automation-id="toolbar-nav-settings-action"></novo-action>
    <novo-divider vertical></novo-divider>
    <novo-avatar image="https://robohash.org/bvkimball" color="bittersweet" data-automation-id="toolbar-nav-avatar"></novo-avatar>
  </novo-toolbar>
</p>