novo-modal {
  & > header {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    h2 {
      padding: 0.75em;
    }
  }

  & > section {
    padding: $spacing-md $spacing-xl;
    max-height: 500px;
    overflow: auto;
  }

  & > footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: $spacing-sm;
    gap: $spacing-md;
  }
}

novo-notification {
  text-align: center;
  padding: $spacing-sm;

  & > section {
    text-align: center;
  }
}

novo-modal,
novo-notification {
  display: block;
  background-color: var(--background-bright);
  margin-bottom: $spacing-md;
  border-radius: 4px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.09), 0 1px 3px rgba(0, 0, 0, 0.2);
  z-index: z(modal);
  position: relative;
  min-width: 330px;
  max-width: 600px;

  & > button.modal-close {
    position: absolute;
    right: $spacing-sm;
    top: $spacing-sm;
  }

  & > header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h1 {
      margin: 0;
      text-align: left;
    }
  }

  & > section {
    display: flex;
    flex-direction: column;

    & > img {
      width: 100%;
    }

    h1 {
      font-size: 1.8em;
      color: var(--text-bright);
      margin: 0 auto;
    }

    h2,
    h4 {
      font-size: 1.3em;
      color: var(--text-muted);
      margin: 0 auto;
      padding: 0;
    }

    i.indicator {
      color: var(--text-muted);
      font-size: 1.7em;
      border-radius: 50%;
      padding: 0.4em;
      border: 2px solid var(--text-muted);
      margin: 0 auto;
      align-self: center;
    }
  }

  & > footer {
    display: flex;
    flex-flow: row nowrap;

    button {
      flex: 1;
    }
  }

  &[type="success"] {
    & > section {
      i {
        color: $success;
        border-color: $success;
      }
    }

    button[theme="primary"] {
      width: 100%;

      .flex-wrapper {
        justify-content: center;
      }
    }
  }

  &[type="warning"] {
    footer {
      display: flex;

      .flex-wrapper {
        justify-content: center;
      }
    }

    button {
      justify-content: center;

      &:first-of-type {
        margin: 0 0.5% 0 0;
      }

      &:last-of-type {
        margin: 0 0 0 0.5%;
      }
    }
  }

  &[type="error"] {
    button[theme="primary"].primary {
      width: 100%;

      .flex-wrapper {
        justify-content: center;
      }
    }
  }
}

novo-notification {
  & > section {
    padding: 0 $spacing-xl;
    margin: $spacing-lg 0 55px;

    h1 {
      margin: 10px auto 0;
    }
  }
}
