@import "../common/typography/text.mixins.scss";

:host {
  display: block;
  background-color: var(--background-bright);
  border-radius: 4px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.09), 0 1px 3px rgba(0, 0, 0, 0.2);
  z-index: z(modal);
  position: relative;
  min-width: 330px;
  max-width: 600px;

  > .novo-button.modal-close {
    position: absolute;
    right: $spacing-xl;
    top: $spacing-xl;
  }

  > ::ng-deep header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;

    h1,
    h2 {
      @include novo-title-text();
    }
  }

  > ::ng-deep section {
    padding: $spacing-md $spacing-xl;
    max-height: 500px;
    overflow: auto;
  }

  ::ng-deep .novo-modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: $spacing-md;
    gap: $spacing-md;
    ::ng-deep button {
      min-width: 10rem;
    }
  }
}
