<novo-form [form]="forms.modifyOptions" layout="vertical">
    <div class="novo-form-row">
        <novo-control [form]="forms.modifyOptions" [control]="controls.modifyOptions.selectControl"></novo-control>
    </div>
    <div class="novo-form-row">
        <novo-control [form]="forms.modifyOptions" [control]="controls.modifyOptions.pickerControl"></novo-control>
    </div>
    <div class="novo-form-row">
        <novo-control [form]="forms.modifyOptions" [control]="controls.modifyOptions.toggleControl"></novo-control>
    </div>
    <div class="novo-form-row">
        <novo-control [form]="forms.modifyOptions" [control]="controls.modifyOptions.makePickerAsyncControl"></novo-control>
    </div>
    <div class="novo-form-row">
        <novo-control [form]="forms.modifyOptions" [control]="controls.modifyOptions.customPickerControl"></novo-control>
    </div>
    <div class="novo-form-row">
        <novo-control [form]="forms.modifyOptions" [control]="controls.modifyOptions.toggleOverrideTemplate"></novo-control>
    </div>
</novo-form>
<div class="final-value">Form Value - {{ forms.modifyOptions.value | json }}</div>
<div class="final-value">Is Form Valid? - {{ forms.modifyOptions.valid | json }}</div>
