home {
  h1,
  h5 {
    color: $bittersweet;
  }

  section {
    .jump-to {
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border: 2px solid rgba($mint, 0.25);
      padding: 10px;
      max-width: 30em;
      border-radius: 11px;
      margin: 25px 0 !important;

      i {
        flex-shrink: 0;
        font-size: 1em;
        color: $mint;
        width: 30px;
        height: 30px;
        line-height: 26px;
        border-radius: 50%;
        border: 2px solid $mint;
        display: inline-block;
        margin-right: 15px;
        text-align: center;
      }

      &.brand {
        border: 2px solid rgba($bittersweet, 0.25);

        i {
          color: $bittersweet;
          border: 2px solid $bittersweet;
        }
      }
    }
  }
}
