/** CSS for this example */
aside-form-example {
  display: block;
  background: rgba(0, 0, 0, 0.55);
  padding: 35px 0;
  position: relative;
  text-align: center;
}

.aside-overlay-panel {
    width: 100%;
}
