<novo-icon theme="candidate" raised="true" data-automation-id="raised-icon-candidate">candidate</novo-icon>
<novo-icon theme="job" raised="true" data-automation-id="raised-icon-job">job</novo-icon>
<novo-icon theme="company" raised="true" data-automation-id="raised-icon-company">company</novo-icon>
<novo-icon theme="submission" raised="true" data-automation-id="raised-icon-submission">star-o</novo-icon>
<novo-icon theme="placement" raised="true" data-automation-id="raised-icon-placement">star</novo-icon>
