<header title="John Deere" icon="person" [theme]="entity">
    <utils>
        <util-action icon="flag" (click)="catchEv('pin', $event)"></util-action>
        <util-action icon="refresh" (click)="catchEv('refresh', $event)"></util-action>
        <util-action icon="times" (click)="catchEv('close', $event)"></util-action>
    </utils>
    <section>
        Extra Info
    </section>
    <novo-nav theme="color" [outlet]="colornav" direction="horizontal">
        <novo-tab>
            <span>Overview</span>
        </novo-tab>
        <novo-tab>
            <span>Activity</span>
        </novo-tab>
        <novo-tab>
            <span>Email</span>
        </novo-tab>
    </novo-nav>
</header>
