<button theme="fab" color="success" icon="check" data-automation-id="fab-success-button"></button>
<button theme="fab" color="warning" icon="caution-o" data-automation-id="fab-warning-button"></button>
<button theme="fab" color="pulse" icon="next" data-automation-id="fab-pulse-button"></button>
<button theme="fab" color="grapefruit" icon="print" inverse data-automation-id="fab-grapefruit-button"></button>
<button theme="fab" icon="neutral" inverse disabled data-automation-id="fab-disabled-button"></button>
