<span popover="If the placement of the PopOver will make it appear off-screen, then it will be automatically adjusted to appear on the opposite side. For example: this PopOver should appear below the element.&#13;&#10; &#13;&#10; &#13;&#10;Need to make extra space so this PopOver would actually appear below the screen." 
    popoverTitle="PopOver Moves to Top if near Bottom of Screen" 
    popoverPlacement="bottom"
    [popoverOnHover]="true">
    Hover Me
</span>
<span popover="Too small to drop below screen." 
    popoverTitle="PopOver Won't Change" 
    popoverPlacement="bottom"
    [popoverOnHover]="true">
    Hover Me Next
</span>