<span class="popover-element"
    popover="PopOver appears when hovering over the element. When the mouse is no longer over the element or the PopOver, then it will be dismissed."
    popoverTitle="ON HOVER"
    popoverPlacement="right"
    [popoverOnHover]="true">
ON HOVER
</span>

<span class="popover-element"
    popover="PopOver appears when clicking on the element. Dismiss it by clicking the element again."
    popoverTitle="ON CLICK"
    popoverPlacement="right">
ON CLICK
</span>

<span class="popover-element"
    popover="This PopOver has a 2000 ms or 2 second timeout on it. Dismiss it by clicking on the element or waiting for the timeout."
    popoverTitle="ON CLICK WITH TIMEOUT"
    popoverPlacement="right"
    [popoverDismissTimeout]="2000">
ON CLICK WITH TIMEOUT
</span>

<span class="popover-element"
    popover="This PopOver will never appear when clicking on the element or when hovering over the element."
    popoverTitle="popoverDisabled"
    popoverPlacement="right"
    [popoverDisabled]="true">
DISABLED POPOVER
</span>
