<span popover="Popover is on the top side and to the right of the element. Can also apply 'left' to 'top' placement PopOvers." 
    popoverTitle="Top-Right PopOver" 
    popoverPlacement="top-right"
    [popoverOnHover]="true">
    TOP-RIGHT
</span>
<span popover="Popover is on the bottom side and to the left of the element. Can also apply 'right' to 'bottom' placement PopOvers." 
    popoverTitle="Bottom-Left PopOver" 
    popoverPlacement="bottom-left"
    [popoverOnHover]="true">
    BOTTOM-LEFT
</span>
