<div class="banner"
     fxLayout="row nowrap"
     fxLayout.lt-md="column nowrap">
  <div fxFlex="70"
       fxFlexOrder.lt-md="2">
    <h2>Novo design system for building applications on the Novo Platform</h2>
    <h5>An open source UI library from Bullhorn built with Angular and designed to be performant and elegant</h5>
    <a class="fork-me"
       href="https://github.com/bullhorn/novo-elements-3.0"
       target="_blank">View on Github</a>
    <div>
      <article class="jump-to code">
        <i class="bhi-link"></i>
        <span>Are you a developer and what to skip right to the code?<br/> <a routerLink="components">View Components</a></span>
      </article>
      <article class="jump-to brand">
        <i class="bhi-link"></i>
        <span>Looking for the Bullhorn corporate brand guidelines? <br/> <a href="http://www.bullhorn.com/news-and-press/press-kit/" target="_blank">Bullhorn Press Kit</a></span>
      </article>
    </div>
  </div>
  <div fxFlex="30"
       fxLayout="row"
       fxLayoutAlign="center center"
       fxFlexOrder.lt-md="0">
    <img src="assets/bully-astro.png" />
  </div>
</div>
<div class="spacer"></div>
<div class="callout"
     fxLayout="row nowrap"
     fxLayout.xs="column nowrap">
  <div fxFlex>
    <h5>A NEW STANDARD</h5>
    <p>Elegance in utility helps to create a system for humans, not robots. We strive not just to empower users but to delight them in the process.</p>
  </div>
  <div fxFlex>
    <h5>INSIGHTS AT SCALE</h5>
    <p>Vast data reservoirs need a finely tuned system to surface the critical information right when it is needed, no matter the scale or setting.</p>
  </div>
  <div fxFlex>
    <h5>POWER IN FLEXIBILITY</h5>
    <p>Users have vastly differing needs and goals. By identifying key commonalities and themes, we provide a strong experience for all.</p>
  </div>
</div>
<div class="built-with"
     fxLayout="row"
     fxLayout.xs="column nowrap">
  <div fxFlex="40"
       fxFlex.lg="20"
       fxLayout="row"
       fxLayoutAlign="center center">
    <img src="assets/bully-ng.png"
         alt="Angular Logo" />
  </div>
  <div fxFlex="60"
       fxFlex.lg="80">
    <h2>Built with Angular</h2>
    <p>
      We utilize all the latest development trends to ensure that this library is compatible with any Angular application. The CLI is used to make a quick and emerse demo experience.
    </p>
    <div>
      <article class="jump-to angular">
        <i class="bhi-link"></i>
        <span>Need help with learning Angular?<br/> <a href="http://angular.io" target="_blank">View the docs</a></span>
      </article>
    </div>
  </div>
</div>
