<section class="demo-section" layout="row" layout-align="start start">
  <nav layout="column">
    <a routerLink="buttons" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Buttons</a>
    <a routerLink="headers" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Headers</a>
    <a routerLink="loading" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Loading</a>
    <a routerLink="lists" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Lists</a>
    <a routerLink="slides" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Slides</a>
    <a routerLink="tiles" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Tiles</a>
    <a routerLink="menus" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Menus</a>
    <a routerLink="cards" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Cards</a>
    <a routerLink="dialogs" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Dialogs</a>
    <a routerLink="tabs" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Tabs</a>
    <a routerLink="radio" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Radio</a>
    <a routerLink="values" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Values</a>
    <a routerLink="switches" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Switches</a>
    <a routerLink="searches" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Searches</a>
    <a routerLink="autocomplete" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Autocomplete</a>
    <a routerLink="select" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Select</a>
  </nav>
  <div id="main" flex="*">
    <router-outlet></router-outlet>
  </div>
</section>