<button theme="dialogue" color="success" icon="coffee" type="submit"
    (click)="toastToggled('top')">Fixed Top</button>
<button theme="dialogue" color="primary" icon="check" type="submit"
    (click)="toastToggled('bottom')">Fixed Bottom</button>
<button theme="dialogue" color="negative" icon="times" type="submit"
    (click)="toastToggled('growlRight')">Growl: Top Right</button>
<button theme="dialogue" color="primary" icon="coffee" type="submit"
    (click)="toastToggled('growlLeft')">Growl: Top Left</button>
