@import "~novo-design-tokens/scss";
@import "variables";

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 64rem;
  .novo-form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    form {
      width: 100%;
    }
  }
}

control-confirm-modal,
control-prompt-modal {
  p {
    max-width: 100%;
  }
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 0.8em;
      margin: 0 0.5em;
    }
    label {
      margin-right: 10px;
    }
  }
}
