@import '../../styles/global/variables.scss';

:host {
  .passive {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    // line-height: @line-height-base;
    white-space: nowrap;
  }
  .hasSubMenu:before {
    content: '\u25B6';
    float: right;
  }
}
