@import '../../styles/global/variables.scss';

:host {
  .passive {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    // line-height: @line-height-base;
    white-space: nowrap;
  }

  .menu-container {
    width: 180px;
    .menu {
      list-style: none;
      background-color: $white;
      cursor: default;
      list-style: none;
      padding-inline-start: 0px !important;
      box-shadow: 0 -1px 3px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      font-size: 1rem;
      :hover {
        background: rgba($ocean, 0.1);
        color: $dark;
      }
      .menu-item-container {
        display: flex;
        align-items: center;
        position: relative;
        .sub-menu-caret {
          position: absolute;
          right: 0.4rem;
        }
      }

      .menu-item {
        font-weight: normal;
        cursor: pointer;
        margin: 0;
        padding: 1rem 1rem 1rem 1.6rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        color: $dark;
        font-size: 1rem;
        gap: 1rem;
        flex: 1;
      }
      .divider {
        order: none;
        height: 1px;
        background: $silver;
      }
      a {
        &.disabled {
          color: $disabled;
          cursor: not-allowed;
        }
      }
    }
  }
}
