<novo-field class="example-chip-list" data-automation-id="stacked-chips-field">
  <novo-label>Shifts</novo-label>
  <novo-chip-list
    #chipList
    stacked
    aria-label="Shift selection"
    [formControl]="shiftCtrl"
    [compareWith]="compareById"
    data-automation-id="stacked-chips-list">
    <novo-chip
      *ngFor="let shift of chipList.value; index as i"
      (removed)="remove(shift)"
      [attr.data-automation-id]="'stacked-chip-' + i">
      <novo-flex gap="1rem">
        <novo-text>
          <novo-icon>calendar</novo-icon>
          {{shift.startTime | isoDate}}
        </novo-text>
        <novo-text>
          <novo-icon>clock</novo-icon>
          {{[shift.startTime, shift.endTime] | isoTimeRange}}
        </novo-text>
        <novo-text>
          <novo-icon>candidate-circle</novo-icon>
          {{shift.numAssigned}} / {{shift.openings}}
        </novo-text>
      </novo-flex>
      <novo-icon novoChipRemove>delete</novo-icon>
    </novo-chip>
    <input
      novoChipInput
      #searchInput
      autocomplete="off"
      placeholder="add shift..."
      [formControl]="searchCtrl"
      (novoChipInputTokenEnd)="add($event)"
      data-automation-id="stacked-chips-input" />
  </novo-chip-list>
  <novo-autocomplete (optionSelected)="selected($event)" multiple data-automation-id="stacked-chips-autocomplete">
    <novo-option *ngFor="let shift of filteredShifts | async; index as i" [value]="shift" [attr.data-automation-id]="'stacked-chips-option-' + i">
      <novo-text>
        <novo-icon>calendar</novo-icon>
        {{shift.startTime | isoDate}}
        {{[shift.startTime, shift.endTime] | isoTimeRange}}
      </novo-text>
    </novo-option>
  </novo-autocomplete>
</novo-field>

<div data-automation-id="stacked-chips-value">{{chipList.value}}</div>