<novo-dropdown>
  <novo-button theme="secondary" icon="collapse">Actions</novo-button>
  <novo-optgroup label="Engage">
    <novo-option (click)="clickMe('Hello!')">Send Email</novo-option>
    <novo-option (click)="clickMe('Another!')">Send SMS</novo-option>
    <novo-option tooltip="Test tooltip :)"
      tooltipPosition="right"
      (click)="clickMe()"
      disabled>Advertise Shifts</novo-option>
  </novo-optgroup>
  <novo-optgroup label="Manage">
    <novo-option (click)="clickMe('Hello!')">Find Matching Jobs</novo-option>
    <novo-option (click)="clickMe('Another!')">Update Record</novo-option>
    <novo-option tooltip="Test tooltip :)"
      tooltipPosition="right"
      (click)="clickMe()"
      disabled>Delete Record</novo-option>
  </novo-optgroup>
</novo-dropdown>

<novo-dropdown side="right">
  <novo-button theme="icon" icon="menu"></novo-button>
  <novo-optgroup>
    <novo-option *ngFor="let action of asyncItems" (click)="clickMe(action)">{{action}}</novo-option>
    <novo-divider></novo-divider>
    <novo-option>Menu Item With Lots of Text in it to Show Dynamic Width</novo-option>
  </novo-optgroup>
</novo-dropdown>