layout {
  h1,
  h5 {
    color: $mint;
  }

  article {
    img {
      display: block;
      margin: 40px auto 50px auto;
      max-width: 600px;
      max-height: 475px;
      width: auto;
      height: auto;

      &.bowling-alley {
        max-height: 400px;
      }
    }
  }
}
