@import "../../../styles/global/variables.scss";

:host {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex: 1;
  .month {
    padding: 1rem;
    cursor: pointer;
    border-radius: 0.4rem;
    &.selected {
      background-color: $positive;
      color: #fff;
    }
    &:hover {
      background-color: $positive;
      color: #fff;
    }
  }
}
