<button theme="dialogue" color="success" icon="coffee" (click)="toastToggled('top')" data-automation-id="toast-trigger">Fixed Top</button>
<button theme="dialogue" color="primary" icon="check" (click)="toastToggled('bottom')" data-automation-id="toast-trigger-bottom">Fixed Bottom</button>
<button theme="dialogue" color="negative" icon="times" (click)="toastToggled('growlTopRight')" data-automation-id="toast-trigger-growl-top-right">Growl: Top Right</button>
<button theme="dialogue" color="primary" icon="coffee" (click)="toastToggled('growlTopLeft')" data-automation-id="toast-trigger-growl-top-left">Growl: Top Left</button>
<button theme="dialogue" color="negative" icon="times" (click)="toastToggled('growlBottomRight')" data-automation-id="toast-trigger-growl-bottom-right">Growl: Bottom Right</button>
<button theme="dialogue" color="primary" icon="coffee" (click)="toastToggled('growlBottomLeft')" data-automation-id="toast-trigger-growl-bottom-left">Growl: Bottom Left</button>
