<h3>Multiple selection</h3>
<p>
  <novo-field>
    <novo-select [formControl]="stateMultiCtrl" placeholder="States" [multiple]="true" #multiSelect>
      <novo-option>
        <novo-select-search [formControl]="stateMultiFilterCtrl"></novo-select-search>
      </novo-option>
      @for (state of filteredStatesMulti | async; track state) {
        <novo-option [value]="state">
          {{state.name}}
        </novo-option>
      }
    </novo-select>
  </novo-field>
</p>
<p>
  Selected States:
</p>
@for (state of stateMultiCtrl?.value; track state) {
  <ul>
    <li>{{state.name}}</li>
  </ul>
}