card-demo {
    .example {
        padding: 20px;

        > .actions {
            display: flex;
            align-items: center;
            margin-top: 20px;

            > * {
                margin-right: 5px;
            }

            > form-field {
                line-height: 0;
            }
        }
    }
}
