:host {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  &::ng-deep {
    &.ng-touched.ng-invalid:not(.ng-pristine):not(.novo-control-container) {
      .street-address,
      .apt,
      .city,
      .state,
      .zip,
      .country-name {
        &.invalid {
          input,
          novo-select div[type="button"] {
            border-bottom: 1px solid var(--color-error) !important;
          }
        }
      }
    }

    novo-picker i {
      padding: 0 5px;
    }
    input {
      min-width: 10px;
    }
    .street-address,
    .apt,
    .city,
    .state,
    .zip,
    .country-name {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      input.invalid {
        border-bottom: 1px solid var(--color-error);
      }
    }
    .street-address {
      flex: 3 3 75%;
      padding: 0 0 5px !important;
      &.disabled {
        padding: 0 2px 5px 0 !important;
      }
    }
    .apt {
      flex: 1 1 25%;
      padding: 0 0 5px !important;
      align-self: flex-end;
    }
    .city {
      flex: 2 2 28%;
      padding: 5px 0 !important;
      &.disabled {
        padding: 5px 2px 5px 0 !important;
      }
    }
    .state {
      flex: 1 1 30%;
      align-items: center;
      &.disabled {
        padding-right: 2px;
      }
      & > div {
        padding: 19px 29px 17px 0 !important;
      }
    }
    .zip {
      flex: 1 0 19.4%;
      padding: 5px 0 !important;
    }
    .country-name {
      flex: 4 4 100%;
      padding: 10px 0 0 !important;
    }
    .disabled {
      i.required-indicator.bhi-circle,
      i.required-indicator.bhi-check {
        display: none !important;
      }
      pointer-events: none;
      input {
        &::placeholder {
          color: var(--color-placeholder) !important;
        }
        border-bottom-style: dashed !important;
      }
    }
  }
}
:host-context {
  &::ng-deep {
    .street-address,
    .apt,
    .city,
    .state,
    .zip,
    .country-name {
      &:hover:not(.invalid) i.required-indicator.bhi-circle,
      &:hover:not(.invalid) i.required-indicator.bhi-check {
        border-bottom: 1px solid var(--color-border);
      }
      &.focus:not(.invalid) i.required-indicator.bhi-circle,
      &.focus:not(.invalid) i.required-indicator.bhi-check {
        border-bottom: 1px solid var(--color-selection);
      }
    }
    i.required-indicator {
      height: 18px !important;
      width: 18px !important;
      display: flex;
      border-bottom: 1px solid var(--color-border);
      margin-right: 0px !important;
      margin-top: 0px;
      align-self: flex-end;
      &.bhi-circle {
        height: 15px;
      }
    }
    .invalid i.required-indicator,
    .invalid i.required-indicator {
      border-bottom: 1px solid var(--color-error);
    }
  }
}
