@import "../../styles/variables.scss";

@include theme-colors() using ($name, $color, $contrast, $tint, $shade, $pale) {
  $contrast: getContrastColor($name);
  :host-context([theme="#{$name}"]) {
    background: $color;
    color: $contrast;
    border: unset;
    border-bottom: 1px solid rgba(#fff, 0.1);
    outline: none;
    item-title h6,
    i {
      color: $contrast;
    }
    item-content {
      > * {
        color: rgba(#fff, 0.65);
      }
    }
    &:hover,
    &:active {
      background: lighten($color, 20%);
    }
  }
}

:host {
  border-bottom: 1px solid var(--border, #f4f4f4);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  outline: none;
  &:hover {
    background: rgba($positive, 0.2);
  }
  &.active {
    background: rgba($positive, 0.3);
  }
  &:last-child {
    border-bottom: none;
  }
  .list-item {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
  }
}