@import "../../styles/variables.scss";

@include theme-colors() using ($name, $color, $contrast, $tint, $shade, $pale) {
  :host-context([theme="#{$name}"]) {
    color: $contrast;
    i {
      color: $contrast;
    }
  }
}

:host {
  display: contents;
  color: inherit;
  font-size: inherit;
}
