novo-category-dropdown {
    display: block;
    position: relative;

    button {
        position: relative;
        z-index: 0;
    }

    &.active {
        .dropdown-container {
            overflow: hidden;
            max-height: inherit;
            max-width: 300px;
            min-width: 300px;
            display: block;
            z-index: 1000;
            border-radius: 2px;
            top: 100%;
            margin-top: 5px;
        }
    }

    .dropdown-container {
        background-color: white;
        list-style: none;
        line-height: 26px;
        display: none;
        margin: 0;
        max-height: 0;
        position: absolute;
        padding: 0;
        transform: translateY(0);
        transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
        min-width: 180px;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);

        novo-nav {
            max-height: 140px;
            overflow: auto;
            border-bottom: 1px solid #ccc;

            > novo-tab {
                height: 40px;
                min-height: 40px;
                > .novo-tab-link {
                    max-width: 100%;
                    height: 100%;
                    font-size: 0.9em;
                }
            }
        }

        novo-list {
            max-height: 350px;
            overflow: auto;
        }

        novo-list-item {
            padding: 10px 23px;
            height: 45px;
            min-height: 45px;
            cursor: pointer;
            font-size: 0.9em;

            &:hover, &:focus {
                background: lighten($light, 10%);
                color: darken($light, 55%);

                .novo-category-dropdown-hover {
                    display: block;
                }
            }

            .novo-category-dropdown-hover {
                display: none;
                color: $positive;
                font-size: 0.9em;

                > i {
                    font-size: 0.9em;
                }
            }
        }
    }

    &[side=left] {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &[side=right] {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .dropdown-container {
            right: 0px;
        }
    }
}
