.stepwise {
    display: flex;
    novo-nav-outlet {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            novo-nav-content.active {
                flex: 10 0 0;
            }
            footer {
                display: flex;
                justify-content: flex-end;
                position: fixed;
                bottom: 0;
                right: 0;
                left: 0;
                padding: 10px 15px;
                z-index: 100;
                background-color: $off-white;
            }
    }
    
}