<div class="date-picker-demo-side-by-side">
    <p>
        <label>Start date</label>
        {{(value?.startDate | date) || 'N/A'}}
        <br/> {{(value2?.startDate | date) || 'N/A'}}

        <label>End date</label>
        {{(value?.endDate | date) || 'N/A'}}
        <br/> {{(value2?.endDate | date) || 'N/A'}}
    </p>
    <novo-date-picker [(ngModel)]="value" range="true" (onSelect)="range"></novo-date-picker>
    <novo-date-picker [(ngModel)]="value2" range="true" weekRangeSelect="true" weekStart="1" (onSelect)="range"></novo-date-picker>
</div>
