<novo-dropdown>
  <button theme="buttonConfig.theme"
          side="buttonConfig.side"
          icon="buttonConfig.icon"
          [loading]="loading">
    <span class="dropdown-button-label">{{ buttonConfig.label }}</span>
    <i class="bhi-sort-desc"></i>
  </button>
  <!-- todo: search input goes here-->
  <div class="group-member-picker-column-container">
    <div class="group-member-picker-column left">
      <novo-nav theme="white"
                direction="vertical">
        <novo-tab *ngFor="let schema of typeSchema"
                  [attr.data-automation-id]="schema.typeName"
                  (activeChange)="setActiveType(schema)">
          <span>{{ schema.typeLabel }}</span><i class="bhi-next"></i>
        </novo-tab>
      </novo-nav>
      <!-- todo: clear all button goes here-->
    </div>
    <div class="group-member-picker-column right">
      <novo-list *ngIf="items.length"
                 direction="vertical">
        <!-- todo: quick select goes here-->
        <!-- todo: add virtual scroll-->
        <novo-list-item *ngFor="let item of items"
                        [attr.data-automation-id]="item[activeType.labelField]"
                        (click)="onListItemClicked(item);">
          <item-content>
            <novo-checkbox [label]="item[activeType.labelField]"
                           [name]="'selected'"
                           [(ngModel)]="item.selected"
                           (ngModelChange)="onItemToggled()"></novo-checkbox>
          </item-content>
        </novo-list-item>
      </novo-list>
      <!-- todo: empty state goes here-->
    </div>
  </div>
</novo-dropdown>
