calendar-demo {
    .example.calendar-demo {
        padding: 20px;
        display: flex;
        flex-direction: row;
        > * {
            padding: 20px;
        }
        > calendar {
            background: rgba(0, 0, 0, .35);
        }
        bh-form {
            flex: 1;
        }
    }
    .example.time-demo {
        padding: 20px;
        background: rgba(0, 0, 0, .45);
        timeselect {
            margin: 0 auto;
        }
    }
    .example.side-by-side-demo {
        padding: 20px;
    }
}

.calendar-demo-side-by-side {
    display: flex;
    align-items: center;
    flex-flow: row wrap;

    > p {
        flex: 1;

        > label {
            font-weight: 500;
            display: block;
        }
    }
}
