<novo-toolbar>
  <novo-toolbar-row color="company" gap="md">
    <novo-icon>company</novo-icon>
    <novo-title>My App</novo-title>
    <span class="example-spacer"></span>
    <novo-action icon="menu" aria-label="Example icon-button with menu icon"></novo-action>
  </novo-toolbar-row>

  <novo-toolbar-row>
    <novo-nav>
      <novo-tab>Overview</novo-tab>
      <novo-tab>Activity</novo-tab>
      <novo-tab>Files</novo-tab>
    </novo-nav>
    <span class="example-spacer"></span>
    <novo-divider vertical></novo-divider>
    <novo-button theme="dialogue">Layout</novo-button>
  </novo-toolbar-row>
</novo-toolbar>