novo-dropdown {
    display: block;
    position: relative;

    .mask {
        position: fixed;
        height: 100%;
        width: 100%;
        background: transparent;
        top: 0;
        left: 0;
        z-index: 1;
    }

    button {
        position: relative;
        z-index: 0;
    }

    &.active {
        .dropdown-container {
            max-height: 500px;
            overflow: auto;
            z-index: 2;
            border-radius: 2px;
            top: 100%;
            margin-top: 5px;
        }
    }

    .dropdown-container {
        background-color: white;
        list-style: none;
        line-height: 26px;
        overflow: hidden;
        margin: 0;
        max-height: 0;
        position: absolute;
        padding: 0;
        transform: translateY(0);
        transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
        min-width: 180px;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);

        list {
            item {
                cursor: pointer;
                height: 48px;
                margin: 0;
                padding: 10px 16px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: darken($light, 45%);
                white-space: nowrap;

                span {
                    display: inline-block;
                }

                i {
                    height: 30px !important;
                    width: 15px !important;
                    border-radius: 0;
                    margin: 0 !important;
                    color: $positive;
                }

                &:focus, &:hover {
                    background: lighten($light, 10%);
                    color: darken($light, 55%);
                }

                &.active {
                    color: darken($light, 55%);
                    font-weight: 500;
                }

                &.disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
        }
    }

    &[side=left] {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &[side=right] {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .dropdown-container {
            right: 0px;
        }
    }
}
