// --------------------------------------------------
// Plugins (Third-Party-Libraries)
// --------------------------------------------------
@import "../novo-elements";
// --------------------------------------------------
// Global
// --------------------------------------------------
@import "assets/styles/reset";
@import "assets/styles/general";
@import "assets/styles/main";
@import "assets/styles/sidenav";
@import "assets/styles/highlight";
@import "assets/styles/media";
// --------------------------------------------------
// Pages
// --------------------------------------------------
// Design
@import "pages/home/Home";
@import "pages/design/color/Color";
@import "pages/design/composition/Composition";
@import "pages/design/iconography/Iconography";
@import "pages/design/typography/Typography";
// Elements
@import "pages/elements/button/ButtonDemo";
@import "pages/elements/loading/LoadingDemo";
@import "pages/elements/card/CardDemo";
@import "pages/elements/toast/ToastDemo";
@import "pages/elements/tooltip/TooltipDemo";
@import "pages/elements/header/HeaderDemo";
@import "pages/elements/tabs/TabsDemo";
@import "pages/elements/tiles/TilesDemo";
@import "pages/elements/modal/ModalDemo";
@import "pages/elements/quick-note/QuickNoteDemo";
@import "pages/elements/radio/RadioDemo";
@import "pages/elements/dropdown/DropdownDemo";
@import "pages/elements/select/SelectDemo";
@import "pages/elements/list/ListDemo";
@import "pages/elements/switch/SwitchDemo";
@import "pages/elements/dragula/DragulaDemo";
@import "pages/elements/slides/SlidesDemo";
@import "pages/elements/picker/PickerDemo";
@import "pages/elements/chips/ChipsDemo";
@import "pages/elements/calendar/CalendarDemo";
@import "pages/elements/editor/EditorDemo";
@import "pages/elements/tip-well/TipWellDemo";
@import "pages/elements/table/TableDemo";
@import "pages/elements/form/FormDemo";
@import "pages/elements/category-dropdown/CategoryDropdownDemo";
@import "pages/elements/popover/PopOverDemo";
// Utils
@import "pages/utils/pipes/PipesDemo";
