<novo-toolbar data-automation-id="tabs-color-toolbar">
  <novo-toolbar-row accent="orange" gap="md" data-automation-id="tabs-color-header">
    <novo-icon>bull</novo-icon>
    <novo-title>Tab Example</novo-title>
    <span class="example-spacer"></span>
    <novo-action icon="previous" (click)="updateTabIndex(-1)"></novo-action>
    <novo-text>Selected Index: {{selected}}</novo-text>
    <novo-action icon="next" (click)="updateTabIndex(1)"></novo-action>
  </novo-toolbar-row>

  <novo-toolbar-row>
    <novo-nav [outlet]="outlet" direction="horizontal" [(selectedIndex)]="selected" data-automation-id="tabs-color-group">
      <novo-tab data-automation-id="tabs-color-tab-1">
        <novo-icon>person</novo-icon>
        <novo-label>Tab 1</novo-label>
      </novo-tab>
      <novo-tab data-automation-id="tabs-color-tab-2">
        <novo-icon>person</novo-icon>
        <novo-label>Tab 2</novo-label>
      </novo-tab>
      <novo-tab disabled data-automation-id="tabs-color-tab-3">
        <novo-icon>person</novo-icon>
        <novo-label>Tab 3</novo-label>
      </novo-tab>
    </novo-nav>
  </novo-toolbar-row>
</novo-toolbar>


<novo-nav-outlet #outlet>
  <novo-nav-content data-automation-id="tabs-color-content-1">
    <h1>Tab 1 Content</h1>
  </novo-nav-content>
  <novo-nav-content data-automation-id="tabs-color-content-2">
    <h1>Tab 2 Content</h1>
  </novo-nav-content>
  <novo-nav-content data-automation-id="tabs-color-content-3">
    <h1>Tab 3 Content</h1>
  </novo-nav-content>
</novo-nav-outlet>