<novo-header theme="ocean">
  <novo-nav [outlet]="colornav" direction="horizontal">
    <novo-tab>
      <novo-icon size="small">person</novo-icon>
      <novo-label>Tab 1</novo-label>
    </novo-tab>
    <novo-tab>
      <novo-icon size="small">person</novo-icon>
      <novo-label>Tab 2</novo-label>
    </novo-tab>
    <novo-tab [disabled]="true">
      <novo-icon size="small">person</novo-icon>
      <novo-label>Tab 3</novo-label>
    </novo-tab>
  </novo-nav>
</novo-header>

<novo-nav-outlet #colornav>
  <novo-nav-content>
    <h1>Tab 1 Content</h1>
  </novo-nav-content>
  <novo-nav-content>
    <h1>Tab 2 Content</h1>
  </novo-nav-content>
</novo-nav-outlet>