novo-address {
    display: flex;
    flex-flow: row wrap;

    input {}

    .street-address {
        flex: 3 3 75%;
        padding: 0 0 5px !important;
    }

    .apt {
        flex: 1 1 25%;
        padding: 0 0 5px !important;
    }

    .city {
        flex: 2 2 40%;
        padding: 5px 0 !important;
    }

    .state {
        flex: 1 1 30%;

        & > div {
            padding: 19px 29px 19px 0 !important;
        }
    }

    .zip {
        flex: 1 0 20%;
        padding: 5px 0 !important;
    }

    .country-name {
        flex: 4 4 100%;
        padding: 10px 0 0 !important;
    }
}
