input[type=calendar] {
    padding: 6px;
    font-size: 14px;
    line-height: 14px;
    color: #333;
    width: 140px;
    display: inline-block;
    border: 2px solid #ddd;
    border-radius: 4px;
}

.calendar.popup {
    display: none;
    position: absolute;
    z-index: 999;
}

.calendar.popup.open {
    display: block;
}

.calendar {
    border-radius: 4px;
    width: 255px;
    text-align: center;
    background: #fff;
    color: #3A3A3A;
    -webkit-user-select: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .15), 0px 2px 7px rgba(0, 0, 0, .1);
    z-index: 999;
    position: relative;
    .calendar-top {
        display: flex;
        flex-flow: column;
        background: $positive;
        color: #fff;
        font-size: 14px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        h1 {
            font-weight: 600;
            font-size: 4.2em;
            color: #fff;
            margin: 0px;
            padding: 0;
        }
        h2 {
            font-weight: 300;
            opacity: 1;
            margin: 10px auto;
            padding: 0;
        }
        h3 {
            font-weight: 400;
            opacity: .4;
            margin: 15px auto;
            padding: 0;
        }
        h4 {
            background: rgba(0, 0, 0, .15);
            font-size: 1em;
            font-weight: 300;
            padding: 10px;
        }
    }
    .calendar-header {
        width: 100%;
        border-collapse: collapse;
        padding: 14px 0px;
        -webkit-user-select: none;
        cursor: default;
        border-bottom: 1px solid #F0F0F0;

        .previous {
            border-bottom: 4px solid transparent;
            border-top: 4px solid transparent;
            border-right: 4px solid #aaa;
            display: inline-block;
            height: 0;
            vertical-align: middle;
            width: 0;

            &:hover {
                border-right: 4px solid $positive;
                cursor: pointer;
            }
        }

        .heading {
            width: 80%;
            display: inline-block;
            vertical-align: middle;
            color: $positive;
            font-weight: 600;

            .month {
                border-radius: 2px;
                padding: 3px 8px;
                &:hover {
                    background: $positive;
                    color: #fff;
                    cursor: pointer;
                }
            }
            .year {
                border-radius: 2px;
                padding: 3px 8px;
                &:hover {
                    background: $positive;
                    color: #fff;
                    cursor: pointer;

                }
            }
        }

        .next {
            border-bottom: 4px solid transparent;
            border-top: 4px solid transparent;
            border-left: 4px solid #aaa;
            display: inline-block;
            height: 0;
            vertical-align: middle;
            width: 0;

            &:hover {
                opacity: 1;
                border-left: 4px solid $positive;
                cursor: pointer;
            }
        }
    }

    .calendar-content {
        background: #fff;
        width: 100%;
        height: 230px;
        overflow-y: scroll;
        position: static;
        top: 0px;
        left: 0px;
        -webkit-padding-start: 0px;
        -webkit-transform-origin: 209px 26px;
        -webkit-transform: scale(1);

        thead {
            background: #fff;

            th {
                width: 30px;
                padding: 10px 0;
            }
        }

        tbody {
            font-size: .9em;
        }

        .year, .month {
            text-align: center;
            padding: 4px 15px;
            color: #666666;
            overflow-x: hidden;
            text-overflow: ellipsis;
            margin: 5px;
            font-weight: normal;
            border-radius: 3px;

            &.selected {
                background-color: $positive;
                color: #fff;
            }

            &:hover {
                cursor: pointer;
                background-color: $positive;
                color: #fff;
            }
        }
        .day {
            height: 30px;
            width: 30px;
            line-height: 30px;
            margin: 1px;
        }

        td {
            &.notinmonth {
                color: #D7D9E4;
            }
            &.selected {
                .day {
                    background: $positive;
                    color: #fff;
                    border-radius: 50%;
                }
            }
            &.today {
                .day {
                    box-shadow: inset 0px 0px 0px 2px $light;
                    border-radius: 50%;
                }
            }
            &:hover {
                .day {
                    cursor: pointer;
                    border-radius: 50%;
                    box-shadow: inset 0px 0px 0px 2px $positive;
                }
            }

        }

    }

    .calendar-footer {
        width: 100%;
        padding: 15px 10px;
        text-align: left;

        .today {
            cursor: pointer;
            color: $positive;
        }
    }
}
