novo-calendar-date-change {
  display: inline-block;

  .cal-date-change {
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    background-color: $white;
    position: relative;
    padding: 10px 15px;
    text-align: center;

    > span {
      padding: 5px;
      color: $black;
    }

    > i {
      cursor: pointer;
      padding: 2px;
      font-size: 0.9em;
    }
  }
}
