<span tooltip="Small Tooltip" tooltipSize="small" tooltipPosition="bottom" tooltipPreline="true" data-automation-id="tooltip-small">Small Tooltip</span>
<span [tooltip]="mediumTooltip" tooltipSize="medium" tooltipPosition="left" tooltipPreline="true" data-automation-id="tooltip-medium">Medium Tooltip</span>
<span [tooltip]="largeTooltip" tooltipSize="large" tooltipPosition="top" tooltipPreline="true" data-automation-id="tooltip-large">Large Tooltip</span>
<span [tooltip]="extraLargeTooltip" tooltipSize="extra-large" tooltipPosition="top" tooltipPreline="true" tooltipAutoPosition="true" data-automation-id="tooltip-extra-large">Extra-Large Tooltip</span>
