:host {
  background: var(--background-muted);
  box-sizing: content-box;
  padding: 1rem 1rem 1rem 0.5rem;
  margin-bottom: 2rem;
  display: flex;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  font-size: 1.8rem;
  ::ng-deep i,
  ::ng-deep novo-icon {
    margin: 1px 10px 1px 6px;
  }
  &.hidden {
    display: none;
  }
}
