@import "./platform/novo-elements";
@import "./app/pages/components/components.component";
html,
body {
    height: 100%;
    width: 100%;
}

.demo-route-animation {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

main.demo-pages {
    position: relative;
    flex: 1;
    background-color: $off-white;
    overflow: auto;
}

section.demo-section {
    height: 100%;
    >nav {
        overflow: auto;
        min-width: 150px;
        max-width: 150px;
        height: 100%;
        background-color: lighten($dark, 15%);
        >a {
            font-size: 0.9em;
            width: 100%;
            padding: $medium;
            color: $white;
            border-bottom: 1px solid lighten($dark, 25%);
            transition: background-color 500ms;
            &.active {
                background-color: lighten($dark, 25%);
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
    >div {
        position: relative;
        height: 100%;
        overflow: auto;
    }
}

ul.demo-nav {
    padding-left: $large*1.5;
    font-size: 1.1em;
    ul {
        padding-left: $large;
    }
}

div.usage-doc {
    pre {
        background: darken($background, 3%);
        padding: $small;
        code {
            font-size: 12px;
            font-family: "Roboto", sans-serif, monospace;
            background: inherit;
            color: inherit;
            border: none;
            padding: 0;
        }
    }
}

div.demo-box-section {
    label {
        display: block;
        text-transform: capitalize;
        font-weight: 400;
        font-style: italic;
        margin-bottom: $small/2;
    }
}

div.demo-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $dark;
}

svg.demo-logo {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    height: 250px;
    display: block;
    .center-dot {
        fill: $white;
    }
    .outer-ring {
        fill: $bittersweet;
        transform-origin: 50% 50%;
        animation-duration: 20000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-name: rotate-back;
    }
    .inner-ring {
        fill: $bittersweet;
        transform-origin: 50% 50%;
        animation-duration: 20000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-name: rotate;
    }
    &.fast {
        max-width: 100px;
        height: inherit;
        .outer-ring,
        .inner-ring {
            animation-duration: 1000ms;
            animation-name: rotate;
        }
    }
}
