@import "./ChipList.scss";
@import "../common/typography/text.mixins.scss";

chips,
novo-chips,
entity-chips,
novo-entity-chips {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 1px solid lighten($dark, 45%);
  transition: all 200ms ease-in-out;
  position: relative;
  padding: 5px 20px 5px 0;
  &.with-value {
    margin-bottom: 20px;
  }
  &:hover {
    border-bottom: 1px solid lighten($dark, 15%);
  }
  &.selected,
  &.selected:hover {
    border-bottom: 1px solid $positive;
    & + i {
      color: $positive;
    }
  }
  &.disabled {
    border-bottom-style: dashed !important;
  }
  .chip-input-container {
    flex-grow: 4;
    input {
      padding-top: 0;
      border: none;
      background: transparent;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }
  .novo-chip-container {
    display: flex;
    flex-flow: row wrap;
    gap: 0.4rem;
  }
  novo-picker {
    position: inherit;
    > i {
      display: none;
    }
    div.picker-results-container {
      left: 0;
    }
  }
  label.clear-all {
    flex: 1 100%;
    position: absolute;
    right: 0;
    bottom: -20px;
    font-size: 0.9rem;
    color: $negative;
    cursor: pointer;
    display: flex;
    align-items: center;
    i {
      font-size: 0.7rem;
      padding-bottom: 2px;
      margin-left: 5px;
    }
  }
  i.bhi-search {
    position: absolute;
    bottom: 8px;
    right: 0;
    font-size: 1.1em;
    color: $dark;
    // &.has-value {
    //   bottom: 14px;
    // }
  }
}

chips,
novo-chips,
entity-chips,
novo-entity-chips {
  & + i {
    position: absolute;
    right: 0;
    bottom: 7px;
  }
  padding: 2px 0;
  novo-picker {
    padding-bottom: 0;
    > input {
      border: none;
      border-bottom: none !important;
      &:disabled {
        border-bottom: none !important;
      }
    }
  }
  &.with-value {
    margin-bottom: 0;
  }
}

chips,
novo-chips,
entity-chips,
novo-entity-chips {
  picker-results {
    position: absolute;
    color: black;
    novo-list {
      max-height: 49vh;
      overflow: auto;
      novo-list-item {
        flex: 0 0;
        transition: background-color 250ms;
        & > div {
          width: 100%;
        }
        &.active {
          background-color: lighten($positive, 35%);
        }
        &:hover {
          background-color: lighten($positive, 35%);
        }
        item-content {
          flex-flow: row wrap;
          & > * {
            flex: 0 0 33%;
            white-space: nowrap;
          }
        }
      }
    }
    .error-results,
    .no-recents,
    .null-results {
      text-align: center;
      padding: 1em 0 4em;
      > i {
        font-size: 3em;
        margin: 0.5em;
        color: rgba(0, 0, 0, 0.3);
      }
      > h4,
      > p {
        margin: 0;
        max-width: none;
        padding: 0;
      }
      > h4 {
        font-weight: 500;
      }
      > p {
      }
    }
    section {
      box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.25);
      z-index: 9;
      position: absolute;
      width: 100%;
      background-color: white;
      color: black;
    }
  }
  .preview-container {
    entity-picker-result {
      background: $white;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      min-width: 180px;
      max-height: 49vh;
      overflow: auto;
      z-index: z("max");
      border: 1px solid #4a89dc;
      transition: all 200ms ease-in-out;
      .novo-list-item {
        flex: 0 0;
        & > div {
          width: 100%;
        }
        .novo-item-content {
          flex-flow: row wrap;
          & > * {
            flex: 0 0 33%;
            white-space: nowrap;
          }
          > p {
            min-width: 15em;
            font-size: 0.9em;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding-right: 1em;
          }
        }
      }
    }
  }
}

entity-chip-results {
  max-width: none !important;
}

novo-row-chips {
  display: flex;
  flex-flow: column;
  gap: 0.8rem;

  .novo-row-chips-columns {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1em;
    .column-label {
      @include novo-label-text();
      display: flex;
      flex: 1;
      margin-right: 1em;
      &:first-of-type {
        flex: 0 0 275px;
      }
    }
    .column-data {
      display: flex;
      align-items: center;
      background: transparent !important;
      border: none;
      border-bottom: 1px dashed lighten($dark, 30%);
      border-radius: 0;
      outline: none;
      height: 2em;
      width: 100%;
      margin: 0 1em 0 0;
      &.editable {
        border-bottom: none;
        input {
          background: none;
          border: none;
        }
      }
      &:first-of-type {
        flex: 0 0 275px;
      }
      span {
        color: inherit;
        align-items: flex-start;
        display: flex;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        line-height: 1em;
        max-height: 2em;
        min-height: 1em;
      }
    }
  }
  .novo-chip.novo-row-chip {
    padding: 0;
  }
  .novo-row-chips-empty-message {
    font-style: italic;
    color: $grey;
  }
  novo-picker {
    max-width: 275px;
  }
  i {
    cursor: pointer;
  }
}
