@import "../../styles/variables.scss";
@import "../common/typography/text.mixins";

$novo-chip-border-radius: 0.4rem;

$novo-chip-min-height: 2.4rem;
$novo-chip-vertical-padding: 0rem;
$novo-chip-horizontal-padding: 0.5rem;

$novo-chip-remove-before-margin: 0rem;
$novo-chip-remove-after-padding: 0rem;

$novo-chip-avatar-before-margin: 0rem;
$novo-chip-avatar-after-margin: 0rem;

$novo-chip-list-margin: 4px;

$novo-chip-input-width: 100px;
$novo-chip-input-margin: 4px;

$novo-chip-avatar-size: 24px;
$novo-chip-remove-size: 18px;

.novo-chip-list,
novo-chips {
  .novo-chip {
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    // Chips could be set on buttons so we need to reset the user agent styles.
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .novo-chip {
    @include novo-text-medium();
    background: $off-white;
    color: $ocean;
    margin-right: 5px;

    border: 1px solid transparent;
    transition: all 200ms ease-in-out;
    display: inline-flex;
    padding: $novo-chip-vertical-padding $novo-chip-horizontal-padding;
    border-radius: $novo-chip-border-radius;
    align-items: center;
    cursor: default;
    gap: 1rem;
    min-height: $novo-chip-min-height;

    // Centering the content using flexbox won't work on IE, if we have
    // a `min-height` without setting a `height`. This height won't do
    // anything since it's less than the minimum set above.
    height: 1px;

    // Overlay used to darken the chip on hover and focus.
    &::after {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      border-radius: inherit;
      opacity: 0;
      background-color: black;
      content: "";
      pointer-events: none;
      transition: opacity 200ms ease-in-out;
    }

    &:hover {
      border: 1px solid $positive;
      // &::after {
      //   opacity: 0.12;
      // }
    }

    &:focus {
      outline: none;
      border: 1px solid $positive;

      &::after {
        opacity: 0.16;
      }
    }

    &.novo-chip-disabled {
      &::after {
        opacity: 0;
      }

      .novo-chip-remove,
      .novo-chip-trailing-icon {
        cursor: default;
      }
    }

    // &.novo-chip-with-trailing-icon.novo-chip-with-avatar,
    // &.novo-chip-with-avatar {
    //   padding-top: $novo-chip-avatar-vertical-padding;
    //   padding-bottom: $novo-chip-avatar-vertical-padding;
    // }

    // &.novo-chip-with-trailing-icon.novo-chip-with-avatar {
    //   padding-right: $novo-chip-remove-after-padding;
    //   padding-left: $novo-chip-avatar-before-padding;
    // }

    // &.novo-chip-with-trailing-icon {
    //   padding-top: $novo-chip-remove-vertical-padding;
    //   padding-bottom: $novo-chip-remove-vertical-padding;
    //   padding-right: $novo-chip-remove-after-padding;
    //   padding-left: $novo-chip-horizontal-padding;
    // }

    // &.novo-chip-with-avatar {
    //   padding-left: $novo-chip-avatar-before-padding;
    //   padding-right: $novo-chip-horizontal-padding;
    // }

    .novo-chip-avatar::not(novo-icon) {
      width: $novo-chip-avatar-size;
      height: $novo-chip-avatar-size;
    }

    .novo-chip-avatar {
      margin-right: $novo-chip-avatar-after-margin;
      margin-left: $novo-chip-avatar-before-margin;
    }

    .novo-chip-remove,
    .novo-chip-trailing-icon {
      width: $novo-chip-remove-size;
      height: $novo-chip-remove-size;
      cursor: pointer;
    }

    .novo-chip-remove,
    .novo-chip-trailing-icon {
      margin-left: $novo-chip-remove-before-margin;
      margin-right: 0;
    }

    .novo-chip-remove {
      color: $light;
    }
    &:not(.novo-chip-disabled) {
      .novo-chip-remove:hover {
        color: darken($light, 30%);
      }
    }
  }
}

.novo-chip-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: -$novo-chip-list-margin;

  input.novo-input-element,
  .novo-chip {
    margin: $novo-chip-list-margin;
  }
}

.novo-chip-list-stacked {
  flex: 1;
  .novo-chip-list-wrapper {
    flex-direction: column;
    align-items: flex-start;

    .novo-chip {
      width: 100%;
      height: 2.8rem;
      .novo-chip-remove,
      .novo-chip-trailing-icon {
        margin-left: auto;
      }
    }
    input.novo-chip-input {
      flex: 1 0 auto;
    }
  }
}

.novo-chip-avatar {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;

  // Makes `<img>` tags behave like `background-size: cover`. Not supported
  // in IE, but we're using it as a progressive enhancement.
  object-fit: cover;
}

novo-field.novo-focused {
  input.novo-chip-input {
    width: $novo-chip-input-width;
    margin: $novo-chip-input-margin;
    flex: 1 0 $novo-chip-input-width;
  }
}

input.novo-chip-input {
  width: 20px;
  margin: $novo-chip-input-margin;
  flex: 1 0 20px;
}
