:host {
  position: relative;
  display: block;
  border: 1px solid var(--border);
  border-radius: var(--border-radius-round);
  padding: var(--spacing-md);
  width: 100%;

  .condition-row {
    width: 100%;
  }
}
