novo-card {
  .novo-card {
    background-color: $white;
    box-shadow: $whiteframe-shadow-z3;
    border-radius: 0.4em;
    position: relative;
    overflow-x: hidden;
    &.loading {
      min-height: 200px;
    }
    div.card-loading-container {
      position: absolute;
      top: 43px;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 0.4em;
      background: $white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
    header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      padding: 0.5em;
      .title {
        display: flex;
        align-items: center;
        min-width: 0;
        flex: 1;
        i.bhi-move {
          color: $light;
          margin-right: 0.3em;
          cursor: pointer;
        }
        h3 {
          font-weight: 500;
          font-size: 1.3em;
          padding: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          i {
            font-size: 1.2em;
            &.bhi-info {
              color: $light;
            }
          }
        }
      }
      .actions {
        color: lighten($dark, 15%);
        white-space: nowrap;
        button {
          height: 30px;
          width: 30px;
          padding: 5px;
          font-size: 1.2em;
          text-transform: none;
        }
      }
    }
    novo-card-actions {
      button {
        font-size: 1.05rem;
        i {
          font-size: 1.05em;
        }
      }
    }
    main {
      padding: 0 0.8em 0.8em;
      background-color: $white;
      p.card-message {
        padding: 20px 0;
        max-width: inherit;
        text-align: center;
        line-height: 25px;
        color: lighten($grey, 10%);
        i {
          display: block;
          font-size: 24px;
          margin: 0 0 0.5em;
          color: lighten($grey, 20%);
        }
      }
    }
    &.no-padding {
      main {
        padding: 0;
      }
    }
    footer {
      display: flex;
      justify-content: center;
    }
  }
}
