tabs-demo {
  .example {
    header {
      padding-top: 50px;
    }

    novo-nav-outlet {
      padding: 25px;
    }
  }

  .example.color-tab-demo {
    width: 100%;

    header {
      background: $positive;
    }
  }

  .example.vertical-tab-demo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px;

    novo-nav-outlet {
      padding: 0 25px;
    }
  }

  .example.button-tab-demo {
    header {
      padding: 20px;

      &.color {
        background: $positive;
      }
    }
  }
}
