<novo-progress appearance="radial" data-automation-id="progress-radial-single">
  <novo-progress-bar value="70" data-automation-id="progress-radial-single-bar"></novo-progress-bar>
</novo-progress>

<br />

<novo-progress appearance="radial" total="60" data-automation-id="progress-radial-multi">
  <novo-progress-bar value="50" color="success" data-automation-id="progress-radial-multi-success"></novo-progress-bar>
  <novo-progress-bar value="40" color="negative" data-automation-id="progress-radial-multi-negative"></novo-progress-bar>
  <novo-progress-bar value="30" color="warning" data-automation-id="progress-radial-multi-warning"></novo-progress-bar>
</novo-progress>