form-demo {
    .example.form-demo {
        padding: 20px;

        &.quicknote {
            novo-quick-note {
                border-bottom: 2px solid darken(#f4f4f4, 5%);
            }
        }
    }

    .dynamic-demo-footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 45px;
        border-top: 1px solid #f0f0f0;
        padding-top: 20px;

        & > button {
            margin-left: 10px;
        }
    }

    .final-value {
        color: #afafaf;
        padding: 10px;
        background: #f4f4f4;
    }
}
