<novo-table [theme]="theme" [dataProvider]="basic.rows" [columns]="basic.columns" [config]="basic.config">
    <novo-table-header class="demo-custom-header">
        TEST :)
        <div>
            <button theme="secondary" (click)="reload()">Reload Data</button>
            <button theme="secondary" (click)="changeTheme()">Change Theme!</button>
        </div>
    </novo-table-header>
    <div classs="table-message" table-empty-message><i class="bhi-search-question"></i> Custom Empty State Template! Click RELOAD to get Data!</div>
    <div classs="table-message" table-no-matching-records-message><i class="bhi-search-question"></i>  Custom No Matched Records</div>
</novo-table>