$quick-note-height: 200px;

novo-quick-note, .quick-note-wrapper {
    min-height: $quick-note-height;
    max-height: $quick-note-height;
    position: relative;

    textarea {
        resize: none;
        -webkit-text-fill-color: transparent;
    }

    .quick-note-overlay {
        position: absolute;
        white-space: pre-wrap;
        word-wrap: break-word;
        background-color: rgba(0, 0, 0, 0);
        pointer-events: none;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &:empty:before {
            content: attr(placeholder);
            display: block;
            color: $grey;
        }
    }

    .quick-note-overlay, textarea {
        min-height: $quick-note-height;
        max-height: $quick-note-height;
        width: 100%;
        border: none;
        overflow: auto;
        padding: 10px;

        &:focus {
            outline: none;
        }
    }

    quick-note-results, .quick-note-results {
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 100%;
        min-width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0 !important;
        border: none !important;

        ul {
            width: 100%;

            li {
                margin: 0 !important;
            }
        }
    }
}
