novo-quick-note,
.quick-note-wrapper {
    width: 100%;
    height: 200px;
    position: relative;
    // Remove any unnecessary padding from the CKEditor toolbar
    .cke_top {
        padding-top: 4px;
        padding-bottom: 0;
        padding-left: 3px;
        padding-right: 3px;
        .cke_toolbar {
            .cke_combo_text {
                padding-left: 7px;
            }
            .cke_combo_open {
                margin-left: 4px;
            }
            .cke_combo__fontsize .cke_combo_text {
                width: 24px;
            }
        }
    }
    quick-note-results,
    .quick-note-results {
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 100%;
        min-width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0 !important;
        border: none !important;
        ul {
            width: 100%;
            li {
                margin: 0 !important;
            }
        }
    }
}
