@import "../../styles/variables.scss";

:host {
  flex: 1;
  position: relative;
  // display: block;
  display: flex;
  flex-flow: row nowrap;
  height: min-content;

  &.disabled {
    pointer-events: none;
    opacity: 1;
  }
  .date-range-input-container {
    position: relative;
    height: min-content;
  }
  .date-range-input-divider {
    font-weight: 800;
    margin: 0 0.5em;
    align-self: center;
    height: min-content;
  }

  input {
    font-size: 1em;
    border: none;
    border-bottom: 1px solid var(--border);
    background: transparent !important;
    border-radius: 0;
    outline: none;
    height: 2rem;
    width: 9em;
    margin: 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 300ms;
    color: var(--text-main);
    &:focus {
      border-bottom: 1px solid $ocean;
    }
  }
  novo-icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1em;
  }
  novo-icon[size="small"] {
    top: calc(50% - 0.75em);
    font-size: 0.5em;
  }
}
