chips,
entity-chips {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom: 1px solid #EAEAEA;
    transition: all 200ms ease-in-out;
    position: relative;
    padding: 5px 20px 5px 0;
    &.with-value {
        margin-bottom: 20px;
    }
    &:hover {
        border-bottom: 1px solid lighten($dark, 45%);
    }
    &.selected,
    &.selected:hover {
        border-bottom: 1px solid $positive;
        &+i {
            color: $positive;
        }
    }
    chip {
        display: flex;
        flex-grow: inherit;
        align-items: center;
        justify-content: space-between;
        background: #EEEEEE;
        border-radius: 4px;
        padding: 0.5em 0.75em;
        margin-right: 5px;
        margin-bottom: 5px;
        width: auto;
        max-width: 180px;
        border: 1px solid transparent;
        transition: all 200ms ease-in-out;
        span {
            color: darken(#eee, 45%);
            vertical-align: middle;
            display: flex;
            align-items: center;
            span {
                max-width: 115px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: block;
            }
            i {
                font-size: 0.8em;
                &:before {
                    vertical-align: baseline !important;
                }
            }
        }
        i.bhi-close {
            margin-left: 10px;
            cursor: pointer;
            color: darken(#eee, 15%);
            &:before {
                vertical-align: baseline;
            }
            &:hover {
                color: darken(#eee, 35%);
            }
        }
        &.selected {
            border: 1px solid $positive;
        }
    }
    .chip-input-container {
        flex-grow: 4;
        input {
            padding-top: 0;
            border: none;
            background: transparent;
            width: 100%;
            &:focus {
                outline: none;
            }
        }
    }
    novo-picker {
        position: inherit;
        >i {
            display: none;
        }
        div.picker-results-container {
            left: 0;
        }
    }
    label.clear-all {
        flex: 1 100%;
        position: absolute;
        right: 0;
        bottom: -20px;
        font-size: 0.9rem;
        color: $negative;
        cursor: pointer;
        display: flex;
        align-items: center;
        i {
            font-size: 0.7rem;
            padding-bottom: 2px;
            margin-left: 5px;
        }
    }
    i.bhi-search {
        position: absolute;
        bottom: 8px;
        right: 0;
        font-size: 1.2em;
    }
}

chips,
entity-chips {
    &+i {
        position: absolute;
        right: 0;
        bottom: 7px;
    }
}

chips,
entity-chips {
    chip {
        span {
            &.contact {
                color: $positive;
                i {
                    color: $contact;
                }
            }
            &.company {
                color: $positive;
                i {
                    color: $company;
                }
            }
            &.candidate {
                color: $positive;
                i {
                    color: $candidate;
                }
            }
            &.job {
                color: $positive;
                i {
                    color: $job;
                }
            }
            &.placement {
                color: $positive;
                i {
                    color: $placement;
                }
            }
            &.opportunity {
                color: $positive;
                i {
                    color: $opportunity;
                }
            }
            &.lead {
                color: $positive;
                i {
                    color: $lead;
                }
            }
        }
    }
    picker-results {
        position: absolute;
        color: black;
        novo-list {
            max-height: 600px;
            overflow: auto;
            novo-list-item {
                flex: 0 0;
                transition: background-color 250ms;
                &>div {
                    width: 100%;
                }
                &.active {
                    background-color: lighten($positive, 35%);
                }
                &:hover {
                    background-color: lighten($positive, 39%);
                }
                item-content {
                    flex-flow: row wrap;
                    &>* {
                        flex: 0 0 33%;
                        white-space: nowrap;
                    }
                }
            }
        }
        .error-results,
        .no-recents,
        .null-results {
            text-align: center;
            padding: 1em 0 4em;
            >i {
                font-size: 3em;
                margin: 0.5em;
                color: rgba(0, 0, 0, .3);
            }
            >h4,
            >p {
                margin: 0;
                max-width: none;
                padding: 0;
            }
            >h4 {
                font-weight: 500;
            }
            >p {}
        }
        section {
            box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.25);
            z-index: 9;
            position: absolute;
            width: 100%;
            background-color: white;
            color: black;
        }
    }
}

entity-chip-results {
    max-width: none !important;
}
