name: Deploy to Preview Channel

on: pull_request

env:
  IS_FORK: ${{ github.event.pull_request.head.repo.full_name != github.repository }}
  IS_DEPENDABOT: ${{ github.actor == 'dependabot[bot]' || github.actor == 'dependabot-preview[bot]' }}

jobs:
  build_and_preview:
    if: '${{ github.event.pull_request.head.repo.full_name == github.repository }}'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: 20.10.0

      - run: npm ci && npm run build:ci && npm run build:examples && npm run build:demo
      - name: Install Chrome dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ca-certificates fonts-liberation libasound2 libatk-bridge2.0-0 libatk1.0-0 libc6 libcairo2 libcups2 libdbus-1-3 libexpat1 libfontconfig1 libgbm1 libgcc1 libglib2.0-0 libgtk-3-0 libnspr4 libnss3 libpango-1.0-0 libpangocairo-1.0-0 libstdc++6 libx11-6 libx11-xcb1 libxcb1 libxcomposite1 libxcursor1 libxdamage1 libxext6 libxfixes3 libxi6 libxrandr2 libxrender1 libxss1 libxtst6 lsb-release wget xdg-utils
      - name: Deploy preview
        id: firebase_deploy
        uses: FirebaseExtended/action-hosting-deploy@v0
        if: ${{ env.IS_FORK == 'false' && env.IS_DEPENDABOT == 'false' }}
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_NOVO_ELEMENTS }}'
          projectId: novo-elements
          expires: 7d
          firebaseToolsVersion: 12.9.1
      - name: Wait for preview to be ready
        if: ${{ env.IS_FORK == 'false' && env.IS_DEPENDABOT == 'false' }}
        run: sleep 20
      - name: Run E2E Tests
        if: ${{ env.IS_FORK == 'false' && env.IS_DEPENDABOT == 'false' }}
        run: |
          E2E_BASE_URL=${{ steps.firebase_deploy.outputs.details_url }} npm run e2e
      - name: Upload E2E Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: e2e-test-results
          path: projects/novo-e2e/test-reports/
          retention-days: 30

concurrency:
  group: firebase-${{ github.head_ref }}
  cancel-in-progress: true