name: Release GhPages
on: 
  workflow_dispatch:

jobs:
  release_demo:
    name: Release Demo
    runs-on: ubuntu-latest
    timeout-minutes: 25
    strategy:
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: 14.19.3
      - name: Install Dependencies
        run: |
          npm ci
      - name: Bump And Release
        uses: bvkimball/bump-and-release@main
        with:
          git-user-email: 'bvkimball@users.noreply.github.com'
          skip-bump: true
          skip-docs: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}