name: Release Novo Elements (new)
on: 
  workflow_dispatch:
    inputs:
      dry-run:
        type: boolean
        description: Dry Run

jobs:
  build_and_release:
    name: Build & Publish
    runs-on: ubuntu-latest
    timeout-minutes: 25
    strategy:
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          token: ${{ secrets.BH_GIT_TOKEN }}
      - name: Setup NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: 14.15.0
      - name: Install Dependencies
        run: |
          npm ci
      - name: Building Projects
        run: |
          npm run build:ci
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.BH_GIT_TOKEN }}
          NPM_AUTH_TOKEN: ${{ secrets.NE_NPM_TOKEN }}
        run: |
          npx semantic-release --dry-run ${{ github.event.inputs.skip-bump }}
        

