<novo-stack>
  <novo-field [layout]="layout.value" [appearance]="appearance.value">
    <novo-label>{{label.value}}</novo-label>
    <input novoInput type="number" class="example-right-align" [disabled]="disabled.value"
      [required]="required.value" />
    <span novoPrefix *ngIf="prefix.value?.length">{{prefix.value}}</span>
    <span novoSuffix *ngIf="suffix.value=='text'">.00</span>
    <novo-picker-toggle novoSuffix icon="calendar" *ngIf="suffix.value=='date'">
      <novo-date-picker #daterangepicker mode="range" numberOfMonths="2"></novo-date-picker>
    </novo-picker-toggle>
    <novo-hint>Enter some money</novo-hint>
  </novo-field>
</novo-stack>

<novo-row align="start" bg="secondary">
  <novo-fields layout="vertical">
    <novo-field>
      <novo-label>Layout</novo-label>
      <novo-radio-group #layout value="vertical">
        <novo-radio name="layout" value="vertical">vertical</novo-radio>
        <novo-radio name="layout" value="horizontal">horizontal</novo-radio>
      </novo-radio-group>
    </novo-field>

    <novo-field>
      <novo-label>Required</novo-label>
      <novo-radio-group #required [value]="false">
        <novo-radio name="required" [value]="true">Yes</novo-radio>
        <novo-radio name="required" [value]="false">No</novo-radio>
      </novo-radio-group>
    </novo-field>

    <novo-field>
      <novo-label>Disabled</novo-label>
      <novo-radio-group #disabled [value]="false">
        <novo-radio name="disabled" [value]="true">Yes</novo-radio>
        <novo-radio name="disabled" [value]="false">No</novo-radio>
      </novo-radio-group>
    </novo-field>

    <novo-field>
      <novo-label>Appearance</novo-label>
      <novo-radio-group #appearance value="standard" appearance="vertical">
        <novo-radio value="standard">Standard</novo-radio>
        <novo-radio value="fill">Filled</novo-radio>
        <novo-radio value="outline">Outlined</novo-radio>
        <novo-radio value="list">List</novo-radio>
      </novo-radio-group>
    </novo-field>
  </novo-fields>

  <novo-fields layout="vertical">


    <novo-field>
      <novo-label>Label</novo-label>
      <input #label novoInput type="text" value="Field Label" />
    </novo-field>

    <novo-field>
      <novo-label>Prefix</novo-label>
      <input #prefix novoInput type="text" value="$&nbsp;" />
    </novo-field>

    <novo-field>
      <novo-label>Suffix</novo-label>
      <novo-radio-group #suffix appearance="vertical" value="none">
        <novo-radio name="suffix" value="none">none</novo-radio>
        <novo-radio name="suffix" value="text">text</novo-radio>
        <novo-radio name="suffix" value="date">picker</novo-radio>
      </novo-radio-group>
    </novo-field>


  </novo-fields>

</novo-row>




<!-- 



<novo-field>
  <novo-label>Favorite food</novo-label>
  <input novoInput placeholder="Ex. Pizza" value="Sushi" />
</novo-field>

<novo-field>
  <novo-label>Leave a comment</novo-label>
  <textarea novoInput placeholder="Ex. It makes me feel..."></textarea>
</novo-field>

<novo-field>
  <novo-label>Set an Alarm</novo-label>
  <input novoInput [(ngModel)]="time" timeFormat="iso8601" [picker]="timepicker" />
  <novo-picker-toggle novoSuffix icon="clock">
    <novo-time-picker #timepicker></novo-time-picker>
  </novo-picker-toggle>
  <novo-hint>value is: {{time}}</novo-hint>
</novo-field>

<novo-field>
  <novo-label>Date of Birth</novo-label>
  <input novoInput dateFormat="iso8601" [picker]="datepicker" [(ngModel)]="date" />
  <novo-picker-toggle novoSuffix icon="calendar">
    <novo-date-picker #datepicker></novo-date-picker>
  </novo-picker-toggle>
  <novo-hint>value is: {{date}}</novo-hint>

</novo-field>

<novo-field>
  <novo-label>Need a Vacation?</novo-label>
  <input novoInput dateRangeFormat="iso8601" [picker]="daterangepicker" [(ngModel)]="daterange" />
  <novo-picker-toggle novoSuffix icon="calendar">
    <novo-date-picker #daterangepicker mode="range" numberOfMonths="2"></novo-date-picker>
  </novo-picker-toggle>
  <novo-hint>value is: {{daterange}}</novo-hint>

</novo-field>



<novo-fieldset-header icon="calendar" title="Add Day Of Week"></novo-fieldset-header>

<novo-field>
  <novo-label>Date of Birth</novo-label>
  <novo-text novoPrefix mr="sm">{{date2 | date : 'EEE' }}</novo-text>
  <input novoInput dateFormat="iso8601" [picker]="datepicker2" [(ngModel)]="date2" disabled readonly />
  <novo-picker-toggle novoSuffix icon="calendar">
    <novo-date-picker #datepicker2></novo-date-picker>
  </novo-picker-toggle>
  <novo-hint>value is: {{date2}}</novo-hint>
</novo-field>

<novo-fieldset-header icon="section" title="Section Header"></novo-fieldset-header>

<novo-field>
  <novo-label>
    <novo-flex justify="space-between">
      <span>Effective On</span>
      <novo-chip size="sm" accent="success">current</novo-chip>
    </novo-flex>
  </novo-label>
  <novo-select value="08/01/2021">
    <novo-option value="08/01/2021">
      <novo-text>08/01/2021</novo-text>
      <novo-chip accent="success">current</novo-chip>
    </novo-option>
    <novo-option value="09/01/2021">
      <novo-text>09/01/2021</novo-text>
    </novo-option>
  </novo-select>
  <novo-icon novoPrefix>previous</novo-icon>
  <novo-icon novoSuffix>next</novo-icon>
</novo-field> -->