<novo-nav theme="white" [outlet]="colorVert" direction="vertical">
  <novo-tab>
      <span>
          <i class="bhi-person"></i>Tab 1</span>
  </novo-tab>
  <novo-tab>
      <span>
          <i class="bhi-person"></i>Tab 2</span>
  </novo-tab>
  <novo-tab [disabled]="true">
      <span>
          <i class="bhi-person"></i>Tab 3</span>
  </novo-tab>
</novo-nav>

<novo-nav-outlet #colorVert>
  <novo-nav-content>
      <h1>Tab 1 Content</h1>

      <p>
          Synth polaroid bitters chillwave pickled. Vegan disrupt tousled,
          Portland keffiyeh aesthetic food truck sriracha cornhole
          single-origin coffee church-key roof party. Leggings
          ethical McSweeney's, normcore you probably haven't
          heard of them Marfa organic squid. Slow-carb 90's
          ennui Godard pug asymmetrical, narwhal VHS Tonx High
          Life. Retro dreamcatcher synth Godard pickled Etsy
          jean shorts beard, pour-over fanny pack mumblecore.
          Quinoa retro aesthetic polaroid, Williamsburg American
          Apparel plaid small batch. Blue Bottle Vice fanny
          pack, Williamsburg roof party Wes Anderson mlkshk
          seitan brunch before they sold out lo-fi XOXO tofu
          scenester small batch.
      </p>
  </novo-nav-content>
  <novo-nav-content>
      <h1>Tab 2 Content</h1>

      <p>
          Synth polaroid bitters chillwave pickled.
      </p>
  </novo-nav-content>
</novo-nav-outlet>
