.cal-week-view {
  position: relative;
  
  .cal-day-headers {
    display: flex;
    border: 1px solid #e1e1e1;
  }

  .cal-day-headers .cal-header {
    flex: 1;
    text-align: center;
    padding: 5px;
    background-color: $off-white;
  }

  .cal-day-headers .cal-header:not(:last-child) {
    border-right: 1px solid #e1e1e1;
  }

  .cal-day-headers .cal-header:hover,
  .cal-day-headers .cal-drag-over {
    background-color: #ededed;
  }

  .cal-day-headers span {
    font-weight: 400;
    opacity: 0.5;
  }

  // .cal-event-container {
  //   display: inline-block;
  // }
  .cal-event-container {
    position: absolute;
  }
  .cal-event {
    font-size: 12px;
    margin-left: 2px;
    margin-right: 2px;
    min-height: 30px;
    display: flex;
    flex-flow: column;
    background-color: $off-white;

    .cal-event-ribbon {
      min-height:4px;
      width: 100%;
    }
    .cal-event-title {
        padding: 0px 10px;
        line-height: 26px;
        flex: 1;
    }
    .cal-event-description {
      font-size: 10px;
      line-height: 13px;
      padding: 0px 10px;
    }
  }

  .cal-draggable {
    cursor: move;
  }

  .cal-header.cal-today {
    background-color: #e8fde7;
  }

  .cal-header.cal-weekend span {
    color: #8b0000;
  }

  .cal-event,
  .cal-header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}