@import "../../../styles/variables.scss";
@import "../typography/text.mixins.scss";
// @import "../style/menu-common";
// @import "../style/vendor-prefixes";

.novo-optgroup-label {
  @include novo-label-medium();
  color: $grey;
  cursor: default;
  flex: 1;
  padding: 5px 10px;
  display: block;
}
