<novo-nav theme="white" [outlet]="condensed" condensed="true">
  <novo-tab>
      <span><i class="bhi-person"></i>Tab 1</span>
  </novo-tab>
  <novo-tab>
      <span><i class="bhi-person"></i>Tab 2</span>
  </novo-tab>
  <novo-tab [disabled]="true">
      <span><i class="bhi-person"></i>Tab 3</span>
  </novo-tab>
</novo-nav>


<novo-nav-outlet #condensed>
  <novo-nav-content>
      <h1>Tab 1 Content</h1>
  </novo-nav-content>
  <novo-nav-content>
      <h1>Tab 2 Content</h1>
  </novo-nav-content>
</novo-nav-outlet>
